src/flows/Attached_Docket_Subflow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Create_Docket_Fault</name>
        <label>Create Docket Fault</label>
        <locationX>271</locationX>
        <locationY>385</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Create_Docket_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Docket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>Attached Docket</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign_variable</name>
        <label>Assign variable</label>
        <locationX>87</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>EnterMoreCases</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_additional_cases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MandateCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mandated_Days_Sessions</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Accepted_for_Intake</name>
        <choiceText>Accepted for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted for Intake</stringValue>
        </value>
    </choices>
    <choices>
        <name>Active_Hold</name>
        <choiceText>Active Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Air_Force</name>
        <choiceText>Air Force</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Air Force</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_START_parts</name>
        <choiceText>All START parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All START parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Indian_Alaskan_Native</name>
        <choiceText>American Indian/Alaskan Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian/Alaskan Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Sign_Language</name>
        <choiceText>American Sign Language</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Sign Language</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR1</name>
        <choiceText>AR1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR1</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2</name>
        <choiceText>AR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2A</name>
        <choiceText>AR2A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3</name>
        <choiceText>AR3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3A</name>
        <choiceText>AR3A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR4</name>
        <choiceText>AR4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Army</name>
        <choiceText>Army</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Army</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrest_Charges</name>
        <choiceText>Arrest Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrest Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arthritis_Joint_Disorder</name>
        <choiceText>Arthritis/ Joint Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arthritis/ Joint Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASC</name>
        <choiceText>ASC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Pacific_Islander</name>
        <choiceText>Asian/Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian/Pacific Islander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asthma</name>
        <choiceText>Asthma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asthma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aunt_Uncle</name>
        <choiceText>Aunt/ Uncle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt/Uncle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Conduct</name>
        <choiceText>Bad Conduct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Conduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BTP1</name>
        <choiceText>BTP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancer</name>
        <choiceText>Cancer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cantonese</name>
        <choiceText>Cantonese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cantonese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chinese</name>
        <choiceText>Chinese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chinese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coast_Guard</name>
        <choiceText>Coast Guard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coast Guard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Community_Case_Management</name>
        <choiceText>Community Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Considerably</name>
        <choiceText>Considerably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Considerably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conviction_Charges</name>
        <choiceText>Conviction Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conviction Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coronary_Heart_Disease</name>
        <choiceText>Coronary Heart Disease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coronary Heart Disease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Rep_Rejected</name>
        <choiceText>Court Rep. Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Rep. Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creole</name>
        <choiceText>Creole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Criminal</name>
        <choiceText>Criminal</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RecordtypeCriminalCourt</elementReference>
        </value>
    </choices>
    <choices>
        <name>Criminal_Court_Arraignment_Charges</name>
        <choiceText>Criminal Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criminal Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>DA_Offered_Non_Jail_Sentence</name>
        <choiceText>DA Offered Non-Jail Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DA Offered Non-Jail Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT</name>
        <choiceText>DAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desk Appearance Ticket (DAT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daytime_Custody</name>
        <choiceText>Daytime Custody</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defendant_Refused</name>
        <choiceText>Defendant Refused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant Refused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney</name>
        <choiceText>Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney_Refused</name>
        <choiceText>Defense Attorney Refused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney Refused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dementia</name>
        <choiceText>Dementia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diabetes</name>
        <choiceText>Diabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_Attorney</name>
        <choiceText>District Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Domestic_Partner</name>
        <choiceText>Domestic Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domestic Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_F_T</name>
        <choiceText>Employed F/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed F/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_P_T</name>
        <choiceText>Employed P/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed P/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extremely</name>
        <choiceText>Extremely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_Court_Arraignment_Charges</name>
        <choiceText>Family Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_Reproductive_Issues</name>
        <choiceText>Female Reproductive Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female Reproductive Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Food_Stamps</name>
        <choiceText>SNAP/Food Stamps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SNAP/Food Stamps</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Honorable_Conditions</name>
        <choiceText>General (Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_without_Honorable_Conditions</name>
        <choiceText>General (without Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (without Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genital_Urinary_Disorder</name>
        <choiceText>Genital/ Urinary Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genital/ Urinary Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Girl_Boy_Friend</name>
        <choiceText>Girl/Boy Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Girl/Boy Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grandparent</name>
        <choiceText>Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Greek</name>
        <choiceText>Greek</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Greek</stringValue>
        </value>
    </choices>
    <choices>
        <name>Head_Injury</name>
        <choiceText>Head Injury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head Injury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hepatitis_Cirrhosis</name>
        <choiceText>Hepatitis/ Cirrhosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hepatitis/ Cirrhosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hispanic_Latino</name>
        <choiceText>Hispanic/ Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic/ Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>HIV_AIDS</name>
        <choiceText>HIV/AIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HIV/AIDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless</name>
        <choiceText>Homeless</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless, No Perm Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Honorable</name>
        <choiceText>Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hyperlipidemia_High_Cholesterol</name>
        <choiceText>Hyperlipidemia (High Cholesterol)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hyperlipidemia (High Cholesterol)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hypertension_High_Blood_Pressure</name>
        <choiceText>Hypertension (High Blood Pressure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension (High Blood Pressure)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indic</name>
        <choiceText>Indic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indictment_Charges</name>
        <choiceText>Indictment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indictment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jail</name>
        <choiceText>Jail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japanese</name>
        <choiceText>Japanese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japanese</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP5</name>
        <choiceText>JP5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Choice</name>
        <choiceText>Judge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Refuses_to_Consider</name>
        <choiceText>Judge Refuses to Consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Refuses to Consider</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lives_Outside_NYC</name>
        <choiceText>Lives Outside NYC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lives Outside NYC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mandarin</name>
        <choiceText>Mandarin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandarin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marine_Corps</name>
        <choiceText>Marine Corps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marine Corps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medicaid</name>
        <choiceText>Medicaid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicaid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medicare</name>
        <choiceText>Medicare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moderately</name>
        <choiceText>Moderately</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navy</name>
        <choiceText>Navy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neurological_Disorder</name>
        <choiceText>Neurological Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neurological Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_Offer</name>
        <choiceText>No Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Offer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Hispanic_Non_Latino</name>
        <choiceText>Non Hispanic/ Non Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Hispanic/ Non Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Jail_Disposition</name>
        <choiceText>Non-Jail Disposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Jail Disposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all</name>
        <choiceText>Not at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Entered</name>
        <choiceText>Not Entered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Entered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obesity</name>
        <choiceText>Obesity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obesity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Osteoporosis</name>
        <choiceText>Osteoporosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Osteoporosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relative</name>
        <choiceText>Other Relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Than_Honorable</name>
        <choiceText>Other Than Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Than Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Probation_Officer_Unavailable_for_Consent</name>
        <choiceText>Parole/ Probation Officer Unavailable for Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole/ Probation Officer Unavailable for Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Rejected</name>
        <choiceText>Parole Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical</name>
        <choiceText>Physical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plea_Finding_Charges</name>
        <choiceText>Plea/Finding Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plea/Finding Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Polish</name>
        <choiceText>Polish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Polish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Residence</name>
        <choiceText>Private Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_Rejected</name>
        <choiceText>Probation Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychotropic</name>
        <choiceText>Psychotropic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychotropic</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_A</name>
        <choiceText>PT A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT A</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_B</name>
        <choiceText>PT B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT B</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_C</name>
        <choiceText>PT C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT C</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_D</name>
        <choiceText>PT D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT D</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_E</name>
        <choiceText>PT E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT E</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_F</name>
        <choiceText>PT F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT F</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_N</name>
        <choiceText>PT N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Assistance_TANF</name>
        <choiceText>Public Assistance/TANF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Assistance/TANF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Russian</name>
        <choiceText>Russian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated_Divorced</name>
        <choiceText>Separated/ Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated/ Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter</name>
        <choiceText>Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter/Undomiciled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slightly</name>
        <choiceText>Slightly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse/CL</stringValue>
        </value>
    </choices>
    <choices>
        <name>START</name>
        <choiceText>START</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>START</stringValue>
        </value>
    </choices>
    <choices>
        <name>STD</name>
        <choiceText>STD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplemental_Security_Income_SSI_SSD</name>
        <choiceText>Supplemental Security Income (SSI/SSD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplemental Security Income (SSI/SSD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supported_Housing</name>
        <choiceText>Supported Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supported Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supreme</name>
        <choiceText>Supreme</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RecordtypeSupremeCourt</elementReference>
        </value>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Readiness_Program</name>
        <choiceText>Treatment Readiness Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuberculosis</name>
        <choiceText>Tuberculosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuberculosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ulcer_Gastrointestinal_Disorder</name>
        <choiceText>Ulcer/ Gastrointestinal Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ulcer/ Gastrointestinal Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployment_Union_Benefits</name>
        <choiceText>Unemployment/ Union Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployment/ Union Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urdu</name>
        <choiceText>Urdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veteran_s_Benefits</name>
        <choiceText>Veteran&apos;s Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veteran&apos;s Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vietnamese</name>
        <choiceText>Vietnamese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vietnamese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary</name>
        <choiceText>Voluntary</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Wages_salary_self_employed</name>
        <choiceText>Wages/salary/self-employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wages/salary/self-employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Day</name>
        <choiceText>Week Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Night</name>
        <choiceText>Week Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend_Night</name>
        <choiceText>Weekend Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekend Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12th_floor_bridge</name>
        <choiceText>12th floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12th floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1535b</name>
        <choiceText>1535b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1535b</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X3rd_floor_bridge</name>
        <choiceText>3rd floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X8_00_am</name>
        <choiceText>8:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yiddish</name>
        <choiceText>Yiddish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yiddish</stringValue>
        </value>
    </choices>
    <label>Attached Docket Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Docket</name>
        <label>Create Docket</label>
        <locationX>88</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Assign_variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Docket_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Intake_Docket__c</field>
            <value>
                <elementReference>MasterDocketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Docket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Mandate__c</field>
            <value>
                <elementReference>Mandated_Days_Sessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Court</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Information__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Criminal_Court_Recordtype</name>
        <label>Get Criminal Court Recordtype</label>
        <locationX>194</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Attached_Docket</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case - Criminal Court</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>RecordtypeCriminalCourt</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Supreme_Court_Recordtype</name>
        <label>Get Supreme Court Recordtype</label>
        <locationX>51</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Criminal_Court_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case - Supreme Court</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>RecordtypeSupremeCourt</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_Docket_Fault_Screen</name>
        <label>Create Docket Fault Screen</label>
        <locationX>420</locationX>
        <locationY>390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateDocketFaultDesc</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Enter_Attached_Docket</name>
        <label>Enter Attached Docket</label>
        <locationX>94</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Docket</targetReference>
        </connector>
        <fields>
            <name>AttachedDocketDesc</name>
            <fieldText>Enter the Docket # and Mandate for an attached case. You will be able to edit additional information for this case (judge, attorney, conviction date, etc), after the screening process is complete. 

The mandated days/sessions will be added to the total for this client, though you will have a chance to edit the total amount after you are finished entering all of the attached cases.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Docket</name>
            <dataType>String</dataType>
            <fieldText>Docket #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mandated_Days_Sessions</name>
            <dataType>Number</dataType>
            <fieldText>Mandated Days/Sessions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Court</name>
            <choiceReferences>Criminal</choiceReferences>
            <choiceReferences>Supreme</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Court</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_additional_cases</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter another attached case?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Supreme_Court_Recordtype</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Attached_Case_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnterMoreCases</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MandateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MasterDocketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeCriminalCourt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeSupremeCourt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
