src/flows/BJMHS_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>117</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoDontCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>YesCreateAssmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brief_Jail_Mental_Health_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_BJMHS_Exist</name>
        <label>Does BJMHS Exist?</label>
        <locationX>238</locationX>
        <locationY>32</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Exists</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brief_Jail_Mental_Health_Screen</targetReference>
            </connector>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <description>Assessment Subflow, added accountid input, moved input screen</description>
    <dynamicChoiceSets>
        <name>IsActive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Client_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <description>logged in user</description>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>BJMHS Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BJMHS Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>BJMHS_Assmt_Container</name>
        <label>BJMHS Assmt Container</label>
        <locationX>313</locationX>
        <locationY>351</locationY>
        <assignRecordIdToReference>assmtContainerId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_BJMHS</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentCode__c</field>
            <value>
                <elementReference>assmtCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentName__c</field>
            <value>
                <elementReference>assmtName</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_BJMHS</name>
        <label>Create BJMHS</label>
        <locationX>319</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>BJMHSId</assignRecordIdToReference>
        <connector>
            <targetReference>lookup_BJMHS</targetReference>
        </connector>
        <inputAssignments>
            <field>AssessmentContainerId__c</field>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q1_Mind_Control__c</field>
            <value>
                <elementReference>BJMHS_Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q2_Mind_Reading__c</field>
            <value>
                <elementReference>BJMHS_Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q3_weight_Gain__c</field>
            <value>
                <elementReference>BJMHS_Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4_More_Active__c</field>
            <value>
                <elementReference>BJMHS_Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q5_Talking_Slowly__c</field>
            <value>
                <elementReference>BJMHS_Q5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q6_Feel_Sinful__c</field>
            <value>
                <elementReference>BJMHS_Q6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q7_Taking_Medication__c</field>
            <value>
                <elementReference>BJMHS_Q7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q8_Hospital__c</field>
            <value>
                <elementReference>BJMHS_Q8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Recommended_by_Screener__c</field>
            <value>
                <elementReference>Referral_Recommended_by_Screener</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Notes__c</field>
            <value>
                <elementReference>BJMHS_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>BJMHS__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Assmt_List</name>
        <label>Lookup Assmt List</label>
        <locationX>310</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BJMHS_Assmt_Container</targetReference>
        </connector>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BJMHS</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssessmentList__c</object>
        <outputAssignments>
            <assignToReference>assmtCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtName</assignToReference>
            <field>assessmentName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_BJMHS</name>
        <label>lookup BJMHS</label>
        <locationX>322</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Container</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BJMHSId</elementReference>
            </value>
        </filters>
        <object>BJMHS__c</object>
        <outputAssignments>
            <assignToReference>BJMHSScore</assignToReference>
            <field>Result__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_Assmt_Container</name>
        <label>Search Assmt_Container</label>
        <locationX>75</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_BJMHS_Exist</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BJMHS</stringValue>
            </value>
        </filters>
        <object>AssessmentContainer__c</object>
        <outputAssignments>
            <assignToReference>assmtContainerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Container</name>
        <label>Update Container</label>
        <locationX>325</locationX>
        <locationY>644</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Completed_by__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Completed_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>BJMHSScore</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Exists</name>
        <label>Assessment Exists</label>
        <locationX>146</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Assessment</targetReference>
        </connector>
        <fields>
            <name>assmtExist</name>
            <fieldText>A {!assmtName} assessment already exists for this client id.  It was created on {!assmtCompletedOn} by {!assmtCompletedBy}.  Do you want to create another assessment or go to next step?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_another_assessment</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Brief_Jail_Mental_Health_Screen</name>
        <label>Brief Jail Mental Health Screen</label>
        <locationX>311</locationX>
        <locationY>171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Assmt_List</targetReference>
        </connector>
        <fields>
            <name>BJMHSTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Brief Jail Mental Health Screening&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q1_Output</name>
            <fieldText>Question 1</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q1</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Do you currently believe that someone can control your mind by putting thoughts into your head or taking thoughts out of your head?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q2_Output</name>
            <fieldText>Question 2</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q2</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Do you currently feel that other people know your thoughts and can read your mind?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q3_Output</name>
            <fieldText>Question 3</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q3</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Have you currently lost or gained as much as two pounds a week for several weeks without even trying?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q4_Output</name>
            <fieldText>Question 4</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q4</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Have you or your family or friends noticed that you are currently much more active than you usually are?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q5_Output</name>
            <fieldText>Question 5</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q5</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Do you currently feel like you have to talk or move more slowly than you usually do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q6_Output</name>
            <fieldText>Question 6</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q6</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Have there currently been a few weeks when you felt like you were useless or sinful?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q7_Output</name>
            <fieldText>Question 7</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q7</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Are you currently taking any medication prescribed for you by a physician for any emotional or mental health problems?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Q8_Output</name>
            <fieldText>Question 8</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BJMHS_Q8</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Have you ever been in a hospital for emotional or mental health problems?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHSResultsSectionDesc</name>
            <fieldText>Results</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referral_Recommended_by_Screener</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Select &quot;Yes&quot; to recommend a referral regardless of the screening&apos;s outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BJMHS_Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Search_Assmt_Container</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedOn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtContainerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the BJMHS object record</description>
        <name>BJMHSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BJMHSScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Interview_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
