src/flows/CEP_Basic_Client_Data-19.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Update_Account_Fault</name>
        <label>Update Account Fault</label>
        <locationX>263</locationX>
        <locationY>323</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <elementReference>Update_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Basic Client Data</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Case_Information_Fault</name>
        <label>Update Case Information Fault</label>
        <locationX>260</locationX>
        <locationY>212</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Case_Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Basic Client Data</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Contact_Fault</name>
        <label>Update Contact Fault</label>
        <locationX>255</locationX>
        <locationY>434</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Basic Client Data</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AA40</name>
        <choiceText>AA40</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AA40</stringValue>
        </value>
    </choices>
    <choices>
        <name>AA60</name>
        <choiceText>AA60</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AA60</stringValue>
        </value>
    </choices>
    <choices>
        <name>AA70</name>
        <choiceText>AA70</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AA70</stringValue>
        </value>
    </choices>
    <choices>
        <name>ACD_C</name>
        <choiceText>ACD-C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACD-C</stringValue>
        </value>
    </choices>
    <choices>
        <name>ACD_S</name>
        <choiceText>ACD-S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ACD-S</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALJ</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ1</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AP1</name>
        <choiceText>AP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP10</name>
        <choiceText>AP10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP10</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP1F</name>
        <choiceText>AP1F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP1F</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP2</name>
        <choiceText>AP2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP3</name>
        <choiceText>AP3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP3</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP4</name>
        <choiceText>AP4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP4</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP5</name>
        <choiceText>AP5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP5</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP6</name>
        <choiceText>AP6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP6</stringValue>
        </value>
    </choices>
    <choices>
        <name>AP_D</name>
        <choiceText>AP-D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AP-D</stringValue>
        </value>
    </choices>
    <choices>
        <name>APA4</name>
        <choiceText>APA4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APA4</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAP6</name>
        <choiceText>APAP6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAP6</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR1</name>
        <choiceText>APAR1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR1</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR2</name>
        <choiceText>APAR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR3</name>
        <choiceText>APAR3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR3</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR3A</name>
        <choiceText>APAR3A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR3A</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR4</name>
        <choiceText>APAR4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR4</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR4A</name>
        <choiceText>APAR4A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR4A</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAR6</name>
        <choiceText>APAR6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAR6</stringValue>
        </value>
    </choices>
    <choices>
        <name>APF1</name>
        <choiceText>APF1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APF1</stringValue>
        </value>
    </choices>
    <choices>
        <name>APR2</name>
        <choiceText>APR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>APY1</name>
        <choiceText>APY1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APY1</stringValue>
        </value>
    </choices>
    <choices>
        <name>APY2</name>
        <choiceText>APY2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APY2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR1</name>
        <choiceText>AR1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR1</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2</name>
        <choiceText>AR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2A</name>
        <choiceText>AR2A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3</name>
        <choiceText>AR3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3A</name>
        <choiceText>AR3A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR4</name>
        <choiceText>AR4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR4</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASC</name>
        <choiceText>ASC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASC_S</name>
        <choiceText>ASC-S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC-S</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attorney</name>
        <choiceText>Attorney</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Boys_Family_Court</name>
        <choiceText>Boys Family Court</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Boys Family Court</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bronx</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brooklyn</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brooklyn_Defenders</name>
        <choiceText>Brooklyn Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Treatment_Court</name>
        <choiceText>Brooklyn Treatment Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BTC</name>
        <choiceText>BTC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>BTP1</name>
        <choiceText>BTP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>CASH_851</name>
        <choiceText>CASH-851</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CASH-851</stringValue>
        </value>
    </choices>
    <choices>
        <name>CASHIER</name>
        <choiceText>CASHIER`</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CASHIER`</stringValue>
        </value>
    </choices>
    <choices>
        <name>CCO</name>
        <choiceText>CCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>CD</name>
        <choiceText>CD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CDS</name>
        <choiceText>CDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Calendar_Screening</name>
        <choiceText>Court Calendar Screening</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Calendar Screening</stringValue>
        </value>
    </choices>
    <choices>
        <name>D</name>
        <choiceText>D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D</stringValue>
        </value>
    </choices>
    <choices>
        <name>D35</name>
        <choiceText>D35</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D35</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT</name>
        <choiceText>DAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT4</name>
        <choiceText>DAT4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DAT4</stringValue>
        </value>
    </choices>
    <choices>
        <name>defaultAccount_Gender_c</name>
        <choiceText>{!defaultAccount.Gender__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultAccount.Gender__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Borough_c</name>
        <choiceText>{!defaultCaseInformation.Borough__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Borough__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Borough_c1</name>
        <choiceText>{!defaultCaseInformation.Borough__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Borough__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Detention_Status_at_SC_Arraignment_c</name>
        <choiceText>{!defaultCaseInformation.Detention_Status_at_SC_Arraignment__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Detention_Status_at_SC_Arraignment__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Court_Rep_c</name>
        <choiceText>{!CourtRepName1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Court_Rep__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Referral_Source_c</name>
        <choiceText>{!defaultContact.Referral_Source__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Referral_Source__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Reporting_Borough_c</name>
        <choiceText>{!defaultContact.Reporting_Borough__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Reporting_Borough__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Reporting_Borough_c1</name>
        <choiceText>!defaultContact.Reporting_Borough__c</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Reporting_Borough__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Reporting_Borough_c2</name>
        <choiceText>{!defaultContact.Reporting_Borough__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Reporting_Borough__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Defendant_or_Family</name>
        <choiceText>Defendant or Family</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant or Family</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney</name>
        <choiceText>Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department_of_Correction</name>
        <choiceText>Department of Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department of Correction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Department_of_Probation</name>
        <choiceText>Department of Probation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Department of Probation</stringValue>
        </value>
    </choices>
    <choices>
        <name>DV</name>
        <choiceText>DV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DV</stringValue>
        </value>
    </choices>
    <choices>
        <name>DV2</name>
        <choiceText>DV2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DV2</stringValue>
        </value>
    </choices>
    <choices>
        <name>E</name>
        <choiceText>E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_14</name>
        <choiceText>F-14</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F-14</stringValue>
        </value>
    </choices>
    <choices>
        <name>FA</name>
        <choiceText>FA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FA</stringValue>
        </value>
    </choices>
    <choices>
        <name>FB</name>
        <choiceText>FB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FB</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_1</name>
        <choiceText>FC-1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-1</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_10</name>
        <choiceText>FC-10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-10</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_2</name>
        <choiceText>FC-2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-2</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_4</name>
        <choiceText>FC-4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-4</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_5</name>
        <choiceText>FC-5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-5</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_6</name>
        <choiceText>FC-6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-6</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_7</name>
        <choiceText>FC-7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-7</stringValue>
        </value>
    </choices>
    <choices>
        <name>FC_8</name>
        <choiceText>FC-8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FC-8</stringValue>
        </value>
    </choices>
    <choices>
        <name>FD</name>
        <choiceText>FD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gender Non-Conforming</stringValue>
        </value>
    </choices>
    <choices>
        <name>GirlRising</name>
        <choiceText>GirlRising</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GirlRising</stringValue>
        </value>
    </choices>
    <choices>
        <name>GR_JURY</name>
        <choiceText>GR JURY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GR JURY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Harlem</name>
        <choiceText>Harlem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Harlem</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_On_Bail</name>
        <choiceText>In On Bail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In On Bail</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP5</name>
        <choiceText>JP5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP5</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP7</name>
        <choiceText>JP7</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP7</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge</name>
        <choiceText>Judge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge</stringValue>
        </value>
    </choices>
    <choices>
        <name>JURY</name>
        <choiceText>JURY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JURY</stringValue>
        </value>
    </choices>
    <choices>
        <name>JURY_1</name>
        <choiceText>JURY 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JURY 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>JURY_13</name>
        <choiceText>JURY 13</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>JURY_2</name>
        <choiceText>JURY 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JURY 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>K4</name>
        <choiceText>K4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K4</stringValue>
        </value>
    </choices>
    <choices>
        <name>K6</name>
        <choiceText>K6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K6</stringValue>
        </value>
    </choices>
    <choices>
        <name>K_DVC</name>
        <choiceText>K-DVC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K-DVC</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Law_Guardian</name>
        <choiceText>Law Guardian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Law Guardian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Aid</name>
        <choiceText>Legal Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>M2</name>
        <choiceText>M2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M2</stringValue>
        </value>
    </choices>
    <choices>
        <name>M3</name>
        <choiceText>M3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M3</stringValue>
        </value>
    </choices>
    <choices>
        <name>M4</name>
        <choiceText>M4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M4</stringValue>
        </value>
    </choices>
    <choices>
        <name>M5</name>
        <choiceText>M5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Made_Bail</name>
        <choiceText>Made Bail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Made Bail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manhattan</name>
        <choiceText>Manhattan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manhattan</stringValue>
        </value>
    </choices>
    <choices>
        <name>MBTC</name>
        <choiceText>MBTC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MBTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>MCP</name>
        <choiceText>MCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>MD2</name>
        <choiceText>MD2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD2</stringValue>
        </value>
    </choices>
    <choices>
        <name>N</name>
        <choiceText>N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>N60</name>
        <choiceText>N60</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N60</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_SCT</name>
        <choiceText>N-SCT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N-SCT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nassau</name>
        <choiceText>Nassau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nassau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neighborhood_Defenders_of_Harlem</name>
        <choiceText>Neighborhood Defenders of Harlem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_York_County_Defenders</name>
        <choiceText>New York County Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_CBO</name>
        <choiceText>Other CBO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other CBO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_NY_State</name>
        <choiceText>Out of NY State</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Out of NY State</stringValue>
        </value>
    </choices>
    <choices>
        <name>PD85</name>
        <choiceText>PD85</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PD85</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Prosecutor</name>
        <choiceText>Prosecutor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prosecutor</stringValue>
        </value>
    </choices>
    <choices>
        <name>PRP</name>
        <choiceText>PRP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRS</name>
        <choiceText>PRS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PT_A</name>
        <choiceText>PT A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT A</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_B</name>
        <choiceText>PT B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT B</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_C</name>
        <choiceText>PT C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT C</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_D</name>
        <choiceText>PT D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT D</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_E</name>
        <choiceText>PT E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT E</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_F</name>
        <choiceText>PT F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT F</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_N</name>
        <choiceText>PT N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Putnam</name>
        <choiceText>Putnam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Putnam</stringValue>
        </value>
    </choices>
    <choices>
        <name>QCP</name>
        <choiceText>QCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>QDDN</name>
        <choiceText>QDDN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QDDN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queens</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queens_Law_Associates</name>
        <choiceText>Queens Law Associates</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>QYP1</name>
        <choiceText>QYP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QYP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remand</name>
        <choiceText>Remand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remand</stringValue>
        </value>
    </choices>
    <choices>
        <name>ROR</name>
        <choiceText>ROR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ROR</stringValue>
        </value>
    </choices>
    <choices>
        <name>SA</name>
        <choiceText>SA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SAP</name>
        <choiceText>SAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAP</stringValue>
        </value>
    </choices>
    <choices>
        <name>SAP3</name>
        <choiceText>SAP3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SAP3</stringValue>
        </value>
    </choices>
    <choices>
        <name>SCA</name>
        <choiceText>SCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>SEAL</name>
        <choiceText>SEAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SEAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Social_Worker</name>
        <choiceText>Social Worker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Social Worker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Staten Island</stringValue>
        </value>
    </choices>
    <choices>
        <name>STEP</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>STEP1</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STEP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suffolk</name>
        <choiceText>Suffolk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suffolk</stringValue>
        </value>
    </choices>
    <choices>
        <name>SUP_CT</name>
        <choiceText>SUP CT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SUP CT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supreme_Court_Boys</name>
        <choiceText>Supreme Court Boys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supreme Court Boys</stringValue>
        </value>
    </choices>
    <choices>
        <name>T3</name>
        <choiceText>T3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T3</stringValue>
        </value>
    </choices>
    <choices>
        <name>TAP_A</name>
        <choiceText>TAP A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TAP A</stringValue>
        </value>
    </choices>
    <choices>
        <name>TC</name>
        <choiceText>TC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TC</stringValue>
        </value>
    </choices>
    <choices>
        <name>THCC</name>
        <choiceText>THCC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Bronx_Defenders</name>
        <choiceText>The Bronx Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TP3</name>
        <choiceText>TP3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TP3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>W50</name>
        <choiceText>W50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W50</stringValue>
        </value>
    </choices>
    <choices>
        <name>Westchester</name>
        <choiceText>Westchester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Westchester</stringValue>
        </value>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>X002</name>
        <choiceText>002</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>002</stringValue>
        </value>
    </choices>
    <choices>
        <name>X003</name>
        <choiceText>003</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>003</stringValue>
        </value>
    </choices>
    <choices>
        <name>X005</name>
        <choiceText>005</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>005</stringValue>
        </value>
    </choices>
    <choices>
        <name>X006</name>
        <choiceText>006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>006</stringValue>
        </value>
    </choices>
    <choices>
        <name>X007</name>
        <choiceText>007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>007</stringValue>
        </value>
    </choices>
    <choices>
        <name>X009</name>
        <choiceText>009</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>009</stringValue>
        </value>
    </choices>
    <choices>
        <name>X010</name>
        <choiceText>010</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>010</stringValue>
        </value>
    </choices>
    <choices>
        <name>X011</name>
        <choiceText>011</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>011</stringValue>
        </value>
    </choices>
    <choices>
        <name>X012</name>
        <choiceText>012</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>012</stringValue>
        </value>
    </choices>
    <choices>
        <name>X013</name>
        <choiceText>013</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>013</stringValue>
        </value>
    </choices>
    <choices>
        <name>X014</name>
        <choiceText>014</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>014</stringValue>
        </value>
    </choices>
    <choices>
        <name>X015</name>
        <choiceText>015</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>015</stringValue>
        </value>
    </choices>
    <choices>
        <name>X017</name>
        <choiceText>017</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>017</stringValue>
        </value>
    </choices>
    <choices>
        <name>X018</name>
        <choiceText>018</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>018</stringValue>
        </value>
    </choices>
    <choices>
        <name>X019</name>
        <choiceText>019</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>019</stringValue>
        </value>
    </choices>
    <choices>
        <name>X020</name>
        <choiceText>020</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>020</stringValue>
        </value>
    </choices>
    <choices>
        <name>X021</name>
        <choiceText>021</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>021</stringValue>
        </value>
    </choices>
    <choices>
        <name>X022</name>
        <choiceText>022</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>022</stringValue>
        </value>
    </choices>
    <choices>
        <name>X023</name>
        <choiceText>023</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>023</stringValue>
        </value>
    </choices>
    <choices>
        <name>X024</name>
        <choiceText>024</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>024</stringValue>
        </value>
    </choices>
    <choices>
        <name>X025</name>
        <choiceText>025</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>025</stringValue>
        </value>
    </choices>
    <choices>
        <name>X026</name>
        <choiceText>026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>026</stringValue>
        </value>
    </choices>
    <choices>
        <name>X027</name>
        <choiceText>027</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>027</stringValue>
        </value>
    </choices>
    <choices>
        <name>X028</name>
        <choiceText>028</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>028</stringValue>
        </value>
    </choices>
    <choices>
        <name>X029</name>
        <choiceText>029</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>029</stringValue>
        </value>
    </choices>
    <choices>
        <name>X030</name>
        <choiceText>030</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>030</stringValue>
        </value>
    </choices>
    <choices>
        <name>X031</name>
        <choiceText>031</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>031</stringValue>
        </value>
    </choices>
    <choices>
        <name>X032</name>
        <choiceText>032</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>032</stringValue>
        </value>
    </choices>
    <choices>
        <name>X033</name>
        <choiceText>033</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>033</stringValue>
        </value>
    </choices>
    <choices>
        <name>X035</name>
        <choiceText>035</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>035</stringValue>
        </value>
    </choices>
    <choices>
        <name>X036</name>
        <choiceText>036</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>036</stringValue>
        </value>
    </choices>
    <choices>
        <name>X037</name>
        <choiceText>037</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>037</stringValue>
        </value>
    </choices>
    <choices>
        <name>X038</name>
        <choiceText>038</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>038</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03G</name>
        <choiceText>03G</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03G</stringValue>
        </value>
    </choices>
    <choices>
        <name>X040</name>
        <choiceText>040</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>040</stringValue>
        </value>
    </choices>
    <choices>
        <name>X041</name>
        <choiceText>041</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>041</stringValue>
        </value>
    </choices>
    <choices>
        <name>X042</name>
        <choiceText>042</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>042</stringValue>
        </value>
    </choices>
    <choices>
        <name>X044</name>
        <choiceText>044</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>044</stringValue>
        </value>
    </choices>
    <choices>
        <name>X045</name>
        <choiceText>045</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>045</stringValue>
        </value>
    </choices>
    <choices>
        <name>X047</name>
        <choiceText>047</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>047</stringValue>
        </value>
    </choices>
    <choices>
        <name>X048</name>
        <choiceText>048</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>048</stringValue>
        </value>
    </choices>
    <choices>
        <name>X050</name>
        <choiceText>050</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>050</stringValue>
        </value>
    </choices>
    <choices>
        <name>X051</name>
        <choiceText>051</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>051</stringValue>
        </value>
    </choices>
    <choices>
        <name>X052</name>
        <choiceText>052</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>052</stringValue>
        </value>
    </choices>
    <choices>
        <name>X053</name>
        <choiceText>053</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>053</stringValue>
        </value>
    </choices>
    <choices>
        <name>X056</name>
        <choiceText>056</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>056</stringValue>
        </value>
    </choices>
    <choices>
        <name>X059</name>
        <choiceText>059</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>059</stringValue>
        </value>
    </choices>
    <choices>
        <name>X060</name>
        <choiceText>060</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>060</stringValue>
        </value>
    </choices>
    <choices>
        <name>X061</name>
        <choiceText>061</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>061</stringValue>
        </value>
    </choices>
    <choices>
        <name>X062</name>
        <choiceText>062</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>062</stringValue>
        </value>
    </choices>
    <choices>
        <name>X065</name>
        <choiceText>065</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>065</stringValue>
        </value>
    </choices>
    <choices>
        <name>X066</name>
        <choiceText>066</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>066</stringValue>
        </value>
    </choices>
    <choices>
        <name>X070</name>
        <choiceText>070</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>070</stringValue>
        </value>
    </choices>
    <choices>
        <name>X071</name>
        <choiceText>071</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>071</stringValue>
        </value>
    </choices>
    <choices>
        <name>X072</name>
        <choiceText>072</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>072</stringValue>
        </value>
    </choices>
    <choices>
        <name>X073</name>
        <choiceText>073</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>073</stringValue>
        </value>
    </choices>
    <choices>
        <name>X075</name>
        <choiceText>075</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>075</stringValue>
        </value>
    </choices>
    <choices>
        <name>X077</name>
        <choiceText>077</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>077</stringValue>
        </value>
    </choices>
    <choices>
        <name>X078</name>
        <choiceText>078</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>078</stringValue>
        </value>
    </choices>
    <choices>
        <name>X079</name>
        <choiceText>079</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>079</stringValue>
        </value>
    </choices>
    <choices>
        <name>X080</name>
        <choiceText>080</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>080</stringValue>
        </value>
    </choices>
    <choices>
        <name>X081</name>
        <choiceText>081</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>081</stringValue>
        </value>
    </choices>
    <choices>
        <name>X082</name>
        <choiceText>082</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>082</stringValue>
        </value>
    </choices>
    <choices>
        <name>X083</name>
        <choiceText>083</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>083</stringValue>
        </value>
    </choices>
    <choices>
        <name>X085</name>
        <choiceText>085</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>085</stringValue>
        </value>
    </choices>
    <choices>
        <name>X090</name>
        <choiceText>090</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>090</stringValue>
        </value>
    </choices>
    <choices>
        <name>X092</name>
        <choiceText>092</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>092</stringValue>
        </value>
    </choices>
    <choices>
        <name>X093</name>
        <choiceText>093</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>093</stringValue>
        </value>
    </choices>
    <choices>
        <name>X094</name>
        <choiceText>094</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>094</stringValue>
        </value>
    </choices>
    <choices>
        <name>X095</name>
        <choiceText>095</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>095</stringValue>
        </value>
    </choices>
    <choices>
        <name>X096</name>
        <choiceText>096</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>096</stringValue>
        </value>
    </choices>
    <choices>
        <name>X098</name>
        <choiceText>098</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>098</stringValue>
        </value>
    </choices>
    <choices>
        <name>X18B</name>
        <choiceText>18B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X2F</name>
        <choiceText>2F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2F</stringValue>
        </value>
    </choices>
    <choices>
        <name>YODV</name>
        <choiceText>YODV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YODV</stringValue>
        </value>
    </choices>
    <description>Update CourtRep list to select when CEP Court Rep = True, rather than based on Title</description>
    <dynamicChoiceSets>
        <name>CourtRep</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CEP_Court_Rep__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>CEP Basic Client Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CEP Basic Client Data</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>853</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>defaultAccount</outputReference>
        <queriedFields>Gender__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>680</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Court_Rep_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeCaseId</elementReference>
            </value>
        </filters>
        <object>Case_Information__c</object>
        <outputReference>defaultCaseInformation</outputReference>
        <queriedFields>Borough__c</queriedFields>
        <queriedFields>Detention_Status_at_SC_Arraignment__c</queriedFields>
        <queriedFields>Indictment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1021</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>defaultContact</outputReference>
        <queriedFields>Court_Rep__c</queriedFields>
        <queriedFields>Referral_Date__c</queriedFields>
        <queriedFields>Referral_Source__c</queriedFields>
        <queriedFields>Respondent_ID_CJA__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Court_Rep_Name</name>
        <label>Get Court Rep Name</label>
        <locationX>281</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>defaultContact.Court_Rep__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CourtRepName1</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Court_Rep_Recordtype</name>
        <label>Get Court Rep Recordtype</label>
        <locationX>480</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Court_Rep_Name</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEP - Court Services Staff</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>CourtRepName</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>46</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Account_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Information</name>
        <label>Update Case Information</label>
        <locationX>45</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Case_Information_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Borough__c</field>
            <value>
                <elementReference>Borough_of_Intake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detention_Status_at_SC_Arraignment__c</field>
            <value>
                <elementReference>Detention_Status_at_SC_Arraignment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indictment__c</field>
            <value>
                <elementReference>Indictment_number</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>47</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Court_Rep__c</field>
            <value>
                <elementReference>Court_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Date__c</field>
            <value>
                <elementReference>Referral_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source__c</field>
            <value>
                <elementReference>Referral_Source1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Borough__c</field>
            <value>
                <elementReference>Reporting_Borough</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respondent_ID_CJA__c</field>
            <value>
                <elementReference>Respondent_ID_CJA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screening_Stage__c</field>
            <value>
                <stringValue>Pending Attorney Info</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Case_Information</name>
        <label>Case Information</label>
        <locationX>47</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_Information</targetReference>
        </connector>
        <fields>
            <name>Case_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Case Information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceA</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referral_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultContact.Referral_Date__c</elementReference>
            </defaultValue>
            <fieldText>Referral Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spaceB</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referral_Source1</name>
            <choiceReferences>defaultContact_Referral_Source_c</choiceReferences>
            <choiceReferences>Court_Calendar_Screening</choiceReferences>
            <choiceReferences>Defendant_or_Family</choiceReferences>
            <choiceReferences>Defense_Attorney</choiceReferences>
            <choiceReferences>Department_of_Correction</choiceReferences>
            <choiceReferences>Department_of_Probation</choiceReferences>
            <choiceReferences>Judge</choiceReferences>
            <choiceReferences>Law_Guardian</choiceReferences>
            <choiceReferences>Other_CBO</choiceReferences>
            <choiceReferences>Prosecutor</choiceReferences>
            <choiceReferences>Social_Worker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Referral_Source_c</defaultSelectedChoiceReference>
            <fieldText>Referral Source</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spaceC</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Detention_Status_at_SC_Arraignment1</name>
            <choiceReferences>defaultCaseInformation_Detention_Status_at_SC_Arraignment_c</choiceReferences>
            <choiceReferences>ROR</choiceReferences>
            <choiceReferences>Made_Bail</choiceReferences>
            <choiceReferences>In_On_Bail</choiceReferences>
            <choiceReferences>Remand</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_Detention_Status_at_SC_Arraignment_c</defaultSelectedChoiceReference>
            <fieldText>Detention Status at SC Arraignment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Client_Information</name>
        <label>Client Information</label>
        <locationX>44</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Information</targetReference>
        </connector>
        <fields>
            <name>Referral_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Referral Information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Borough_of_Intake</name>
            <choiceReferences>defaultCaseInformation_Borough_c1</choiceReferences>
            <choiceReferences>Bronx</choiceReferences>
            <choiceReferences>Brooklyn</choiceReferences>
            <choiceReferences>Manhattan</choiceReferences>
            <choiceReferences>Queens</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_Borough_c1</defaultSelectedChoiceReference>
            <fieldText>Borough of Intake</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reporting_Borough</name>
            <choiceReferences>Brooklyn</choiceReferences>
            <choiceReferences>Harlem</choiceReferences>
            <choiceReferences>Queens</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reporting Borough</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Indictment_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Indictment__c</elementReference>
            </defaultValue>
            <fieldText>Indictment #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Respondent_ID_CJA</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Respondent_ID_CJA__c</elementReference>
            </defaultValue>
            <fieldText>Respondent ID/ CJA#</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gender1</name>
            <choiceReferences>defaultAccount_Gender_c</choiceReferences>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>Transgender_Man</choiceReferences>
            <choiceReferences>Transgender_Woman</choiceReferences>
            <choiceReferences>Gender_Non_Conforming</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultAccount_Gender_c</defaultSelectedChoiceReference>
            <fieldText>Gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Court_Rep</name>
            <choiceReferences>defaultContact_Court_Rep_c</choiceReferences>
            <choiceReferences>CourtRep</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Court_Rep_c</defaultSelectedChoiceReference>
            <fieldText>Court Rep</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>538</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultDesc</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>47</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishTitle</name>
            <fieldText>Click &quot;Finish&quot; to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Contact</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourtDateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourtRepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourtRepName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourtRepRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>defaultCaseInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Information__c</objectType>
    </variables>
    <variables>
        <name>defaultContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>intakeCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
