src/flows/CEP_Stopped_Tracking-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Update_Contact_Fault</name>
        <label>Update Contact Fault</label>
        <locationX>508</locationX>
        <locationY>285</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>Stopped Tracking</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>ADA_Declines_non_YO_cases</name>
        <choiceText>ADA Declines (non-YO cases)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADA Declines (non-YO cases)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALJ</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ1</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attorney</name>
        <choiceText>Attorney</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>Blank</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Boys_Family_Court</name>
        <choiceText>Boys Family Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Defenders</name>
        <choiceText>Brooklyn Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Treatment_Court</name>
        <choiceText>Brooklyn Treatment Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Defense_Attorney_Defendant_Declines</name>
        <choiceText>Defense Attorney/ Defendant Declines</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney/ Defendant Declines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Directed_to_another_ATI_program</name>
        <choiceText>Directed to another ATI program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Directed to another ATI program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GirlRising</name>
        <choiceText>GirlRising</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hold</name>
        <choiceText>Hold</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>In_On_Bail</name>
        <choiceText>In On Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Judge_Declines</name>
        <choiceText>Judge Declines</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Declines</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Legal_Aid</name>
        <choiceText>Legal Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Made_Bail</name>
        <choiceText>Made Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Manhattan</name>
        <choiceText>Manhattan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nassau</name>
        <choiceText>Nassau</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Neighborhood_Defenders_of_Harlem</name>
        <choiceText>Neighborhood Defenders of Harlem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_York_County_Defenders</name>
        <choiceText>New York County Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_follow_up_from_Defense_Attorney</name>
        <choiceText>No follow-up from Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No follow-up from Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_NY_State</name>
        <choiceText>Out of NY State</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRP</name>
        <choiceText>PRP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRS</name>
        <choiceText>PRS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Putnam</name>
        <choiceText>Putnam</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens_Law_Associates</name>
        <choiceText>Queens Law Associates</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remand</name>
        <choiceText>Remand</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ROR</name>
        <choiceText>ROR</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>STEP</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Suffolk</name>
        <choiceText>Suffolk</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Supreme_Court_Boys</name>
        <choiceText>Supreme Court Boys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>THCC</name>
        <choiceText>THCC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Bronx_Defenders</name>
        <choiceText>The Bronx Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Westchester</name>
        <choiceText>Westchester</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X002</name>
        <choiceText>002</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X003</name>
        <choiceText>003</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X005</name>
        <choiceText>005</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X18B</name>
        <choiceText>18B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>CourtRep</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourtRepRecordtype</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>CEP Stopped Tracking</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>266</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Stopped_Tracking__c</field>
            <value>
                <elementReference>Date_Stopped_Tracking</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Stopped_Tracking_Other__c</field>
            <value>
                <elementReference>Reason_Stopped_Tracking_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Stopped_Tracking__c</field>
            <value>
                <elementReference>Reason_Stopped_Tracking</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>712</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>268</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Text</name>
            <fieldText>Click &quot;Finish&quot; to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Stopped_Tracking</name>
        <label>Stopped Tracking</label>
        <locationX>113</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>Date_Stopped_Tracking</name>
            <dataType>Date</dataType>
            <fieldText>Date Stopped Tracking</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Stopped_Tracking</name>
            <choiceReferences>Defense_Attorney_Defendant_Declines</choiceReferences>
            <choiceReferences>Judge_Declines</choiceReferences>
            <choiceReferences>ADA_Declines_non_YO_cases</choiceReferences>
            <choiceReferences>No_follow_up_from_Defense_Attorney</choiceReferences>
            <choiceReferences>Directed_to_another_ATI_program</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason Stopped Tracking</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_Stopped_Tracking_Other</name>
            <dataType>String</dataType>
            <fieldText>Reason Stopped Tracking (Other)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Stopped_Tracking</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourtRepRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
