src/flows/CEP_Interview-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Update_Contact_Fault</name>
        <label>Update Contact Fault</label>
        <locationX>524</locationX>
        <locationY>300</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Interview</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Contact_Fault_0</name>
        <label>Update Contact Fault</label>
        <locationX>739</locationX>
        <locationY>464</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Screening_Stage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Interview</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>A_Use_History</name>
        <choiceText>A Use History</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Accepted_for_Intake</name>
        <choiceText>Accepted for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted for Intake</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALJ</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ1</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attorney</name>
        <choiceText>Attorney</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>Blank</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Boys_Family_Court</name>
        <choiceText>Boys Family Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Defenders</name>
        <choiceText>Brooklyn Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Treatment_Court</name>
        <choiceText>Brooklyn Treatment Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CEP_Accepts</name>
        <choiceText>CEP Accepts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEP Accepts</stringValue>
        </value>
    </choices>
    <choices>
        <name>CEP_Rejects</name>
        <choiceText>CEP Rejects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEP Rejects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Rep_Rejected</name>
        <choiceText>Court Rep. Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Rep. Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current_MH_Issues</name>
        <choiceText>Current MH Issues</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Current_SA_Use</name>
        <choiceText>Current SA Use</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DA_Offered_Non_Jail_Sentence</name>
        <choiceText>DA Offered Non-Jail Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DA Offered Non-Jail Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defendant_Refused_DCP</name>
        <choiceText>Defendant Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney_Refused_DCP</name>
        <choiceText>Defense Attorney Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GirlRising</name>
        <choiceText>GirlRising</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>In_On_Bail</name>
        <choiceText>In On Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Judge_Refuses_to_Consider</name>
        <choiceText>Judge Refuses to Consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Refuses to Consider</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Legal_Aid</name>
        <choiceText>Legal Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Lives_Outside_NYC</name>
        <choiceText>Lives Outside NYC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lives Outside NYC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Made_Bail</name>
        <choiceText>Made Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Manhattan</name>
        <choiceText>Manhattan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mental_Health_Issues</name>
        <choiceText>Mental Health Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mental Health Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>MH_History</name>
        <choiceText>MH History</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nassau</name>
        <choiceText>Nassau</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Neighborhood_Defenders_of_Harlem</name>
        <choiceText>Neighborhood Defenders of Harlem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_York_County_Defenders</name>
        <choiceText>New York County Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_MH_Issues</name>
        <choiceText>No MH Issues</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NO_SA_Use</name>
        <choiceText>NO SA Use</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Stable_Residence</name>
        <choiceText>No Stable Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Stable Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_NY_State</name>
        <choiceText>Out of NY State</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Parole_Probation_Officer_Unavailable_for_Consent</name>
        <choiceText>Parole/ Probation Officer Unavailable for Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole/ Probation Officer Unavailable for Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Rejected</name>
        <choiceText>Parole Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical_Health_Issues</name>
        <choiceText>Physical Health Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical Health Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Probation_Rejected</name>
        <choiceText>Probation Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>PRP</name>
        <choiceText>PRP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRS</name>
        <choiceText>PRS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Putnam</name>
        <choiceText>Putnam</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens_Law_Associates</name>
        <choiceText>Queens Law Associates</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remand</name>
        <choiceText>Remand</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ROR</name>
        <choiceText>ROR</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SA_Use_History</name>
        <choiceText>SA Use History</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>STEP</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Suffolk</name>
        <choiceText>Suffolk</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Supreme_Court_Boys</name>
        <choiceText>Supreme Court Boys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>THCC</name>
        <choiceText>THCC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Bronx_Defenders</name>
        <choiceText>The Bronx Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Westchester</name>
        <choiceText>Westchester</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X002</name>
        <choiceText>002</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X003</name>
        <choiceText>003</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X005</name>
        <choiceText>005</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X18B</name>
        <choiceText>18B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CEP_Accepts1</name>
        <label>CEP Accepts</label>
        <locationX>195</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected or Pending</defaultConnectorLabel>
        <rules>
            <name>CEP_Accepts2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Interview_Outcome2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CEP_Accepts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_Outcome_Final_Outcome_Date</targetReference>
            </connector>
            <label>CEP Accepts</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CourtRep</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourtRepRecordtype</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>CEP Interview</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>191</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>CEP_Accepts1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Acceptance_Date__c</field>
            <value>
                <elementReference>Interview_Acceptance_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Date__c</field>
            <value>
                <elementReference>Interview_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Outcome__c</field>
            <value>
                <elementReference>Interview_Outcome2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Reject_Reason__c</field>
            <value>
                <elementReference>Interview_Reject_Reason1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Rejected_Reason_Other__c</field>
            <value>
                <elementReference>Interview_Reject_Reason_Other1</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Outcome_Final_Outcome_Date</name>
        <label>Update Final Outcome &amp; Final Outcome Date</label>
        <locationX>536</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Screening_Stage__c</field>
            <value>
                <stringValue>Pending Mandate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Client_Information</name>
        <label>Client Information</label>
        <locationX>187</locationX>
        <locationY>14</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>Client_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Client Information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Date</name>
            <dataType>Date</dataType>
            <fieldText>Interview Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Acceptance_Date</name>
            <dataType>Date</dataType>
            <fieldText>Interview Acceptance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Outcome2</name>
            <choiceReferences>CEP_Accepts</choiceReferences>
            <choiceReferences>CEP_Rejects</choiceReferences>
            <choiceReferences>Pending</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interview Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Reject_Reason1</name>
            <choiceReferences>Mental_Health_Issues</choiceReferences>
            <choiceReferences>Physical_Health_Issues</choiceReferences>
            <choiceReferences>No_Stable_Residence</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interview Reject Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>cpace5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Reject_Reason_Other1</name>
            <dataType>String</dataType>
            <fieldText>Interview Reject Reason (Other)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>775</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultDesc</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>196</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Title</name>
            <fieldText>Click &quot;Finish&quot; to return to the Court Dates screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Client_Information</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourtRepRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
