src/flows/CEP_Intake-23.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Create_Address_Fault</name>
        <label>Create Address Fault</label>
        <locationX>994</locationX>
        <locationY>483</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <elementReference>Create_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Intake</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Create_Detention_Fault</name>
        <label>Create Detention Fault</label>
        <locationX>533</locationX>
        <locationY>634</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Detention_Fault</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Intake</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Case_Information_Fault</name>
        <label>Update Case Information Fault</label>
        <locationX>1175</locationX>
        <locationY>483</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Case_Information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Intake</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Contact_Fault</name>
        <label>Update Contact Fault</label>
        <locationX>1378</locationX>
        <locationY>487</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Intake</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>X12_Month_Mandate_fault_handling</name>
        <label>12 Month Mandate fault handling</label>
        <locationX>706</locationX>
        <locationY>244</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <inputParameters>
            <name>strContact</name>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>Affiliation</name>
        <choiceText>Affiliation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ1</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>American_Indian_Alaskan_Native</name>
        <choiceText>American Indian/Alaskan Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian/Alaskan Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arabic</name>
        <choiceText>Arabic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arabic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Pacific_Islander</name>
        <choiceText>Asian/Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian/Pacific Islander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Associate_s_Degree</name>
        <choiceText>Associate&apos;s Degree</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attended_in_Past_Two_Months</name>
        <choiceText>Attended in Past Two Months</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attorney</name>
        <choiceText>Attorney</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Aunt_Uncle</name>
        <choiceText>Aunt/Uncle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt/Uncle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor_s_Degree</name>
        <choiceText>Bachelor&apos;s Degree</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>Blank</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Borough</name>
        <choiceText>Borough</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Boys_Family_Court</name>
        <choiceText>Boys Family Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Defenders</name>
        <choiceText>Brooklyn Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Treatment_Court</name>
        <choiceText>Brooklyn Treatment Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Business_vocational_or_technical_training</name>
        <choiceText>Business, vocational, or technical training</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Chinese</name>
        <choiceText>Chinese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chinese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conditional_Discharge</name>
        <choiceText>Conditional Discharge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Discharge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creole</name>
        <choiceText>Creole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current</name>
        <choiceText>Current</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current</stringValue>
        </value>
    </choices>
    <choices>
        <name>DA_s_Plea_Offer1</name>
        <choiceText>DA&apos;s Plea Offer</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>defaultAddress_Address_Type_c</name>
        <choiceText>{!defaultAddress.Address_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultAddress.Address_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultAddress_How_Verified_c</name>
        <choiceText>{!defaultAddress.How_Verified__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultAddress.How_Verified__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultAddress_How_Verified_c1</name>
        <choiceText>{!defaultAddress.How_Verified__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultAddress.How_Verified__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultAddress_Relation_to_client_c</name>
        <choiceText>{!defaultAddress.Relation_to_client__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultAddress.Relation_to_client__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_DA_s_Plea_Offer_c</name>
        <choiceText>{!defaultCaseInformation.DA_s_Plea_Offer__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.DA_s_Plea_Offer__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Detention_Status_at_CC_Arraignment_c</name>
        <choiceText>{!defaultCaseInformation.Detention_Status_at_CC_Arraignment__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Detention_Status_at_CC_Arraignment__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Judge_s_Promise_if_Successful_c</name>
        <choiceText>{!defaultCaseInformation.Judge_s_Promise_if_Successful__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Judge_s_Promise_if_Successful__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultCaseInformation_Judge_s_Promise_if_Unsuccessful_c</name>
        <choiceText>{!defaultCaseInformation.Judge_s_Promise_if_Unsuccessful__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultCaseInformation.Judge_s_Promise_if_Unsuccessful__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Detention_Status_at_Intake_c</name>
        <choiceText>{!defaultContact.Detention_Status_at_Intake__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Detention_Status_at_Intake__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Employed_at_Intake_c</name>
        <choiceText>{!defaultContact.Employed_at_Intake__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Employed_at_Intake__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Ethnicity_c</name>
        <choiceText>{!defaultContact.Ethnicity__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Ethnicity__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Expecting_a_Child_c</name>
        <choiceText>{!defaultContact.Expecting_a_Child__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Expecting_a_Child__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Gang_Involvement_c</name>
        <choiceText>{!defaultContact.Gang_Involvement__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Gang_Involvement__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Incarcerated_Family_Members_c</name>
        <choiceText>{!defaultContact.Incarcerated_Family_Members__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Incarcerated_Family_Members__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Intake_Approved_By_c</name>
        <choiceText>{!IntakeApprovedByName1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Intake_Approved_By__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Living_Situation_c</name>
        <choiceText>{!defaultContact.Living_Situation__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Living_Situation__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Marital_Status_c</name>
        <choiceText>{!defaultContact.Marital_Status__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Marital_Status__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Primary_Language_c</name>
        <choiceText>{!defaultContact.Primary_Language__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Primary_Language__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Race_c</name>
        <choiceText>{!defaultContact.Race__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Race__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Relation_to_client_c</name>
        <choiceText>{!defaultContact.Relation_to_client__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Relation_to_client__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Secondary_Language_c</name>
        <choiceText>{!defaultContact.Secondary_Language__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Secondary_Language__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Source_of_Household_Income_c</name>
        <choiceText>{!defaultContact.Source_of_Household_Income__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Source_of_Household_Income__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>defaultContact_Source_of_Personal_Income_c</name>
        <choiceText>{!defaultContact.Source_of_Personal_Income__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>defaultContact.Source_of_Personal_Income__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Determinate</name>
        <choiceText>Determinate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determinate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Determinate_Sentence</name>
        <choiceText>Determinate Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Determinate Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_F_T</name>
        <choiceText>Employed F/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed F/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_P_T</name>
        <choiceText>Employed P/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed P/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enrolled_but_Not_Attending</name>
        <choiceText>Enrolled but Not Attending</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Former_Primary</name>
        <choiceText>Former Primary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Former Primary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Foster_Home</name>
        <choiceText>Foster Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Foster Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Full_Time</name>
        <choiceText>Full Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Girl_Boy_Friend</name>
        <choiceText>Girl/Boy Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Girl/Boy Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>GirlRising</name>
        <choiceText>GirlRising</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Graduate_Degree</name>
        <choiceText>Graduate Degree</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Grammar_School_K_Grade_6</name>
        <choiceText>Grammar School (K - Grade 6)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Grandparent</name>
        <choiceText>Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grandparents_Home</name>
        <choiceText>Grandparents&apos; Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparents&apos; Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Group_Home_Trans_Living_Program</name>
        <choiceText>Group Home/ Trans Living Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Group Home/ Trans Living Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guardian_s_Relation_to_Client1</name>
        <choiceText>{!Guardian_s_Relation_to_Client}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Guardian_s_Relation_to_Client</elementReference>
        </value>
    </choices>
    <choices>
        <name>Hebrew</name>
        <choiceText>Hebrew</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hebrew</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_School_Diploma</name>
        <choiceText>High School Diploma</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>High_School_Grades_10_12_or_GED</name>
        <choiceText>High School (Grades 10 - 12 or GED)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hispanic_Latino</name>
        <choiceText>Hispanic/ Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic/ Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless_No_Permanent_Residence</name>
        <choiceText>Homeless, No Permanent Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless, No Permanent Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSE_Diploma</name>
        <choiceText>HSE Diploma</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IEP_Diploma</name>
        <choiceText>IEP Diploma</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>In_On_Bail</name>
        <choiceText>In On Bail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In On Bail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactive</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indeterminate</name>
        <choiceText>Indeterminate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indeterminate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indeterminate_Sentence</name>
        <choiceText>Indeterminate Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indeterminate Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japanese</name>
        <choiceText>Japanese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japanese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Junior_High_School_Grades_7_9</name>
        <choiceText>Junior High School (Grades 7 - 9)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Korean</name>
        <choiceText>Korean</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Korean</stringValue>
        </value>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Legal_Aid</name>
        <choiceText>Legal Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Made_Bail</name>
        <choiceText>Made Bail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Made Bail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mail_Only</name>
        <choiceText>Mail Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Manhattan</name>
        <choiceText>Manhattan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nassau</name>
        <choiceText>Nassau</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Neighborhood_Defenders_of_Harlem</name>
        <choiceText>Neighborhood Defenders of Harlem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_York_County_Defenders</name>
        <choiceText>New York County Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Formal_Education</name>
        <choiceText>No Formal Education</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_High_School_HSE_Diploma</name>
        <choiceText>No High School/HSE Diploma</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Incarcerated_Family_Members</name>
        <choiceText>No Incarcerated Family Members</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Incarcerated Family Members</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Offer</name>
        <choiceText>No Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Offer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Promise</name>
        <choiceText>No Promise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Promise</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_X</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Non_Hispanic_Non_Latino</name>
        <choiceText>Non Hispanic/ Non Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Hispanic/ Non Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Jail_Disposition</name>
        <choiceText>Non-Jail Disposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Jail Disposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Enrolled</name>
        <choiceText>Not Enrolled</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_Verified</name>
        <choiceText>Not Verified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Verified</stringValue>
        </value>
    </choices>
    <choices>
        <name>One_Year_or_Less</name>
        <choiceText>One Year or Less</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One Year or Less</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Family_Member_Job</name>
        <choiceText>Other Family Member Job</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Family Member Job</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Family_Member_PA_Disability</name>
        <choiceText>Other Family Member PA/Disability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Family Member PA/Disability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relative</name>
        <choiceText>Other Relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relatives_Home</name>
        <choiceText>Other Relatives Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relatives Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Source</name>
        <choiceText>Other Source</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Source</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_NY_State</name>
        <choiceText>Out of NY State</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Own_Household</name>
        <choiceText>Own Household</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Own Household</stringValue>
        </value>
    </choices>
    <choices>
        <name>Own_job</name>
        <choiceText>Own job</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Own_Job1</name>
        <choiceText>Own Job</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Own Job</stringValue>
        </value>
    </choices>
    <choices>
        <name>PA_Disability</name>
        <choiceText>PA/Disability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA/Disability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parents_Adult</name>
        <choiceText>Parents/Adult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parents/Adult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parents_Household</name>
        <choiceText>Parents&apos; Household</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parents&apos; Household</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_Time</name>
        <choiceText>Part Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Past_Only</name>
        <choiceText>Past Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Past Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_call_made</name>
        <choiceText>Phone call made</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone call made</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pre_Arraignment</name>
        <choiceText>Pre-Arraignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Arraignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Primary</name>
        <choiceText>Primary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Probation_3_years</name>
        <choiceText>Probation (3 years)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation (3 years)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_5_years</name>
        <choiceText>Probation (5 years)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation (5 years)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_and_Time_Served</name>
        <choiceText>Probation and Time Served</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation and Time Served</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_split</name>
        <choiceText>Probation/split</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation/split</stringValue>
        </value>
    </choices>
    <choices>
        <name>PRP</name>
        <choiceText>PRP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRS</name>
        <choiceText>PRS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Putnam</name>
        <choiceText>Putnam</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens_Law_Associates</name>
        <choiceText>Queens Law Associates</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Rehab_Participation</name>
        <choiceText>Rehab Participation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rehab Participation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remand</name>
        <choiceText>Remand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remand</stringValue>
        </value>
    </choices>
    <choices>
        <name>ROR</name>
        <choiceText>ROR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ROR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Russian</name>
        <choiceText>Russian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secondary</name>
        <choiceText>Secondary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated_Divorced</name>
        <choiceText>Separated/ Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated/ Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares_Household_with_Friends</name>
        <choiceText>Shares Household with Friends</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares Household with Friends</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>Some_college_but_no_degree</name>
        <choiceText>Some college but no degree</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse_CL</name>
        <choiceText>Spouse/CL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse/CL</stringValue>
        </value>
    </choices>
    <choices>
        <name>SS_Benefits</name>
        <choiceText>SS Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SS Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>START</name>
        <choiceText>START</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>START</stringValue>
        </value>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>STEP</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Suffolk</name>
        <choiceText>Suffolk</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Supreme_Court_Boys</name>
        <choiceText>Supreme Court Boys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>THCC</name>
        <choiceText>THCC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Bronx_Defenders</name>
        <choiceText>The Bronx Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unspecified_Prison_Term</name>
        <choiceText>Unspecified Prison Term</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unspecified Prison Term</stringValue>
        </value>
    </choices>
    <choices>
        <name>Westchester</name>
        <choiceText>Westchester</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X002</name>
        <choiceText>002</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X003</name>
        <choiceText>003</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X005</name>
        <choiceText>005</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X18B</name>
        <choiceText>18B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X6_months_split</name>
        <choiceText>6 months split</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6 months split</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_X</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>YO_and_Probation_5_years</name>
        <choiceText>YO and Probation (5 years)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YO and Probation (5 years)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_does_not_exist</name>
        <label>Address does not exist</label>
        <locationX>849</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Address_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing address</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>defaultAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address</targetReference>
            </connector>
            <label>No Existing Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Attach_Detention_Date_to_Docket</name>
        <label>Attach Detention Date to Docket?</label>
        <locationX>44</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Create_Detention_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Do Not Attach Docket</defaultConnectorLabel>
        <rules>
            <name>Attach_Docket_to_Detention_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Detention_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In On Bail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Detention_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Detention_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Arraignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Detention_w_Docket</targetReference>
            </connector>
            <label>Attach Docket to Detention Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Detention_1_Decision</name>
        <label>Create Detention 1 Decision</label>
        <locationX>44</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default_Outcome_Do_Not_Create_Detention_1</defaultConnectorLabel>
        <rules>
            <name>Create_Detention_Outcome_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Detention_Type2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_Detention_Date_to_Docket</targetReference>
            </connector>
            <label>Create Detention Outcome 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_First_Detention_Record</name>
        <label>Create First Detention Record</label>
        <locationX>352</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Create First Detention Record</defaultConnectorLabel>
        <rules>
            <name>Create_first_detention_record2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Detention_RecordX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detention1</targetReference>
            </connector>
            <label>Create first detention record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Detention_Record_Yes</name>
        <label>Create New Detention Record Yes</label>
        <locationX>41</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue without new detention record</defaultConnectorLabel>
        <rules>
            <name>Create_New_Detention_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_detention_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detention1</targetReference>
            </connector>
            <label>Create New Detention Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Zip_Code_if_Address_is_Null</name>
        <label>Skip Zip Code if Address is Null</label>
        <locationX>1086</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Address_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>defaultAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Zip_Code_Name_if_Null</targetReference>
            </connector>
            <label>Address Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Zip_Code_Name_if_Null</name>
        <label>Skip Zip Code Name if Null</label>
        <locationX>1012</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>zip_code_name_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zip Code NOT null</defaultConnectorLabel>
        <rules>
            <name>Zip_Code_Not_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>defaultAddress.Zip_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Information</targetReference>
            </connector>
            <label>Zip Code Not Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>X12_Month_Mandate</name>
        <label>12 Month Mandate?</label>
        <locationX>164</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Case_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X12_Month_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_a_12_month_mandate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X12_Month_Mandate_Yes</targetReference>
            </connector>
            <label>12 Month Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Zip_Code_Found</name>
        <label>Zip Code Found?</label>
        <locationX>527</locationX>
        <locationY>1006</locationY>
        <defaultConnector>
            <targetReference>Emergency_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Zip Code Found</defaultConnectorLabel>
        <rules>
            <name>Zip_Code_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ZipCodeLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zip_Code_Not_Found_Error_Screen</targetReference>
            </connector>
            <label>Zip Code Not Found</label>
        </rules>
    </decisions>
    <description>made Not Verified the default setting for the How Verified field under Address</description>
    <dynamicChoiceSets>
        <name>CourtRep</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEP Court Rep</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>12 month mandate: Projected Exit Date = Intake Date + 1 Year</description>
        <name>ExtensionIntakeDate</name>
        <dataType>Date</dataType>
        <expression>Date(Year({!Intake_Date})+1, Month({!Intake_Date}), Day({!Intake_Date}))</expression>
    </formulas>
    <interviewLabel>CEP Intake {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CEP Intake</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>1112</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>Update_Case_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Address_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Address_Type__c</field>
            <value>
                <elementReference>Address_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apt_No__c</field>
            <value>
                <elementReference>Apt_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_No__c</field>
            <value>
                <elementReference>Building_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>Head_of_Household_Cell_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_District__c</field>
            <value>
                <elementReference>Community_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Head_of_Household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Work_Phone__c</field>
            <value>
                <elementReference>Head_of_Household_Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Verified__c</field>
            <value>
                <elementReference>Date_Verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Head_of_Household_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>Home_Phone1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Verified__c</field>
            <value>
                <elementReference>How_Verified1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Address__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_In_Date__c</field>
            <value>
                <elementReference>Move_In_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Client_Other__c</field>
            <value>
                <elementReference>Relation_to_Client_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_client__c</field>
            <value>
                <elementReference>Relation_to_Client1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>ZipCodeLookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Information__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Detention_1</name>
        <label>Create Detention 1</label>
        <locationX>43</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>Create_New_Detention_Record_Yes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Detention_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact_Detained_Dates_Lookup__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Released__c</field>
            <value>
                <elementReference>Date_Released1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detained_Date__c</field>
            <value>
                <elementReference>Detained_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detention_Type__c</field>
            <value>
                <elementReference>Detention_Type2</elementReference>
            </value>
        </inputAssignments>
        <object>Detained_Dates__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Detention_w_Docket</name>
        <label>Create Detention w/ Docket</label>
        <locationX>237</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Create_New_Detention_Record_Yes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Detention_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact_Detained_Dates_Lookup__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Released__c</field>
            <value>
                <elementReference>Date_Released1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detained_Date__c</field>
            <value>
                <elementReference>Detained_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detention_Type__c</field>
            <value>
                <elementReference>Detention_Type2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Docket_No__c</field>
            <value>
                <elementReference>intakeCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Detained_Dates__c</object>
    </recordCreates>
    <recordCreates>
        <name>X12_Month_Mandate_Yes</name>
        <label>12 Month Mandate Yes</label>
        <locationX>471</locationX>
        <locationY>233</locationY>
        <assignRecordIdToReference>AdministrativeActionID</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>X12_Month_Mandate_fault_handling</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Action_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_the_Intake_Judge_Order_the_Extension__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Projected_Exit_Date__c</field>
            <value>
                <elementReference>ExtensionIntakeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Extension__c</field>
            <value>
                <stringValue>1-Year Mandate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012600000004yeDAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Extension__c</field>
            <value>
                <stringValue>Mandatory Extension</stringValue>
            </value>
        </inputAssignments>
        <object>Administrative_Actions__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Zip_Code</name>
        <label>Find Zip Code</label>
        <locationX>358</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Zip_Code_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Zip_Code1</elementReference>
            </value>
        </filters>
        <object>Zip_Code_Mapping__c</object>
        <outputReference>ZipCodeLookup</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Address_Record_Lookup</name>
        <label>Get Address Record Lookup</label>
        <locationX>1233</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_Zip_Code_if_Address_is_Null</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Address_Information__c</object>
        <outputAssignments>
            <assignToReference>defaultAddress.Address_Type__c</assignToReference>
            <field>Address_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Apt_No__c</assignToReference>
            <field>Apt_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Building_No__c</assignToReference>
            <field>Building_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Cell_Phone__c</assignToReference>
            <field>Cell_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Community_District__c</assignToReference>
            <field>Community_District__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Contact_Person__c</assignToReference>
            <field>Contact_Person__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Contact_Work_Phone__c</assignToReference>
            <field>Contact_Work_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Date_Verified__c</assignToReference>
            <field>Date_Verified__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Home_Phone__c</assignToReference>
            <field>Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.How_Verified__c</assignToReference>
            <field>How_Verified__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Intake_Address__c</assignToReference>
            <field>Intake_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Move_In_Date__c</assignToReference>
            <field>Move_In_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Relation_to_Client_Other__c</assignToReference>
            <field>Relation_to_Client_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Relation_to_client__c</assignToReference>
            <field>Relation_to_client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Street__c</assignToReference>
            <field>Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>defaultAddress.Zip_Code__c</assignToReference>
            <field>Zip_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>671</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeCaseId</elementReference>
            </value>
        </filters>
        <object>Case_Information__c</object>
        <outputReference>defaultCaseInformation</outputReference>
        <queriedFields>Arrest_Date__c</queriedFields>
        <queriedFields>Bail_Set_Bond__c</queriedFields>
        <queriedFields>Bail_Set_Cash__c</queriedFields>
        <queriedFields>Complaint__c</queriedFields>
        <queriedFields>Criminal_Court_Arraignment_Date__c</queriedFields>
        <queriedFields>DA_s_Plea_Offer_Sentence__c</queriedFields>
        <queriedFields>DA_s_Plea_Offer__c</queriedFields>
        <queriedFields>Detention_Status_at_CC_Arraignment__c</queriedFields>
        <queriedFields>If_Other_Plea_Offer__c</queriedFields>
        <queriedFields>If_Successful_Other__c</queriedFields>
        <queriedFields>If_Unsuccessful_Other__c</queriedFields>
        <queriedFields>If_VOP_Original_Sentence_Date__c</queriedFields>
        <queriedFields>Indictment_Date__c</queriedFields>
        <queriedFields>Interim_Supervision_by_Probation_Ordered__c</queriedFields>
        <queriedFields>Judge_s_Promise_Sentence_Successful__c</queriedFields>
        <queriedFields>Judge_s_Promise_Sentence_Unsuccessful__c</queriedFields>
        <queriedFields>Judge_s_Promise_if_Successful__c</queriedFields>
        <queriedFields>Judge_s_Promise_if_Unsuccessful__c</queriedFields>
        <queriedFields>PSI_Ordered__c</queriedFields>
        <queriedFields>Plea_Finding_Date__c</queriedFields>
        <queriedFields>Supreme_Court_Arraignment_Date__c</queriedFields>
        <queriedFields>VOP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>504</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Intake_Approved_By_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>defaultContact</outputReference>
        <queriedFields>Detention_Status_at_Intake__c</queriedFields>
        <queriedFields>Employed_at_Intake__c</queriedFields>
        <queriedFields>Ethnicity__c</queriedFields>
        <queriedFields>Expecting_a_Child__c</queriedFields>
        <queriedFields>Intake_Approved_By__c</queriedFields>
        <queriedFields>Gang_Involvement__c</queriedFields>
        <queriedFields>Incarcerated_Family_Members__c</queriedFields>
        <queriedFields>Intake_Date__c</queriedFields>
        <queriedFields>Judge_s_Conditions__c</queriedFields>
        <queriedFields>Living_Situation__c</queriedFields>
        <queriedFields>Marital_Status__c</queriedFields>
        <queriedFields>Number_of_children__c</queriedFields>
        <queriedFields>Other_Living_Situation__c</queriedFields>
        <queriedFields>Primary_Language__c</queriedFields>
        <queriedFields>Race__c</queriedFields>
        <queriedFields>Secondary_Language__c</queriedFields>
        <queriedFields>Source_of_Household_Income__c</queriedFields>
        <queriedFields>Source_of_Personal_Income__c</queriedFields>
        <queriedFields>Parent_Guardian__c</queriedFields>
        <queriedFields>Relation_to_client__c</queriedFields>
        <queriedFields>Parent_s_Mobile__c</queriedFields>
        <queriedFields>Work_Phone__c</queriedFields>
        <queriedFields>Parent_s_Email__c</queriedFields>
        <queriedFields>Emergency_Contact_If_Other__c</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__c</queriedFields>
        <queriedFields>Emergency_Contact_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Approved_By_Name_Record_Lookup</name>
        <label>Get Intake Approved By Name - Record Lookup</label>
        <locationX>209</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>defaultContact.Intake_Approved_By__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IntakeApprovedByName1</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Approved_By_Recordtype</name>
        <label>Get Intake Approved By Recordtype</label>
        <locationX>369</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Intake_Approved_By_Name_Record_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEP - Court Services Staff</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>CourtRepRecordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>zip_code_name_lookup</name>
        <label>zip code name lookup</label>
        <locationX>791</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>defaultAddress.Zip_Code__c</elementReference>
            </value>
        </filters>
        <object>Zip_Code_Mapping__c</object>
        <outputAssignments>
            <assignToReference>ZipCodeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Address_Update</name>
        <label>Address Update</label>
        <locationX>1001</locationX>
        <locationY>783</locationY>
        <connector>
            <targetReference>Update_Case_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Address_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>defaultAddress.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Type__c</field>
            <value>
                <elementReference>Address_Type1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apt_No__c</field>
            <value>
                <elementReference>Apt_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_No__c</field>
            <value>
                <elementReference>Building_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>Head_of_Household_Cell_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community_District__c</field>
            <value>
                <elementReference>Community_District</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Head_of_Household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Work_Phone__c</field>
            <value>
                <elementReference>Head_of_Household_Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Verified__c</field>
            <value>
                <elementReference>Date_Verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Head_of_Household_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>Home_Phone1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_Verified__c</field>
            <value>
                <elementReference>How_Verified1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_In_Date__c</field>
            <value>
                <elementReference>Move_In_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Client_Other__c</field>
            <value>
                <elementReference>Relation_to_Client_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_client__c</field>
            <value>
                <elementReference>Relation_to_Client1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>ZipCodeLookup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Information</name>
        <label>Update Case Information</label>
        <locationX>1286</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Case_Information_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>intakeCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrest_Date__c</field>
            <value>
                <elementReference>Arrest_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bail_Set_Bond__c</field>
            <value>
                <elementReference>Bail_set_Bond</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bail_Set_Cash__c</field>
            <value>
                <elementReference>Bail_set_Cash</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>Complaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_Court_Arraignment_Date__c</field>
            <value>
                <elementReference>Criminal_Court_Arraignment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DA_s_Plea_Offer_Sentence__c</field>
            <value>
                <elementReference>DA_s_Plea_Offer_Sentence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DA_s_Plea_Offer__c</field>
            <value>
                <elementReference>DA_s_Plea_Offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detention_Status_at_CC_Arraignment__c</field>
            <value>
                <elementReference>Detention_Status_at_CC_Arraignment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Other_Plea_Offer__c</field>
            <value>
                <elementReference>If_Other_Plea_Offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Successful_Other__c</field>
            <value>
                <elementReference>If_Successful_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Unsuccessful_Other__c</field>
            <value>
                <elementReference>If_Unsuccessful_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_VOP_Original_Sentence_Date__c</field>
            <value>
                <elementReference>If_VOP_Original_Sentence_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indictment_Date__c</field>
            <value>
                <elementReference>Indictment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interim_Supervision_by_Probation_Ordered__c</field>
            <value>
                <elementReference>Interim_Supervision_by_Probation_Ordered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judge_s_Promise_Sentence_Successful__c</field>
            <value>
                <elementReference>Judge_s_Promise_Sentence_Successful</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judge_s_Promise_Sentence_Unsuccessful__c</field>
            <value>
                <elementReference>Judge_s_Promise_Sentence_Unsuccessful</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judge_s_Promise_if_Successful__c</field>
            <value>
                <elementReference>Judge_s_Promise_if_Successful</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judge_s_Promise_if_Unsuccessful__c</field>
            <value>
                <elementReference>Judge_s_Promise_if_Unsuccessful</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSI_Ordered__c</field>
            <value>
                <elementReference>PSI_Ordered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plea_Finding_Date__c</field>
            <value>
                <elementReference>Plea_Finding_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supreme_Court_Arraignment_Date__c</field>
            <value>
                <elementReference>Supreme_Court_Arraignment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VOP__c</field>
            <value>
                <elementReference>VOP</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1444</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Detention_Status_at_Intake__c</field>
            <value>
                <elementReference>Detention_Status_at_Intake1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_If_Other__c</field>
            <value>
                <elementReference>Emergency_Contact_if_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Phone__c</field>
            <value>
                <elementReference>Emergency_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Relationship__c</field>
            <value>
                <elementReference>Emergency_Contact_Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employed_at_Intake__c</field>
            <value>
                <elementReference>Employment_at_Intake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Ethnicity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expecting_a_Child__c</field>
            <value>
                <elementReference>Expecting_a_child</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gang_Involvement__c</field>
            <value>
                <elementReference>Gang_Involvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incarcerated_Family_Members__c</field>
            <value>
                <elementReference>Incarcerated_Family_Members</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Approved_By__c</field>
            <value>
                <elementReference>Intake_Approved_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Date__c</field>
            <value>
                <elementReference>Intake_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_a_12_month_mandate__c</field>
            <value>
                <elementReference>Is_this_a_12_month_mandate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judge_s_Conditions__c</field>
            <value>
                <elementReference>Judge_s_Intake_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Living_Situation__c</field>
            <value>
                <elementReference>Living_Situation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_children__c</field>
            <value>
                <elementReference>Number_of_Children</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Living_Situation__c</field>
            <value>
                <elementReference>Other_Living_Situation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Guardian__c</field>
            <value>
                <elementReference>Parent_Guardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_s_Email__c</field>
            <value>
                <elementReference>Parent_s_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_s_Mobile__c</field>
            <value>
                <elementReference>Parent_s_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Language__c</field>
            <value>
                <elementReference>Primary_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Race</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_client__c</field>
            <value>
                <elementReference>Guardian_s_Relation_to_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screening_Stage__c</field>
            <value>
                <stringValue>Screening Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Language__c</field>
            <value>
                <elementReference>Secondary_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Household_Income__c</field>
            <value>
                <elementReference>Parental_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Personal_Income__c</field>
            <value>
                <elementReference>Personal_Income</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>Parent_s_Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>349</locationX>
        <locationY>749</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Zip_Code</targetReference>
        </connector>
        <fields>
            <name>Address_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Address Information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Building_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Building_No__c</elementReference>
            </defaultValue>
            <fieldText>Building No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceX1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Street__c</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Apt_No</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Apt_No__c</elementReference>
            </defaultValue>
            <fieldText>Apt. No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Zip_Code1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZipCodeName</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Community_District</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Community_District__c</elementReference>
            </defaultValue>
            <fieldText>Community District</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_In_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Move_In_Date__c</elementReference>
            </defaultValue>
            <fieldText>Move In Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SpaceX6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Verified</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Date_Verified__c</elementReference>
            </defaultValue>
            <fieldText>Date Verified</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SpaceX7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_Verified1</name>
            <choiceReferences>Not_Verified</choiceReferences>
            <choiceReferences>Documents</choiceReferences>
            <choiceReferences>Parents_Adult</choiceReferences>
            <choiceReferences>Phone_call_made</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Not_Verified</defaultSelectedChoiceReference>
            <fieldText>How Verified</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Type1</name>
            <choiceReferences>defaultAddress_Address_Type_c</choiceReferences>
            <choiceReferences>Primary</choiceReferences>
            <choiceReferences>Secondary</choiceReferences>
            <choiceReferences>Mail_Only</choiceReferences>
            <choiceReferences>Inactive</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultAddress_Address_Type_c</defaultSelectedChoiceReference>
            <fieldText>Address Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceX10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contact_info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_Phone1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Home_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Head_of_Household</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Contact_Person__c</elementReference>
            </defaultValue>
            <fieldText>Head of Household</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Relation_to_Client1</name>
            <choiceReferences>defaultAddress_Relation_to_client_c</choiceReferences>
            <choiceReferences>Self</choiceReferences>
            <choiceReferences>Mother</choiceReferences>
            <choiceReferences>Father</choiceReferences>
            <choiceReferences>Grandparent</choiceReferences>
            <choiceReferences>Spouse_CL</choiceReferences>
            <choiceReferences>Aunt_Uncle</choiceReferences>
            <choiceReferences>Other_Relative</choiceReferences>
            <choiceReferences>Friend</choiceReferences>
            <choiceReferences>Girl_Boy_Friend</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultAddress_Relation_to_client_c</defaultSelectedChoiceReference>
            <fieldText>Relation to Client</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Relation_to_Client_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Relation_to_Client_Other__c</elementReference>
            </defaultValue>
            <fieldText>Relation to Client (Other)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Head_of_Household_Cell_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Cell_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Head of Household Cell Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Head_of_Household_Work_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Contact_Work_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Head of Household Work Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceX16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Head_of_Household_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultAddress.Email__c</elementReference>
            </defaultValue>
            <fieldText>Head of Household Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Case_Information</name>
        <label>Case Information</label>
        <locationX>37</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Detention_record</targetReference>
        </connector>
        <fields>
            <name>Case_Info</name>
            <fieldText>Case Information:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Complaint</name>
            <defaultValue>
                <elementReference>defaultCaseInformation.Complaint__c</elementReference>
            </defaultValue>
            <fieldText>Complaint</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Arrest_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Arrest_Date__c</elementReference>
            </defaultValue>
            <fieldText>Arrest Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Criminal_Court_Arraignment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Criminal_Court_Arraignment_Date__c</elementReference>
            </defaultValue>
            <fieldText>Criminal Court Arraignment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Detention_Status_at_CC_Arraignment1</name>
            <choiceReferences>defaultCaseInformation_Detention_Status_at_CC_Arraignment_c</choiceReferences>
            <choiceReferences>ROR</choiceReferences>
            <choiceReferences>In_On_Bail</choiceReferences>
            <choiceReferences>Made_Bail</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_Detention_Status_at_CC_Arraignment_c</defaultSelectedChoiceReference>
            <fieldText>Detention Status at CC Arraignment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Indictment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Indictment_Date__c</elementReference>
            </defaultValue>
            <fieldText>Indictment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Supreme_Court_Arraignment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Supreme_Court_Arraignment_Date__c</elementReference>
            </defaultValue>
            <fieldText>Supreme Court Arraignment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Plea_Finding_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Plea_Finding_Date__c</elementReference>
            </defaultValue>
            <fieldText>Plea/Finding Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bail_set_Cash</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Bail_Set_Cash__c</elementReference>
            </defaultValue>
            <fieldText>Bail set - Cash</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Bail_set_Bond</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Bail_Set_Bond__c</elementReference>
            </defaultValue>
            <fieldText>Bail set - Bond</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>space8</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PSI_Ordered</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.PSI_Ordered__c</elementReference>
            </defaultValue>
            <fieldText>PSI Ordered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space9</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interim_Supervision_by_Probation_Ordered</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Interim_Supervision_by_Probation_Ordered__c</elementReference>
            </defaultValue>
            <fieldText>Interim Supervision by Probation Ordered</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Detention_Status_at_Intake1</name>
            <choiceReferences>defaultContact_Detention_Status_at_Intake_c</choiceReferences>
            <choiceReferences>In_On_Bail</choiceReferences>
            <choiceReferences>Made_Bail</choiceReferences>
            <choiceReferences>ROR</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Detention_Status_at_Intake_c</defaultSelectedChoiceReference>
            <fieldText>Detention Status at Intake</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VOP</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.VOP__c</elementReference>
            </defaultValue>
            <fieldText>VOP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_VOP_Original_Sentence_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.If_VOP_Original_Sentence_Date__c</elementReference>
            </defaultValue>
            <fieldText>If VOP, Original Sentence Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DA_Plea_Offer</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;DA&amp;apos;s Plea Offer:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DA_s_Plea_Offer</name>
            <choiceReferences>defaultCaseInformation_DA_s_Plea_Offer_c</choiceReferences>
            <choiceReferences>Conditional_Discharge</choiceReferences>
            <choiceReferences>X6_months_split</choiceReferences>
            <choiceReferences>Probation_split</choiceReferences>
            <choiceReferences>Probation_and_Time_Served</choiceReferences>
            <choiceReferences>Probation_3_years</choiceReferences>
            <choiceReferences>Probation_5_years</choiceReferences>
            <choiceReferences>YO_and_Probation_5_years</choiceReferences>
            <choiceReferences>One_Year_or_Less</choiceReferences>
            <choiceReferences>Unspecified_Prison_Term</choiceReferences>
            <choiceReferences>Determinate_Sentence</choiceReferences>
            <choiceReferences>Indeterminate_Sentence</choiceReferences>
            <choiceReferences>No_Offer</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_DA_s_Plea_Offer_c</defaultSelectedChoiceReference>
            <fieldText>Offer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_Other_Plea_Offer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.If_Other_Plea_Offer__c</elementReference>
            </defaultValue>
            <fieldText>If Other, Describe</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DA_s_Plea_Offer_Sentence</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.DA_s_Plea_Offer_Sentence__c</elementReference>
            </defaultValue>
            <fieldText>Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>If determinate, enter as X Days/Months/Years. 

If indeterminate, enter as X Days/Months/Years to Y Days/Months/Years. 

For example, &quot;6 Months&quot; or &quot;15 Days - 20 Days&quot;</errorMessage>
                <formulaExpression>if( {!DA_s_Plea_Offer} = &quot;Determinate Sentence&quot;, 
REGEX( {!DA_s_Plea_Offer_Sentence}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
if( {!DA_s_Plea_Offer} = &quot;Indeterminate Sentence&quot;, 
REGEX( {!DA_s_Plea_Offer_Sentence}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?\\s?-\\s?([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
true))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space18</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space19</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_Successful</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Judge&amp;apos;s Promise If Successful:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judge_s_Promise_if_Successful</name>
            <choiceReferences>defaultCaseInformation_Judge_s_Promise_if_Successful_c</choiceReferences>
            <choiceReferences>Conditional_Discharge</choiceReferences>
            <choiceReferences>X6_months_split</choiceReferences>
            <choiceReferences>Probation_and_Time_Served</choiceReferences>
            <choiceReferences>Probation_3_years</choiceReferences>
            <choiceReferences>Probation_5_years</choiceReferences>
            <choiceReferences>YO_and_Probation_5_years</choiceReferences>
            <choiceReferences>Determinate_Sentence</choiceReferences>
            <choiceReferences>Indeterminate_Sentence</choiceReferences>
            <choiceReferences>No_Promise</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_Judge_s_Promise_if_Successful_c</defaultSelectedChoiceReference>
            <fieldText>Promise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_Successful_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.If_Successful_Other__c</elementReference>
            </defaultValue>
            <fieldText>If Other, Describe</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judge_s_Promise_Sentence_Successful</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Judge_s_Promise_Sentence_Successful__c</elementReference>
            </defaultValue>
            <fieldText>Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>If determinate, enter as X Days/Months/Years. 

If indeterminate, enter as X Days/Months/Years to Y Days/Months/Years. 

For example, &quot;6 Months&quot; or &quot;15 Days - 20 Days&quot;</errorMessage>
                <formulaExpression>if( {!Judge_s_Promise_if_Successful}  = &quot;Determinate Sentence&quot;, 
REGEX( {!Judge_s_Promise_Sentence_Successful}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
if( {!Judge_s_Promise_if_Successful} = &quot;Indeterminate Sentence&quot;, 
REGEX( {!Judge_s_Promise_Sentence_Successful}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?\\s?-\\s?([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
true))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space23</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space24</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_Unsuccessful</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Judge&amp;apos;s Promise If Unsuccessful:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judge_s_Promise_if_Unsuccessful</name>
            <choiceReferences>defaultCaseInformation_Judge_s_Promise_if_Unsuccessful_c</choiceReferences>
            <choiceReferences>Conditional_Discharge</choiceReferences>
            <choiceReferences>X6_months_split</choiceReferences>
            <choiceReferences>Probation_split</choiceReferences>
            <choiceReferences>Probation_and_Time_Served</choiceReferences>
            <choiceReferences>Probation_3_years</choiceReferences>
            <choiceReferences>Probation_5_years</choiceReferences>
            <choiceReferences>YO_and_Probation_5_years</choiceReferences>
            <choiceReferences>One_Year_or_Less</choiceReferences>
            <choiceReferences>Unspecified_Prison_Term</choiceReferences>
            <choiceReferences>Determinate_Sentence</choiceReferences>
            <choiceReferences>Indeterminate_Sentence</choiceReferences>
            <choiceReferences>No_Promise</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultCaseInformation_Judge_s_Promise_if_Unsuccessful_c</defaultSelectedChoiceReference>
            <fieldText>Promise</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space25</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>If_Unsuccessful_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.If_Unsuccessful_Other__c</elementReference>
            </defaultValue>
            <fieldText>If Other, Describe</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space27</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judge_s_Promise_Sentence_Unsuccessful</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultCaseInformation.Judge_s_Promise_Sentence_Unsuccessful__c</elementReference>
            </defaultValue>
            <fieldText>Sentence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>If determinate, enter as X Days/Months/Years. 

If indeterminate, enter as X Days/Months/Years to Y Days/Months/Years. 

For example, &quot;6 Months&quot; or &quot;15 Days - 20 Days&quot;</errorMessage>
                <formulaExpression>if( {!Judge_s_Promise_if_Unsuccessful} = &quot;Determinate Sentence&quot;,
REGEX( {!Judge_s_Promise_Sentence_Unsuccessful}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
if( {!Judge_s_Promise_if_Unsuccessful} = &quot;Indeterminate Sentence&quot;, 
REGEX( {!Judge_s_Promise_Sentence_Unsuccessful}, &quot;([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?\\s?-\\s?([0-9]|[1-9][0-9]|[1-9][0-9][0-9])\\s([dD][a][y]|[mM][o][n][t][h]|[yY][e][a][r])s?&quot;), 
true))</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Client_Information</name>
        <label>Client Information</label>
        <locationX>31</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X12_Month_Mandate</targetReference>
        </connector>
        <fields>
            <name>Intake_Info</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Intake Information:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceAA</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intake_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultContact.Intake_Date__c</elementReference>
            </defaultValue>
            <fieldText>Intake Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spaceAB</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intake_Approved_By</name>
            <choiceReferences>defaultContact_Intake_Approved_By_c</choiceReferences>
            <choiceReferences>CourtRep</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Intake_Approved_By_c</defaultSelectedChoiceReference>
            <fieldText>Intake Approved By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceAC</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_a_12_month_mandate</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Is this a 12 month mandate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space9000</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judge_s_Intake_Conditions</name>
            <defaultValue>
                <elementReference>defaultContact.Judge_s_Conditions__c</elementReference>
            </defaultValue>
            <fieldText>Judge&apos;s Intake Conditions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_Detention_record</name>
        <label>Create Detention record?</label>
        <locationX>207</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_First_Detention_Record</targetReference>
        </connector>
        <fields>
            <name>Create_Detention_RecordX</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter detained dates for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Demographics</name>
        <label>Demographics</label>
        <locationX>513</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_does_not_exist</targetReference>
        </connector>
        <fields>
            <name>Demographics1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Demographics&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceA</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Race</name>
            <choiceReferences>defaultContact_Race_c</choiceReferences>
            <choiceReferences>Black</choiceReferences>
            <choiceReferences>White</choiceReferences>
            <choiceReferences>American_Indian_Alaskan_Native</choiceReferences>
            <choiceReferences>Asian_Pacific_Islander</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Race_c</defaultSelectedChoiceReference>
            <fieldText>Race</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceB</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ethnicity</name>
            <choiceReferences>defaultContact_Ethnicity_c</choiceReferences>
            <choiceReferences>Hispanic_Latino</choiceReferences>
            <choiceReferences>Non_Hispanic_Non_Latino</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Ethnicity_c</defaultSelectedChoiceReference>
            <fieldText>Ethnicity</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceC</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceD</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IncomeEmployment</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Income and Employment&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceE</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Personal_Income</name>
            <choiceReferences>defaultContact_Source_of_Personal_Income_c</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Own_Job1</choiceReferences>
            <choiceReferences>PA_Disability</choiceReferences>
            <choiceReferences>Other_Family_Member_Job</choiceReferences>
            <choiceReferences>Other_Family_Member_PA_Disability</choiceReferences>
            <choiceReferences>SS_Benefits</choiceReferences>
            <choiceReferences>Other_Source</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Source_of_Personal_Income_c</defaultSelectedChoiceReference>
            <fieldText>Personal Income</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceF</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parental_Income</name>
            <choiceReferences>defaultContact_Source_of_Household_Income_c</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Own_Job1</choiceReferences>
            <choiceReferences>PA_Disability</choiceReferences>
            <choiceReferences>Other_Family_Member_Job</choiceReferences>
            <choiceReferences>Other_Family_Member_PA_Disability</choiceReferences>
            <choiceReferences>SS_Benefits</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Source_of_Household_Income_c</defaultSelectedChoiceReference>
            <fieldText>Parental Income</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceG</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employment_at_Intake</name>
            <choiceReferences>defaultContact_Employed_at_Intake_c</choiceReferences>
            <choiceReferences>Employed_F_T</choiceReferences>
            <choiceReferences>Employed_P_T</choiceReferences>
            <choiceReferences>Unemployed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Employed_at_Intake_c</defaultSelectedChoiceReference>
            <fieldText>Employment at Intake</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceH</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceI</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Language</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Languages&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpaceJ</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Language</name>
            <choiceReferences>defaultContact_Primary_Language_c</choiceReferences>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <choiceReferences>Creole</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Primary_Language_c</defaultSelectedChoiceReference>
            <fieldText>Primary Language</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceK</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Language</name>
            <choiceReferences>defaultContact_Secondary_Language_c</choiceReferences>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <choiceReferences>Arabic</choiceReferences>
            <choiceReferences>Creole</choiceReferences>
            <choiceReferences>Chinese</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Hebrew</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <choiceReferences>Japanese</choiceReferences>
            <choiceReferences>Korean</choiceReferences>
            <choiceReferences>Portuguese</choiceReferences>
            <choiceReferences>Russian</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Secondary_Language_c</defaultSelectedChoiceReference>
            <fieldText>Secondary Language</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceL</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceM</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LivingSituation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Living Situation&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceN</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Living_Situation</name>
            <choiceReferences>defaultContact_Living_Situation_c</choiceReferences>
            <choiceReferences>Own_Household</choiceReferences>
            <choiceReferences>Parents_Household</choiceReferences>
            <choiceReferences>Grandparents_Home</choiceReferences>
            <choiceReferences>Other_Relatives_Home</choiceReferences>
            <choiceReferences>Foster_Home</choiceReferences>
            <choiceReferences>Shares_Household_with_Friends</choiceReferences>
            <choiceReferences>Homeless_No_Permanent_Residence</choiceReferences>
            <choiceReferences>Group_Home_Trans_Living_Program</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Living_Situation_c</defaultSelectedChoiceReference>
            <fieldText>Living Situation</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpaceO</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Living_Situation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Other_Living_Situation__c</elementReference>
            </defaultValue>
            <fieldText>Other Living Situation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceP</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceQ</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Family</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Family&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>spaceR</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marital_Status</name>
            <choiceReferences>defaultContact_Marital_Status_c</choiceReferences>
            <choiceReferences>Single</choiceReferences>
            <choiceReferences>Married</choiceReferences>
            <choiceReferences>Separated_Divorced</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Marital_Status_c</defaultSelectedChoiceReference>
            <fieldText>Marital Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceS</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Children</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>defaultContact.Number_of_children__c</elementReference>
            </defaultValue>
            <fieldText>Number of Children</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>spaceT</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expecting_a_child</name>
            <choiceReferences>defaultContact_Expecting_a_Child_c</choiceReferences>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Expecting_a_Child_c</defaultSelectedChoiceReference>
            <fieldText>Expecting a child?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceU</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Incarcerated_Family_Members</name>
            <choiceReferences>defaultContact_Incarcerated_Family_Members_c</choiceReferences>
            <choiceReferences>Current</choiceReferences>
            <choiceReferences>Past_Only</choiceReferences>
            <choiceReferences>No_Incarcerated_Family_Members</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Incarcerated_Family_Members_c</defaultSelectedChoiceReference>
            <fieldText>Incarcerated Family Members</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>spaceV</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gang_Involvement</name>
            <choiceReferences>defaultContact_Gang_Involvement_c</choiceReferences>
            <choiceReferences>Yes1</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Gang_Involvement_c</defaultSelectedChoiceReference>
            <fieldText>Gang Involvement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Detention1</name>
        <label>Detention</label>
        <locationX>479</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Detention_1_Decision</targetReference>
        </connector>
        <fields>
            <name>DetentionTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Detention&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DetentionBlank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Detained_Date1</name>
            <dataType>Date</dataType>
            <fieldText>Detained Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Released1</name>
            <dataType>Date</dataType>
            <fieldText>Date Released</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Detention_Type2</name>
            <choiceReferences>In_On_Bail</choiceReferences>
            <choiceReferences>Pre_Arraignment</choiceReferences>
            <choiceReferences>Rehab_Participation</choiceReferences>
            <choiceReferences>Remand</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Detention Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_another_detention_record</name>
            <dataType>Boolean</dataType>
            <fieldText>Create another detention record?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Emergency_Contact</name>
        <label>Emergency Contact</label>
        <locationX>526</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Demographics</targetReference>
        </connector>
        <fields>
            <name>Parent_Guardian</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Parent_Guardian__c</elementReference>
            </defaultValue>
            <fieldText>Parent/Guardian</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Guardian_s_Relation_to_Client</name>
            <choiceReferences>defaultContact_Relation_to_client_c</choiceReferences>
            <choiceReferences>Mother</choiceReferences>
            <choiceReferences>Father</choiceReferences>
            <choiceReferences>Grandparent</choiceReferences>
            <choiceReferences>Spouse_CL</choiceReferences>
            <choiceReferences>Aunt_Uncle</choiceReferences>
            <choiceReferences>Other_Relative</choiceReferences>
            <choiceReferences>Friend</choiceReferences>
            <choiceReferences>Girl_Boy_Friend</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>defaultContact_Relation_to_client_c</defaultSelectedChoiceReference>
            <fieldText>Guardian&apos;s Relation to Client</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_s_Mobile</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Parent_s_Mobile__c</elementReference>
            </defaultValue>
            <fieldText>Parent&apos;s Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_s_Work_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Work_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Parent&apos;s Work Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Parent_s_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Parent_s_Email__c</elementReference>
            </defaultValue>
            <fieldText>Parent&apos;s Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact_if_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Emergency_Contact_If_Other__c</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact if Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact_Relationship</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Emergency_Contact_Relationship__c</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Relationship</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultContact.Emergency_Contact_Phone__c</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1054</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultDesc</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>1593</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Title</name>
            <fieldText>Click &quot;Finish&quot; to exit.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Zip_Code_Not_Found_Error_Screen</name>
        <label>Zip Code Not Found Error Screen</label>
        <locationX>241</locationX>
        <locationY>1105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <fields>
            <name>ZipCodeError</name>
            <fieldText>The Zip Code you entered, {!Zip_Code1}, was not recognized by Salesforce. Click next to return the address screen and enter the correct number. 

If you did enter the correct number, please inform IS by posting a task to the IS Helpdesk Group in Google. IS will add the zip code to Salesforce and you will be able to enter it at that point. In the meantime, leave the Zip Code blank.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Address_Record_Lookup</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the new Admin Action extension</description>
        <name>AdministrativeActionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourtRepRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_Information__c</objectType>
    </variables>
    <variables>
        <name>defaultCaseInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Information__c</objectType>
    </variables>
    <variables>
        <name>defaultContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IntakeApprovedByName1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeApprovedByUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ZipCodeLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Zip_Code_Mapping__c</objectType>
    </variables>
    <variables>
        <name>ZipCodeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
