src/flows/CEP_Attorney_Consent-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Update_Contact_Fault</name>
        <label>Update Contact Fault</label>
        <locationX>268</locationX>
        <locationY>179</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <elementReference>Update_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>CEP Attorney Consent</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <choices>
        <name>ALJ</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ALJ1</name>
        <choiceText>ALJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Attorney</name>
        <choiceText>Attorney</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>Blank</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Boys_Family_Court</name>
        <choiceText>Boys Family Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Defenders</name>
        <choiceText>Brooklyn Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brooklyn_Treatment_Court</name>
        <choiceText>Brooklyn Treatment Court</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GirlRising</name>
        <choiceText>GirlRising</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hold</name>
        <choiceText>Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_On_Bail</name>
        <choiceText>In On Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LAS</name>
        <choiceText>LAS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Legal_Aid</name>
        <choiceText>Legal Aid</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Made_Bail</name>
        <choiceText>Made Bail</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Manhattan</name>
        <choiceText>Manhattan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nassau</name>
        <choiceText>Nassau</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Neighborhood_Defenders_of_Harlem</name>
        <choiceText>Neighborhood Defenders of Harlem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_York_County_Defenders</name>
        <choiceText>New York County Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Out_of_NY_State</name>
        <choiceText>Out of NY State</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRP</name>
        <choiceText>PRP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PRS</name>
        <choiceText>PRS</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Putnam</name>
        <choiceText>Putnam</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Queens_Law_Associates</name>
        <choiceText>Queens Law Associates</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Remand</name>
        <choiceText>Remand</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ROR</name>
        <choiceText>ROR</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>STEP</name>
        <choiceText>STEP</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Suffolk</name>
        <choiceText>Suffolk</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Supreme_Court_Boys</name>
        <choiceText>Supreme Court Boys</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>THCC</name>
        <choiceText>THCC</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>The_Bronx_Defenders</name>
        <choiceText>The Bronx Defenders</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Westchester</name>
        <choiceText>Westchester</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X002</name>
        <choiceText>002</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X003</name>
        <choiceText>003</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X005</name>
        <choiceText>005</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X18B</name>
        <choiceText>18B</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Attorney_Consent</name>
        <label>Attorney Consent</label>
        <locationX>445</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>attorney consent equals NO or HOLD</defaultConnectorLabel>
        <rules>
            <name>Attorney_Consent_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attorney_Consentx</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Screening_Stage_Contact</targetReference>
            </connector>
            <label>Attorney Consent Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible1</name>
        <label>Eligible</label>
        <locationX>61</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Eligible equals No</defaultConnectorLabel>
        <rules>
            <name>Eligible_equals_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attorney_Consent</targetReference>
            </connector>
            <label>Eligible equals Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CourtRep</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourtRepRecordtype</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>CEP Attorney Consent</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>64</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Eligible1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attorney_Called_On__c</field>
            <value>
                <elementReference>Attorney_Called_On</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attorney_Consent__c</field>
            <value>
                <elementReference>Attorney_Consentx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attorney_Decision_Date__c</field>
            <value>
                <elementReference>Attorney_Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attorney_Notes__c</field>
            <value>
                <elementReference>Attorney_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Found_Ineligible__c</field>
            <value>
                <elementReference>Date_found_ineligible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligible__c</field>
            <value>
                <elementReference>Eligible</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Screening_Stage_Contact</name>
        <label>Update Screening Stage (Contact)</label>
        <locationX>435</locationX>
        <locationY>588</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Screening_Stage__c</field>
            <value>
                <stringValue>Pending Interview</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Attorney_Consent1</name>
        <label>Attorney Consent</label>
        <locationX>64</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>AttorneyConsent</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Attorney Consent:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attorney_Called_On</name>
            <dataType>Date</dataType>
            <fieldText>Attorney Called On</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attorney_Consentx</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Hold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attorney Consent</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attorney_Decision_Date</name>
            <dataType>Date</dataType>
            <fieldText>Attorney Decision Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligible</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Eligible?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_found_ineligible</name>
            <dataType>Date</dataType>
            <fieldText>Date found ineligible</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attorney_Notes</name>
            <fieldText>Attorney Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>429</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultDesc</name>
            <fieldText>The screening process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>51</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_title</name>
            <fieldText>Click &quot;Finish&quot; to return to the Court Dates screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Attorney_Consent1</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CourtRepRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intakeCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
