src/flows/CIRT_Interview-24.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>549</locationX>
        <locationY>106</locationY>
        <apexClass>pluginGetCurrentUser</apexClass>
        <connector>
            <targetReference>Get_Address1</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>userId</assignToReference>
            <name>userId</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Set_Interview_Date_Default</name>
        <label>Set Interview Date Default</label>
        <locationX>266</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Interview_Date_Default</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Date1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medications</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>About_every_day</name>
        <choiceText>About every day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>About every day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accepted_for_Intake</name>
        <choiceText>Accepted for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted for Intake</stringValue>
        </value>
    </choices>
    <choices>
        <name>Active_Hold</name>
        <choiceText>Active Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Affordable_Housing</name>
        <choiceText>Affordable Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Affordable Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Air_Force</name>
        <choiceText>Air Force</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Air Force</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alcohol</name>
        <choiceText>Alcohol</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alcohol</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alcohol_Mild</name>
        <choiceText>Alcohol - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alcohol - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alcohol_Moderate</name>
        <choiceText>Alcohol - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alcohol - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alcohol_Severe</name>
        <choiceText>Alcohol - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alcohol - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_START_parts</name>
        <choiceText>All START parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All START parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Indian_Alaskan_Native</name>
        <choiceText>American Indian/Alaskan Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian/Alaskan Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Sign_Language</name>
        <choiceText>American Sign Language</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Sign Language</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amphetamines_Mild</name>
        <choiceText>Amphetamines - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amphetamines - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amphetamines_Moderate</name>
        <choiceText>Amphetamines - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amphetamines - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amphetamines_other_uppers</name>
        <choiceText>Amphetamines (other uppers)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amphetamines (other uppers)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amphetamines_Severe</name>
        <choiceText>Amphetamines - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amphetamines - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Antisocial_Personality_Disorder</name>
        <choiceText>Antisocial Personality Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Antisocial Personality Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anxiety_Disorder</name>
        <choiceText>Anxiety Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anxiety Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR1</name>
        <choiceText>AR1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR1</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2</name>
        <choiceText>AR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2A</name>
        <choiceText>AR2A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3</name>
        <choiceText>AR3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3A</name>
        <choiceText>AR3A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR4</name>
        <choiceText>AR4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Army</name>
        <choiceText>Army</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Army</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrest_Charges</name>
        <choiceText>Arrest Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrest Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arthritis_Joint_Disorder</name>
        <choiceText>Arthritis/ Joint Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arthritis/ Joint Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASC</name>
        <choiceText>ASC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Pacific_Islander</name>
        <choiceText>Asian/Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian/Pacific Islander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Associate_s</name>
        <choiceText>Associate&apos;s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Associate&apos;s</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asthma</name>
        <choiceText>Asthma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asthma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Atheist</name>
        <choiceText>Atheist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Atheist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attended_in_Past_Two_Months</name>
        <choiceText>Attended in Past Two Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attended in Past Two Months</stringValue>
        </value>
    </choices>
    <choices>
        <name>Attention_Deficit_Hyperactivity_ADHD</name>
        <choiceText>Attention Deficit Hyperactivity (ADHD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attention Deficit Hyperactivity (ADHD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aunt_Uncle</name>
        <choiceText>Aunt/ Uncle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt/Uncle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Autism_Spectrum_Disorder</name>
        <choiceText>Autism Spectrum Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autism Spectrum Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor_s</name>
        <choiceText>Bachelor&apos;s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor&apos;s</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Conduct</name>
        <choiceText>Bad Conduct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Conduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Baptist</name>
        <choiceText>Baptist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baptist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Benzodiazepines_Mild</name>
        <choiceText>Benzodiazepines - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benzodiazepines - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Benzodiazepines_Moderate</name>
        <choiceText>Benzodiazepines - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benzodiazepines - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Benzodiazepines_Severe</name>
        <choiceText>Benzodiazepines - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benzodiazepines - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bipolar_Affective_Disorder</name>
        <choiceText>Bipolar Affective Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bipolar Affective Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>blank_num</name>
        <choiceText>blank</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Borderline_Personality_Disorder</name>
        <choiceText>Borderline Personality Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Borderline Personality Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bronx</name>
        <choiceText>Bronx</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bronx</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brooklyn</name>
        <choiceText>Brooklyn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brooklyn</stringValue>
        </value>
    </choices>
    <choices>
        <name>BTP1</name>
        <choiceText>BTP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Buddhist</name>
        <choiceText>Buddhist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buddhist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancer</name>
        <choiceText>Cancer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cantonese</name>
        <choiceText>Cantonese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cantonese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chinese</name>
        <choiceText>Chinese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chinese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Christian_Scientist</name>
        <choiceText>Christian Scientist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Christian Scientist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coast_Guard</name>
        <choiceText>Coast Guard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coast Guard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cocaine</name>
        <choiceText>Cocaine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cocaine</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cocaine_by_itself</name>
        <choiceText>Cocaine (by itself)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cocaine (by itself)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cocaine_Mild</name>
        <choiceText>Cocaine - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cocaine - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cocaine_Moderate</name>
        <choiceText>Cocaine - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cocaine - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cocaine_Severe</name>
        <choiceText>Cocaine - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cocaine - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Community_Case_Management</name>
        <choiceText>Community Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connecticut</name>
        <choiceText>Connecticut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connecticut</stringValue>
        </value>
    </choices>
    <choices>
        <name>Considerably</name>
        <choiceText>Considerably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Considerably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conviction_Charges</name>
        <choiceText>Conviction Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conviction Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Rep_Rejected</name>
        <choiceText>Court Rep. Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Rep. Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crack_Cocaine_Mild</name>
        <choiceText>Crack Cocaine - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crack Cocaine - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crack_Cocaine_Moderate</name>
        <choiceText>Crack Cocaine - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crack Cocaine - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crack_Cocaine_Severe</name>
        <choiceText>Crack Cocaine - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crack Cocaine - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crack_Freebase</name>
        <choiceText>Crack/Freebase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crack/Freebase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creole</name>
        <choiceText>Creole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Criminal_Court_Arraignment_Charges</name>
        <choiceText>Criminal Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criminal Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>DA_Offered_Non_Jail_Sentence</name>
        <choiceText>DA Offered Non-Jail Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DA Offered Non-Jail Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT</name>
        <choiceText>DAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desk Appearance Ticket (DAT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daytime_Custody</name>
        <choiceText>Daytime Custody</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deafness_or_other_hearing_impairment</name>
        <choiceText>Deafness or other hearing impairment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deafness or other hearing impairment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deer_Park</name>
        <choiceText>Deer Park</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deer Park</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defendant_Refused</name>
        <choiceText>Defendant Refused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant Refused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney</name>
        <choiceText>Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney_Refused</name>
        <choiceText>Defense Attorney Refused</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney Refused</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dementia</name>
        <choiceText>Dementia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diabetes</name>
        <choiceText>Diabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_Attorney</name>
        <choiceText>District Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Domestic_Partner</name>
        <choiceText>Domestic Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Domestic Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>East_Orange</name>
        <choiceText>East Orange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>East Orange</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ecstasy_Mild</name>
        <choiceText>Ecstasy - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ecstasy - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ecstasy_Moderate</name>
        <choiceText>Ecstasy - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ecstasy - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ecstasy_Severe</name>
        <choiceText>Ecstasy - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ecstasy - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emphysema_COPD</name>
        <choiceText>Emphysema/COPD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emphysema/COPD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_F_T</name>
        <choiceText>Employed F/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed F/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_P_T</name>
        <choiceText>Employed P/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed P/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Endocrine_Thyroid_Pituitary_Adrenal</name>
        <choiceText>Endocrine (Thyroid, Pituitary, Adrenal)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Endocrine (Thyroid, Pituitary, Adrenal)</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enrolled_but_Not_Attending</name>
        <choiceText>Enrolled but Not Attending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enrolled but Not Attending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Epilepsy_Seizures</name>
        <choiceText>Epilepsy/Seizures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Epilepsy/Seizures</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extremely</name>
        <choiceText>Extremely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extremely_difficult</name>
        <choiceText>Extremely difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_Court_Arraignment_Charges</name>
        <choiceText>Family Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_s_Affordable_Housing</name>
        <choiceText>Family&apos;s Affordable Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family&apos;s Affordable Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_s_Private_Market_Housing</name>
        <choiceText>Family&apos;s Private Market Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family&apos;s Private Market Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fee_for_Service</name>
        <choiceText>Fee-for-Service</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fee-for-Service</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_Reproductive_Issues</name>
        <choiceText>Female Reproductive Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female Reproductive Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Food_Stamps</name>
        <choiceText>SNAP/Food Stamps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SNAP/Food Stamps</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>GED_HSE</name>
        <choiceText>GED/ HSE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GED/ HSE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gender_Non_Conforming</name>
        <choiceText>Gender Non-Conforming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gender Non-Conforming</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Honorable_Conditions</name>
        <choiceText>General (Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_without_Honorable_Conditions</name>
        <choiceText>General (without Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (without Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genital_Urinary_Disorder</name>
        <choiceText>Genital/ Urinary Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genital/ Urinary Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Girl_Boy_Friend</name>
        <choiceText>Girl/Boy Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Girl/Boy Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grandparent</name>
        <choiceText>Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Greek</name>
        <choiceText>Greek</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Greek</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hallucinogens_LSD_PCP_Psychedelics_Mushrooms</name>
        <choiceText>Hallucinogens/LSD/PCP/Psychedelics/Mushrooms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hallucinogens/LSD/PCP/Psychedelics/Mushrooms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hallucinogens_Mild</name>
        <choiceText>Hallucinogens - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hallucinogens - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hallucinogens_Moderate</name>
        <choiceText>Hallucinogens - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hallucinogens - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hallucinogens_Severe</name>
        <choiceText>Hallucinogens - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hallucinogens - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Head_Injury</name>
        <choiceText>Head Injury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head Injury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heart_Attack</name>
        <choiceText>Heart Attack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heart Attack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hepatitis_Cirrhosis</name>
        <choiceText>Hepatitis/ Cirrhosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hepatitis/ Cirrhosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heroin_and_Cocaine_mixed_as_a_speedball</name>
        <choiceText>Heroin and Cocaine (mixed as a speedball)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heroin and Cocaine (mixed as a speedball)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Heroin_by_itself</name>
        <choiceText>Heroin (by itself)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Heroin (by itself)</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_Blood_Sugar</name>
        <choiceText>High Blood Sugar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Blood Sugar</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_School_Graduate</name>
        <choiceText>High School Graduate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>High_School_Graduate_0</name>
        <choiceText>High School Graduate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High School Graduate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindu</name>
        <choiceText>Hindu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hispanic_Latino</name>
        <choiceText>Hispanic/ Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic/ Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>HIV_AIDS</name>
        <choiceText>HIV/AIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HIV/AIDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hold</name>
        <choiceText>Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless</name>
        <choiceText>Homeless</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless, No Perm Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Honorable</name>
        <choiceText>Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hyperlipidemia_High_Cholesterol</name>
        <choiceText>Hyperlipidemia (High Cholesterol)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hyperlipidemia (High Cholesterol)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hypertension_High_Blood_Pressure</name>
        <choiceText>Hypertension (High Blood Pressure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension (High Blood Pressure)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Impulse_Control_Disorder</name>
        <choiceText>Impulse Control Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impulse Control Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indic</name>
        <choiceText>Indic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indictment_Charges</name>
        <choiceText>Indictment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indictment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inhalants</name>
        <choiceText>Inhalants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inhalants</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inhalants_Mild</name>
        <choiceText>Inhalants - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inhalants - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inhalants_Moderate</name>
        <choiceText>Inhalants - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inhalants - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inhalants_Severe</name>
        <choiceText>Inhalants - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inhalants - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intellectual_Disability</name>
        <choiceText>Intellectual Disability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intellectual Disability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jail</name>
        <choiceText>Jail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japanese</name>
        <choiceText>Japanese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japanese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jehovah_s_Witness</name>
        <choiceText>Jehovah&apos;s Witness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jehovah&apos;s Witness</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jersey_City</name>
        <choiceText>Jersey City</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jersey City</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewish</name>
        <choiceText>Jewish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewish</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP5</name>
        <choiceText>JP5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Choice</name>
        <choiceText>Judge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Refuses_to_Consider</name>
        <choiceText>Judge Refuses to Consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Refuses to Consider</stringValue>
        </value>
    </choices>
    <choices>
        <name>K2_Synthetic_Mild</name>
        <choiceText>K2/Synthetic - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K2/Synthetic - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>K2_Synthetic_Moderate</name>
        <choiceText>K2/Synthetic - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K2/Synthetic - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>K2_Synthetic_Severe</name>
        <choiceText>K2/Synthetic - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>K2/Synthetic - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kidney_Disease</name>
        <choiceText>Kidney Disease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kidney Disease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_H_S_Graduate</name>
        <choiceText>Less than H.S. Graduate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Less_than_H_S_Graduate_0</name>
        <choiceText>Less than H.S. Graduate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than H.S. Graduate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_H_S_Graduate_00</name>
        <choiceText>Less than H.S. Graduate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than H.S. Graduate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_High_School_Graduate</name>
        <choiceText>Less than High School Graduate</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Less than High School Graduate</promptText>
        </userInput>
        <value>
            <stringValue>Less than High School Graduate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lives_Outside_NYC</name>
        <choiceText>Lives Outside NYC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lives Outside NYC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Major_Depressive_Disorder</name>
        <choiceText>Major Depressive Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major Depressive Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Managed_Care</name>
        <choiceText>Managed Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Managed Care</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mandarin</name>
        <choiceText>Mandarin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandarin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_Hashish</name>
        <choiceText>Marijuana/Hashish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana/Hashish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_Mild</name>
        <choiceText>Marijuana - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_Moderate</name>
        <choiceText>Marijuana - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marijuana_Severe</name>
        <choiceText>Marijuana - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marijuana - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marine_Corps</name>
        <choiceText>Marine Corps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marine Corps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>Master_s</name>
        <choiceText>Master&apos;s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Master&apos;s</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medicaid</name>
        <choiceText>Medicaid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicaid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medicare</name>
        <choiceText>Medicare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medicare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Methadone_Mild</name>
        <choiceText>Methadone - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Methadone - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Methadone_Moderate</name>
        <choiceText>Methadone - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Methadone - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Methadone_Severe</name>
        <choiceText>Methadone - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Methadone - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Methamphetamines</name>
        <choiceText>Methamphetamines</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Methamphetamines</stringValue>
        </value>
    </choices>
    <choices>
        <name>Methodist</name>
        <choiceText>Methodist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Methodist</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobility_Impairment</name>
        <choiceText>Mobility Impairment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobility Impairment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moderately</name>
        <choiceText>Moderately</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mount_Vernon</name>
        <choiceText>Mount Vernon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mount Vernon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Muslim</name>
        <choiceText>Muslim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Muslim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navy</name>
        <choiceText>Navy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Never</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Jersey</name>
        <choiceText>New Jersey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Jersey</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_York</name>
        <choiceText>New York</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New York</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newark</name>
        <choiceText>Newark</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newark</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_Offer</name>
        <choiceText>No Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Offer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Hispanic_Non_Latino</name>
        <choiceText>Non Hispanic/ Non Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Hispanic/ Non Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Jail_Disposition</name>
        <choiceText>Non-Jail Disposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Jail Disposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all</name>
        <choiceText>Not at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_difficult_at_all</name>
        <choiceText>Not difficult at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not difficult at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Enrolled</name>
        <choiceText>Not Enrolled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Enrolled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Entered</name>
        <choiceText>Not Entered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Entered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obesity</name>
        <choiceText>Obesity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obesity</stringValue>
        </value>
    </choices>
    <choices>
        <name>On_own</name>
        <choiceText>On own</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On own</stringValue>
        </value>
    </choices>
    <choices>
        <name>Only_a_few_times</name>
        <choiceText>Only a few times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Only a few times</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opiates_Mild</name>
        <choiceText>Opiates - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opiates - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opiates_Moderate</name>
        <choiceText>Opiates - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opiates - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opiates_Severe</name>
        <choiceText>Opiates - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opiates - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Osteoporosis</name>
        <choiceText>Osteoporosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Osteoporosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Cardiac_Condition</name>
        <choiceText>Other Cardiac Condition (Not Heart Attack)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Cardiac Condition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_opiates_Opium_Morphine_Demerol</name>
        <choiceText>Other opiates/Opium/Morphine/Demerol</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other opiates/Opium/Morphine/Demerol</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relative</name>
        <choiceText>Other Relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Than_Honorable</name>
        <choiceText>Other Than Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Than Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paranoid_Personality_Disorder</name>
        <choiceText>Paranoid Personality Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paranoid Personality Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole</name>
        <choiceText>Parole</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Parole_Probation_Officer_Unavailable_for_Consent</name>
        <choiceText>Parole/ Probation Officer Unavailable for Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole/ Probation Officer Unavailable for Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Rejected</name>
        <choiceText>Parole Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCP_Mild</name>
        <choiceText>PCP - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCP - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCP_Moderate</name>
        <choiceText>PCP - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCP - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCP_Severe</name>
        <choiceText>PCP - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCP - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pentecostal</name>
        <choiceText>Pentecostal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pentecostal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical</name>
        <choiceText>Physical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plea_Finding_Charges</name>
        <choiceText>Plea/Finding Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plea/Finding Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Polish</name>
        <choiceText>Polish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Polish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Presbyterian</name>
        <choiceText>Presbyterian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Presbyterian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_drugs_Mild</name>
        <choiceText>Prescription drugs - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription drugs - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_drugs_Moderate</name>
        <choiceText>Prescription drugs - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription drugs - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_drugs_Severe</name>
        <choiceText>Prescription drugs - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription drugs - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private</name>
        <choiceText>Private</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Market_Housing</name>
        <choiceText>Private/ Market Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private/ Market Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Residence</name>
        <choiceText>Private Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation</name>
        <choiceText>Probation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Probation_Rejected</name>
        <choiceText>Probation Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Professional_Degree</name>
        <choiceText>Professional Degree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Professional Degree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Progressive_Neurological_Condition</name>
        <choiceText>Progressive Neurological Condition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Progressive Neurological Condition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Protestant</name>
        <choiceText>Protestant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Protestant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychotic_Disorder</name>
        <choiceText>Psychotic Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychotic Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychotropic</name>
        <choiceText>Psychotropic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychotropic</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_A</name>
        <choiceText>PT A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT A</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_B</name>
        <choiceText>PT B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT B</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_C</name>
        <choiceText>PT C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT C</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_D</name>
        <choiceText>PT D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT D</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_E</name>
        <choiceText>PT E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT E</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_F</name>
        <choiceText>PT F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT F</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_N</name>
        <choiceText>PT N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Assistance_TANF</name>
        <choiceText>Public Assistance/TANF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Assistance/TANF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Queens</name>
        <choiceText>Queens</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Queens</stringValue>
        </value>
    </choices>
    <choices>
        <name>Registered_Alien</name>
        <choiceText>Registered Alien</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered Alien</stringValue>
        </value>
    </choices>
    <choices>
        <name>Roman_Catholic</name>
        <choiceText>Roman Catholic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roman Catholic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Russian</name>
        <choiceText>Russian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schizoaffective_Disorder</name>
        <choiceText>Schizoaffective Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schizoaffective Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schizophrenia</name>
        <choiceText>Schizophrenia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schizophrenia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sedatives_Mild</name>
        <choiceText>Sedatives - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sedatives - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sedatives_Moderate</name>
        <choiceText>Sedatives - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sedatives - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sedatives_Severe</name>
        <choiceText>Sedatives - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sedatives - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self</name>
        <choiceText>Self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated_Divorced</name>
        <choiceText>Separated/ Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated/ Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter</name>
        <choiceText>Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelton</name>
        <choiceText>Shelton</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelton</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sight_Impairment</name>
        <choiceText>Sight Impairment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sight Impairment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slightly</name>
        <choiceText>Slightly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Some_College</name>
        <choiceText>Some College</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Some College</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_difficult</name>
        <choiceText>Somewhat difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Speech_Impairment</name>
        <choiceText>Speech Impairment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Speech Impairment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse/CL</stringValue>
        </value>
    </choices>
    <choices>
        <name>START</name>
        <choiceText>START</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>START</stringValue>
        </value>
    </choices>
    <choices>
        <name>Staten_Island</name>
        <choiceText>Staten Island</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Staten Island</stringValue>
        </value>
    </choices>
    <choices>
        <name>STD</name>
        <choiceText>STD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Street_Methadone_non_prescription</name>
        <choiceText>Street Methadone (non-prescription)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Street Methadone (non-prescription)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stroke</name>
        <choiceText>Stroke</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stroke</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplemental_Security_Income_SSI_SSD</name>
        <choiceText>Supplemental Security Income (SSI/SSD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplemental Security Income (SSI/SSD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supportive_Housing</name>
        <choiceText>Supportive Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supportive Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tobacco_Mild</name>
        <choiceText>Tobacco - Mild</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tobacco - Mild</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tobacco_Moderate</name>
        <choiceText>Tobacco - Moderate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tobacco - Moderate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tobacco_Severe</name>
        <choiceText>Tobacco - Severe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tobacco - Severe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trade_School</name>
        <choiceText>Trade School</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trade School</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tranquilizers_Barbiturates_Sedatives_downers</name>
        <choiceText>Tranquilizers/Barbiturates/Sedatives (downers)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tranquilizers/Barbiturates/Sedatives (downers)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transitional_Residence</name>
        <choiceText>Transitional Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transitional Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Readiness_Program</name>
        <choiceText>Treatment Readiness Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuberculosis</name>
        <choiceText>Tuberculosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuberculosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ulcer_Gastrointestinal_Disorder</name>
        <choiceText>Ulcer/ Gastrointestinal Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ulcer/ Gastrointestinal Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Undocumented_Alien</name>
        <choiceText>Undocumented Alien</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undocumented Alien</stringValue>
        </value>
    </choices>
    <choices>
        <name>Undomiciled</name>
        <choiceText>Undomiciled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undomiciled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployment_Union_Benefits</name>
        <choiceText>Unemployment/ Union Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployment/ Union Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urdu</name>
        <choiceText>Urdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>US_Citizen</name>
        <choiceText>US Citizen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US Citizen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_difficult</name>
        <choiceText>Very difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veteran_s_Benefits</name>
        <choiceText>Veteran&apos;s Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veteran&apos;s Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vietnamese</name>
        <choiceText>Vietnamese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vietnamese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary</name>
        <choiceText>Voluntary</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Wages_salary_self_employed</name>
        <choiceText>Wages/salary/self-employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wages/salary/self-employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Day</name>
        <choiceText>Week Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Night</name>
        <choiceText>Week Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend_Night</name>
        <choiceText>Weekend Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekend Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weight_Obesity_Unexplained_Gain_Loss</name>
        <choiceText>Weight (Obesity, Unexplained Gain/Loss)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weight (Obesity, Unexplained Gain/Loss)</stringValue>
        </value>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_friend_s</name>
        <choiceText>With friend(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With friend(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_non_relative_non_friends</name>
        <choiceText>With non-relative non-friends</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With non-relative non-friends</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_other_relative</name>
        <choiceText>With other relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With other relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_parent_s</name>
        <choiceText>With parent(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With parent(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>With_partner</name>
        <choiceText>With partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X12th_floor_bridge</name>
        <choiceText>12th floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12th floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1535b</name>
        <choiceText>1535b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1535b</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_3_times_a_month</name>
        <choiceText>1-3 times a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-3 times a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_5_times_a_week</name>
        <choiceText>1-5 times a week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-5 times a week</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_time</name>
        <choiceText>1 time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 time</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2_times</name>
        <choiceText>2 times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 times</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3_times</name>
        <choiceText>3 times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 times</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3rd_floor_bridge</name>
        <choiceText>3rd floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_or_more_times</name>
        <choiceText>4 or more times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 or more times</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X8_00_am</name>
        <choiceText>8:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>XNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>XYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yiddish</name>
        <choiceText>Yiddish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yiddish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yonkers</name>
        <choiceText>Yonkers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yonkers</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Client_Consent_Decision</name>
        <label>Client Consent Decision</label>
        <locationX>361</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Client_Previously_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Yes_Client_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Consents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Previously_Rejected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Client_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Consents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_w_Client_Consent_No</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Previously_Rejected</name>
        <label>Client Previously Rejected</label>
        <locationX>535</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_w_Client_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Previously_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Never Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_w_Client_Consent_Previously_Rejected</targetReference>
            </connector>
            <label>Previously Rejected</label>
        </rules>
        <rules>
            <name>First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Never Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_w_Client_Consent</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_CRAFFT_Decision</name>
        <label>Create CRAFFT?</label>
        <locationX>181</locationX>
        <locationY>1049</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_CRAFFT_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRAFFT_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRAFFT_Assessment</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Skip_CRAFFT_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRAFFT_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PHQ9T_Decision</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_MHSF_Decision</name>
        <label>Create MHSF?</label>
        <locationX>489</locationX>
        <locationY>1105</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_MHSF_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MHSF_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MHSF_Flow</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Skip_MHSF_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MHSF_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TCU_Decision</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_PHQ9_Decision</name>
        <label>Create PHQ9?</label>
        <locationX>674</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_PHQ9_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PHQ_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PHQ9Adult</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Skip_PHQ9_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PHQ_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Progress_Note_for_Adult_Assessment_Skip</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_PHQ9T_Decision</name>
        <label>Create PHQ9T?</label>
        <locationX>343</locationX>
        <locationY>1167</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_PHQ9T_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PHQ9T_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PHQ9Teen</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Skip_PHQ9T_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PHQ9T_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Progress_Note_for_Youth_Assessment_Skip</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Progress_Note_for_Adult_Assessment_Skip</name>
        <label>Create Progress Note for Adult Assessment Skip</label>
        <locationX>695</locationX>
        <locationY>1503</locationY>
        <defaultConnector>
            <targetReference>Set_Interview_Stage_to_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_Note_Adult_Assessment_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adult_Assessments_No_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Adult_Assessments_No_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skipped_Adult_Assessments_Note</targetReference>
            </connector>
            <label>Create Note</label>
        </rules>
        <rules>
            <name>Continue_Adult_Assessment_Ski</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Adult_Assessments_No_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Adult_Assessments_No_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Interview_Stage_to_Note</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Progress_Note_for_Youth_Assessment_Skip</name>
        <label>Create Progress Note for Youth Assessment Skip</label>
        <locationX>397</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Set_Interview_Stage_to_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_Note_Youth_Assessment_Skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Youth_Assessments_No_Reason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Youth_Assessments_No_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Skipped_Youth_Assessments_Note</targetReference>
            </connector>
            <label>Create Note</label>
        </rules>
        <rules>
            <name>Continue_Youth_Assessment_Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Youth_Assessments_No_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Youth_Assessments_No_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Interview_Stage_to_Note</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_TCU_Decision</name>
        <label>Create TCU?</label>
        <locationX>732</locationX>
        <locationY>1204</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Create_TCU_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TCU_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCU_V_Flow</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Skip_TCU_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TCU_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PHQ9_Decision</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enter_More_Medications</name>
        <label>Enter More Medications?</label>
        <locationX>639</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome Enter More Meds</defaultConnectorLabel>
        <rules>
            <name>Additional_entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterMoreMedications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medications</targetReference>
            </connector>
            <label>Additional entry</label>
        </rules>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterMoreMedications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Already_Mandated</name>
        <label>Is Client Already Mandated?</label>
        <locationX>76</locationX>
        <locationY>1844</locationY>
        <defaultConnector>
            <targetReference>Final_Contact_Update_Pending_Mandate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Mandated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreeningStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Contact_Update_Already_Mandated</targetReference>
            </connector>
            <label>Mandated</label>
        </rules>
        <rules>
            <name>Interview_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreeningStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Contact_Update_Pending_Mandate</targetReference>
            </connector>
            <label>Interview Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_to_last_screen_saved_in_Flow</name>
        <label>Move to last screen saved in Flow</label>
        <locationX>30</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Interview_Already_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Start Flow Again</defaultConnectorLabel>
        <rules>
            <name>Pending_Interview</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Consent</targetReference>
            </connector>
            <label>Pending Interview</label>
        </rules>
        <rules>
            <name>Interview_Demographics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demographics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Demographics_1</targetReference>
            </connector>
            <label>Interview - Demographics</label>
        </rules>
        <rules>
            <name>Interview_Assessments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assessments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Youth_or_Adult</targetReference>
            </connector>
            <label>Interview - Assessments</label>
        </rules>
        <rules>
            <name>Interview_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screening_Analysis</targetReference>
            </connector>
            <label>Interview - Notes</label>
        </rules>
        <rules>
            <name>Screening_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InterviewStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interview_Already_Completed</targetReference>
            </connector>
            <label>Screening Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Youth_or_Adult</name>
        <label>Youth or Adult</label>
        <locationX>164</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Adult_Assessments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Youth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Youth_Assessments</targetReference>
            </connector>
            <label>Youth</label>
        </rules>
        <rules>
            <name>Adult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientAge</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adult_Assessments</targetReference>
            </connector>
            <label>Adult</label>
        </rules>
    </decisions>
    <description>Added CRAFFT, MHSF, PHQ9 and TCU V subflows</description>
    <formulas>
        <name>intComplianceDateMethod</name>
        <dataType>Number</dataType>
        <expression>if({!Program} = &quot;DTC&quot;, 2, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Number of days before compliance date (15 for DTC, 30 for CCM)</description>
        <name>intComplianceDays</name>
        <dataType>Number</dataType>
        <expression>if({!Program}=&quot;DTC&quot;, 15, 30)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CIRT Interview 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CIRT Interview 4</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Interview_Note</name>
        <label>Create Interview Note</label>
        <locationX>78</locationX>
        <locationY>1758</locationY>
        <connector>
            <targetReference>Is_Client_Already_Mandated</targetReference>
        </connector>
        <inputAssignments>
            <field>Area__c</field>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Plan__c</field>
            <value>
                <elementReference>programPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Note__c</field>
            <value>
                <elementReference>Screening_Analysis_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CourtRepNoteRecordtype</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Skipped_Adult_Assessments_Note</name>
        <label>Create Skipped Adult Assessments Note</label>
        <locationX>811</locationX>
        <locationY>1681</locationY>
        <connector>
            <targetReference>Set_Interview_Stage_to_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Program_Plan__c</field>
            <value>
                <elementReference>programPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Note__c</field>
            <value>
                <elementReference>Adult_Assessments_No_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CourtRepNoteRecordtype</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Note__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Skipped_Youth_Assessments_Note</name>
        <label>Create Skipped Youth Assessments Note</label>
        <locationX>386</locationX>
        <locationY>1558</locationY>
        <connector>
            <targetReference>Set_Interview_Stage_to_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Program_Plan__c</field>
            <value>
                <elementReference>programPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress_Note__c</field>
            <value>
                <elementReference>Youth_Assessments_No_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CourtRepNoteRecordtype</elementReference>
            </value>
        </inputAssignments>
        <object>Progress_Note__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Address1</name>
        <label>Get Address</label>
        <locationX>675</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Plan</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Address_Information__c</object>
        <outputAssignments>
            <assignToReference>addressId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Program_Relationship_Recordtype</name>
        <label>Get Insurance Program Relationship Recordtype</label>
        <locationX>169</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medicaid_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurance</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>Insurance_PR_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicaid_Account</name>
        <label>Get Medicaid Account</label>
        <locationX>6</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medicare_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medicaid</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MedicaidAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Account</name>
        <label>Get Medicare Account</label>
        <locationX>134</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Private_Insurance_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medicare</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>MedicareAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Passed_In_Contact</name>
        <label>Get Passed In Contact</label>
        <locationX>412</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>G_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientStatus</assignToReference>
            <field>Client_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientAge</assignToReference>
            <field>Current_Age__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Interview_Date_Default</assignToReference>
            <field>Interview_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InterviewStage</assignToReference>
            <field>Interview_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ScreeningStage</assignToReference>
            <field>Screening_Stage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Private_Insurance_Account</name>
        <label>Get Private Insurance Account</label>
        <locationX>274</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Passed_In_Contact</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private Insurance</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PrivateInsuranceAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Plan</name>
        <label>Get Program Plan</label>
        <locationX>795</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Move_to_last_screen_saved_in_Flow</targetReference>
        </connector>
        <filters>
            <field>Client_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Program_Plan__c</object>
        <outputAssignments>
            <assignToReference>programPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Screening_Note_Recordtype</name>
        <label>Get Screening Note Recordtype</label>
        <locationX>17</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurance_Program_Relationship_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Court Rep Note</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>CourtRepNoteRecordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Final_Contact_Update_Already_Mandated</name>
        <label>Final Contact Update (Already Mandated)</label>
        <locationX>27</locationX>
        <locationY>2008</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Final_Contact_Update_Pending_Mandate</name>
        <label>Final Contact Update (Pending Mandate)</label>
        <locationX>169</locationX>
        <locationY>1998</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Status__c</field>
            <value>
                <stringValue>Incomplete Screening</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Screening_Stage__c</field>
            <value>
                <stringValue>Pending Mandate</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Interview_Stage_to_Note</name>
        <label>Set Interview Stage to Note</label>
        <locationX>609</locationX>
        <locationY>1755</locationY>
        <connector>
            <targetReference>Screening_Analysis</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Note</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Gender</name>
        <label>Update Account with Gender</label>
        <locationX>548</locationX>
        <locationY>898</locationY>
        <connector>
            <targetReference>Health_Home_and_Income_Subflow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>G_AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>564</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Update_Account_with_Gender</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>addressId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cell_Phone__c</field>
            <value>
                <elementReference>Lives_With_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Person__c</field>
            <value>
                <elementReference>Lives_With_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>Home_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Move_In_Date__c</field>
            <value>
                <elementReference>Move_In_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_Client_Other__c</field>
            <value>
                <elementReference>Relationship_If_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relation_to_client__c</field>
            <value>
                <elementReference>Lives_With_Relationship</elementReference>
            </value>
        </inputAssignments>
        <object>Address_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_w_Client_Consent</name>
        <label>Update Contact w/ Client Consent</label>
        <locationX>533</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Get_Demographics_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Consent__c</field>
            <value>
                <elementReference>Client_Consents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Decision_Date__c</field>
            <value>
                <elementReference>Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Demographics</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_w_Client_Consent_No</name>
        <label>Update Contact w/ Client Consent No</label>
        <locationX>538</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Client_Did_Not_Consent_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
            <value>
                <elementReference>Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
            <value>
                <stringValue>Rejected by Inmate-Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Consent__c</field>
            <value>
                <elementReference>Client_Consents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Decision_Date__c</field>
            <value>
                <elementReference>Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Status__c</field>
            <value>
                <stringValue>Never Enrolled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Outcome_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_w_Client_Consent_Previously_Rejected</name>
        <label>Update Contact w/ Client Consent</label>
        <locationX>917</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Get_Demographics_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Consent__c</field>
            <value>
                <elementReference>Client_Consents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Decision_Date__c</field>
            <value>
                <elementReference>Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Outcome_Modified_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Demographics</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Demographics</name>
        <label>Update Contact with Demographics</label>
        <locationX>365</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>Youth_or_Adult</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Armed_Forces_Discharge_Type__c</field>
            <value>
                <elementReference>Discharge_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Cell_Phone__c</field>
            <value>
                <elementReference>Cell_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criminal_Justice_Involvement__c</field>
            <value>
                <elementReference>Criminal_Justice_Involvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diploma_Status_at_Intake__c</field>
            <value>
                <elementReference>Diploma_Status_at_Intake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Consent_Details__c</field>
            <value>
                <elementReference>Ermegency_Contact_Consent_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_If_Other__c</field>
            <value>
                <elementReference>Emergency_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Phone__c</field>
            <value>
                <elementReference>Emergency_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Relationship__c</field>
            <value>
                <elementReference>Emergency_Contact_Relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ethnicity__c</field>
            <value>
                <elementReference>Ethnicity_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Housing_Status_Entrance__c</field>
            <value>
                <elementReference>Current_Housing_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Date__c</field>
            <value>
                <elementReference>Interview_Date1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interview_Stage__c</field>
            <value>
                <stringValue>Assessments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Living_Situation__c</field>
            <value>
                <elementReference>Living_Situation_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minor_child_caretaking_responsibilities__c</field>
            <value>
                <elementReference>Does_the_client_have_minor_caretaking_responsibilities_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_of_Protection_Details__c</field>
            <value>
                <elementReference>Order_of_Protection_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_of_protection_against_client__c</field>
            <value>
                <elementReference>Order_of_Protection_Against_Client</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Armed_Forces__c</field>
            <value>
                <elementReference>Armed_Forces_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Contact_Information__c</field>
            <value>
                <elementReference>Other_Contact_Information_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Care_Physician_at_Intake__c</field>
            <value>
                <elementReference>Primary_Care_Physician_at_Intake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Language_If_Other__c</field>
            <value>
                <elementReference>Primary_Language_If_Other_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Language__c</field>
            <value>
                <elementReference>Primary_Language_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Race__c</field>
            <value>
                <elementReference>Race_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiving_Treatment__c</field>
            <value>
                <elementReference>Receiving_MH_Treatment_at_Intake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_in_the_Armed_Forces__c</field>
            <value>
                <elementReference>Service_in_the_Armed_Forces</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_No__c</field>
            <value>
                <elementReference>Social_Security_Number_0</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Adult_Assessments</name>
        <label>Adult Assessments</label>
        <locationX>373</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_MHSF_Decision</targetReference>
        </connector>
        <fields>
            <name>MHSF_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enter the MHSF results for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TCU_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enter the TCU results for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PHQ_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enter the PHQ9 results for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Adult_Assessments_No_Reason</name>
            <dataType>String</dataType>
            <fieldText>If no to either, then why?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Client_Consent</name>
        <label>Client Consent</label>
        <locationX>203</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Client_Consent_Decision</targetReference>
        </connector>
        <fields>
            <name>Client_Consents</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Client Consents?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_Date</name>
            <dataType>Date</dataType>
            <fieldText>Decision Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Decision Date can not be in the future.</errorMessage>
                <formulaExpression>Decision_Date &lt;= TODAY ()</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Client_Did_Not_Consent_Screen</name>
        <label>Client Did Not Consent Screen</label>
        <locationX>708</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InterviewAlreadyCompletedText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If the client later changes their consent, search for them in the Court Portal using the Never Enrolled status. That will allow you to restart this interview. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/apex/courtPortal&quot; TARGET=&quot;_blank&quot;&gt;Return to the Court Portal.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Get_Demographics_1</name>
        <label>Get Demographics 1</label>
        <locationX>230</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Demographics_2</targetReference>
        </connector>
        <fields>
            <name>Demographics1Title</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Demographics&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Interview_Date1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Interview Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Language_0</name>
            <choiceReferences>American_Sign_Language</choiceReferences>
            <choiceReferences>Cantonese</choiceReferences>
            <choiceReferences>Chinese</choiceReferences>
            <choiceReferences>Creole</choiceReferences>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Greek</choiceReferences>
            <choiceReferences>Hindi</choiceReferences>
            <choiceReferences>Indic</choiceReferences>
            <choiceReferences>Italian</choiceReferences>
            <choiceReferences>Japanese</choiceReferences>
            <choiceReferences>Mandarin</choiceReferences>
            <choiceReferences>Polish</choiceReferences>
            <choiceReferences>Portuguese</choiceReferences>
            <choiceReferences>Russian</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <choiceReferences>Urdu</choiceReferences>
            <choiceReferences>Vietnamese</choiceReferences>
            <choiceReferences>Yiddish</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Primary Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Language_If_Other_0</name>
            <dataType>String</dataType>
            <fieldText>Primary Language, If Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Social_Security_Number_0</name>
            <dataType>String</dataType>
            <fieldText>Social Security Number (xxx-xx-xxxx)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter a valid Social Security number in the following format: XXX-XX-XXXX</errorMessage>
                <formulaExpression>LEN(Social_Security_Number_0)=11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <choiceReferences>Transgender_Man</choiceReferences>
            <choiceReferences>Transgender_Woman</choiceReferences>
            <choiceReferences>Gender_Non_Conforming</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ethnicity_0</name>
            <choiceReferences>Hispanic_Latino</choiceReferences>
            <choiceReferences>Non_Hispanic_Non_Latino</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Ethnicity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Race_0</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Black</choiceReferences>
            <choiceReferences>White</choiceReferences>
            <choiceReferences>American_Indian_Alaskan_Native</choiceReferences>
            <choiceReferences>Asian_Pacific_Islander</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Race</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Marital_Status_0</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Single</choiceReferences>
            <choiceReferences>Domestic_Partner</choiceReferences>
            <choiceReferences>Married</choiceReferences>
            <choiceReferences>Separated_Divorced</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_the_client_have_minor_caretaking_responsibilities_0</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Does the client have minor caretaking responsibilities?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_in_the_Armed_Forces</name>
            <choiceReferences>Air_Force</choiceReferences>
            <choiceReferences>Army</choiceReferences>
            <choiceReferences>Coast_Guard</choiceReferences>
            <choiceReferences>Marine_Corps</choiceReferences>
            <choiceReferences>Navy</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service in the Armed Forces</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Armed_Forces_Other</name>
            <dataType>String</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Discharge_Type</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Honorable</choiceReferences>
            <choiceReferences>General_Honorable_Conditions</choiceReferences>
            <choiceReferences>General_without_Honorable_Conditions</choiceReferences>
            <choiceReferences>Other_Than_Honorable</choiceReferences>
            <choiceReferences>Bad_Conduct</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Discharge Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Demo1ClientContactTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Contact Info&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <dataType>String</dataType>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cell_Phone</name>
            <dataType>String</dataType>
            <fieldText>Cell Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Demographics1AddressTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Address&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Living_Situation_0</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>On_own</choiceReferences>
            <choiceReferences>With_parent_s</choiceReferences>
            <choiceReferences>With_partner</choiceReferences>
            <choiceReferences>With_other_relative</choiceReferences>
            <choiceReferences>With_friend_s</choiceReferences>
            <choiceReferences>With_non_relative_non_friends</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Living Situation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Move_In_Date</name>
            <dataType>Date</dataType>
            <fieldText>Move In Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Demo1LivesWithTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Lives With&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lives_With_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lives_With_Relationship</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Self</choiceReferences>
            <choiceReferences>Mother</choiceReferences>
            <choiceReferences>Father</choiceReferences>
            <choiceReferences>Grandparent</choiceReferences>
            <choiceReferences>Spouse</choiceReferences>
            <choiceReferences>Aunt_Uncle</choiceReferences>
            <choiceReferences>Other_Relative</choiceReferences>
            <choiceReferences>Friend</choiceReferences>
            <choiceReferences>Girl_Boy_Friend</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship_If_Other</name>
            <dataType>String</dataType>
            <fieldText>If Other, Enter Relationship</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lives_With_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Demographics1EmergencyContactTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Emergency Contact&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Emergency_Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact_Relationship</name>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ermegency_Contact_Consent_Conditions</name>
            <fieldText>Consent Conditions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherContactInfoTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Other Contact Information&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Contact_Information_1</name>
            <fieldText>Other Contact Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Demographics_2</name>
        <label>Get Demographics 2</label>
        <locationX>265</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Interview_Date_Default</targetReference>
        </connector>
        <fields>
            <name>Demographics1Title_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Status at Intake&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Care_Physician_at_Intake</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Primary Care Physician at Intake</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Receiving_MH_Treatment_at_Intake</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Receiving MH Treatment at Intake?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diploma_Status_at_Intake</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Less_than_H_S_Graduate_0</choiceReferences>
            <choiceReferences>GED_HSE</choiceReferences>
            <choiceReferences>High_School_Graduate_0</choiceReferences>
            <choiceReferences>Some_College</choiceReferences>
            <choiceReferences>Associate_s</choiceReferences>
            <choiceReferences>Bachelor_s</choiceReferences>
            <choiceReferences>Master_s</choiceReferences>
            <choiceReferences>Professional_Degree</choiceReferences>
            <choiceReferences>Trade_School</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Diploma Status at Intake</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Criminal_Justice_Involvement</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Parole</choiceReferences>
            <choiceReferences>Probation</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Criminal Justice Involvement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Housing_Status</name>
            <choiceReferences>Affordable_Housing</choiceReferences>
            <choiceReferences>Private_Market_Housing</choiceReferences>
            <choiceReferences>Shelter</choiceReferences>
            <choiceReferences>Homeless</choiceReferences>
            <choiceReferences>Transitional_Residence</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Housing Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_of_Protection_Against_Client</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Unknown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Order of Protection Against Client</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Order_of_Protection_Details</name>
            <fieldText>Order of Protection Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Interview_Already_Completed</name>
        <label>Interview Already Completed</label>
        <locationX>375</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InterviewAlreadyCompletedText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The interview for this client was already entered into Salesforce. To make changes, edit the client&amp;apos;s contact page directly. Otherwise, &lt;A HREF=&quot;/apex/courtPortal&quot; TARGET=&quot;_blank&quot;&gt;return to the Court Portal.&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Screening_Analysis</name>
        <label>Screening Analysis</label>
        <locationX>68</locationX>
        <locationY>1657</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Interview_Note</targetReference>
        </connector>
        <fields>
            <name>Screening_Analysis_Input</name>
            <fieldText>Interview Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreeningAnalysisFinishDesc</name>
            <fieldText>Once you&apos;ve entered the Interview Note, click the Next button. 

On the next page, create a &quot;Program Relationship&quot; record for any Mental Health, Medical, or Substance Abuse Treatment provider the client is currently or recently involved with. Click &quot;Save and New&quot; if the client has multiple relationships. If they have none, click the Court Portal tab at the top.

After the providers are entered, then the interview is complete and you can enter the client&apos;s mandate from the Court Portal.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Youth_Assessments</name>
        <label>Youth Assessments</label>
        <locationX>169</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CRAFFT_Decision</targetReference>
        </connector>
        <fields>
            <name>CRAFFT_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enter the CRAFFT results for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PHQ9T_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Enter the PHQ-9 Teen results for this client?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Youth_Assessments_No_Reason</name>
            <dataType>String</dataType>
            <fieldText>If no to either, then why?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_Screening_Note_Recordtype</startElementReference>
    <subflows>
        <name>CRAFFT_Assessment</name>
        <label>CRAFFT Assessment</label>
        <locationX>182</locationX>
        <locationY>1188</locationY>
        <connector>
            <targetReference>Create_PHQ9T_Decision</targetReference>
        </connector>
        <flowName>CRAFFT_Flow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>G_AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CRAFFTId</assignToReference>
            <name>assmtName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Health_Home_and_Income_Subflow</name>
        <label>Health Home and Income Subflow</label>
        <locationX>539</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Update_Contact_with_Demographics</targetReference>
        </connector>
        <flowName>Health_Home_and_Income_Subflow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Medications</name>
        <label>Medications</label>
        <locationX>433</locationX>
        <locationY>625</locationY>
        <connector>
            <targetReference>Enter_More_Medications</targetReference>
        </connector>
        <flowName>Medications_Subflow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EnterMoreMedications</assignToReference>
            <name>EnterMoreMedications</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MHSF_Flow</name>
        <label>MHSF Flow</label>
        <locationX>537</locationX>
        <locationY>1276</locationY>
        <connector>
            <targetReference>Create_TCU_Decision</targetReference>
        </connector>
        <flowName>MHSF_Flow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PHQ9Adult</name>
        <label>PHQ 9 Adult</label>
        <locationX>857</locationX>
        <locationY>1470</locationY>
        <connector>
            <targetReference>Create_Progress_Note_for_Adult_Assessment_Skip</targetReference>
        </connector>
        <flowName>PHQ_9_Adult_Flow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PHQ9Teen</name>
        <label>PHQ 9 Teen</label>
        <locationX>253</locationX>
        <locationY>1306</locationY>
        <connector>
            <targetReference>Create_Progress_Note_for_Youth_Assessment_Skip</targetReference>
        </connector>
        <flowName>PHQ_9_TEEN_Flow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>TCU_V_Flow</name>
        <label>TCU V Flow</label>
        <locationX>845</locationX>
        <locationY>1343</locationY>
        <connector>
            <targetReference>Create_PHQ9_Decision</targetReference>
        </connector>
        <flowName>TCU_V_Flow</flowName>
        <inputAssignments>
            <name>ContactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>addressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AdjournmentCourtDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attached_Case_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BJMHSTestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BJMHSTestScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClientStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Closing_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compliance_Adjournment_Part</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compliance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compliance_Date_Update</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComplianceCourtDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Court_Rep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CourtRepNoteRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRAFFTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRAFFTRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocketID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnterMoreCases</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnterMoreMedications</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>G_BJMHS_Test_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_Court_Date_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Insurance_PR_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interview_Date_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>InterviewStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfProvidersConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MandateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MandateList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicaidAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicaidPRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicareAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicarePRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MHSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MHSFRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalInterviewOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHQ9_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHQ9Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHQ9TId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHQ9TRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrivateInsuranceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>privatePRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramCycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScreeningNote_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScreeningStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>START_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TCUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TCURecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempProvidersAtIntake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UCLA_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZipCodeLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
