src/flows/CRAFFT_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CRAFFT_Exists</name>
        <label>CRAFFT Exists?</label>
        <locationX>251</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CRAFFT_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Exists</targetReference>
            </connector>
            <label>CRAFFT Exists</label>
        </rules>
        <rules>
            <name>CRAFFT_Does_Not_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRAFFT</targetReference>
            </connector>
            <label>CRAFFT Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>78</locationX>
        <locationY>243</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_DontCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>YesCreateAssmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRAFFT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>logged in user</description>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CRAFFT Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRAFFT Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CRAFFT_Assmt_Container</name>
        <label>CRAFFT Assmt Container</label>
        <locationX>275</locationX>
        <locationY>342</locationY>
        <assignRecordIdToReference>assmtContainerId</assignRecordIdToReference>
        <connector>
            <targetReference>CRAFFT_Assmt_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Completed_by__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Completed_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentCode__c</field>
            <value>
                <elementReference>assmtCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentName__c</field>
            <value>
                <elementReference>assmtName</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordCreates>
    <recordCreates>
        <name>CRAFFT_Assmt_Record</name>
        <label>CRAFFT Assmt Record</label>
        <locationX>276</locationX>
        <locationY>435</locationY>
        <assignRecordIdToReference>CRAFFTId</assignRecordIdToReference>
        <connector>
            <targetReference>lookup_CRAFFT</targetReference>
        </connector>
        <inputAssignments>
            <field>AssessmentContainerId__c</field>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_A1_Drink_any_alcohol__c</field>
            <value>
                <elementReference>Drink_any_alcohol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_A2_Smoke_any_marijuana_or_hashish__c</field>
            <value>
                <elementReference>Smoke_marijuana_or_hashish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_A3_Use_anything_else_to_get_high__c</field>
            <value>
                <elementReference>Used_anything_else_to_get_high</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B1_In_CAR_driven_by_someone_high__c</field>
            <value>
                <elementReference>In_CAR_driven_by_someone_high</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B2_Use_drugs_or_alcohol_to_RELAX__c</field>
            <value>
                <elementReference>Use_drugs_or_alcohol_to_RELAX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B3_Use_drugs_or_alcohol_ALONE__c</field>
            <value>
                <elementReference>Use_drugs_or_alcohol_ALONE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B4_Ever_FORGET_what_you_did__c</field>
            <value>
                <elementReference>Ever_FORGET_what_you_did</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B5_FAMILY_FRIENDS_say_to_cut_down__c</field>
            <value>
                <elementReference>FAMILY_FRIENDS_say_to_cut_down</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRAFFT_B6_In_TROUBLE_while_using_drugs__c</field>
            <value>
                <elementReference>In_TROUBLE_while_using_drugs</elementReference>
            </value>
        </inputAssignments>
        <object>CRAFFT__c</object>
    </recordCreates>
    <recordLookups>
        <name>Assessment_Container</name>
        <label>Assessment Container</label>
        <locationX>94</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRAFFT_Exists</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRAFFT</stringValue>
            </value>
        </filters>
        <object>AssessmentContainer__c</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedBy</assignToReference>
            <field>Assessment_Completed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedOn</assignToReference>
            <field>Assessment_Completed_on__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Assessment_List</name>
        <label>Assessment List</label>
        <locationX>270</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRAFFT_Assmt_Container</targetReference>
        </connector>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRAFFT</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssessmentList__c</object>
        <outputAssignments>
            <assignToReference>assmtCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtName</assignToReference>
            <field>assessmentName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_CRAFFT</name>
        <label>lookup CRAFFT</label>
        <locationX>276</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Container</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CRAFFTId</elementReference>
            </value>
        </filters>
        <object>CRAFFT__c</object>
        <outputAssignments>
            <assignToReference>crafftTotScore</assignToReference>
            <field>Total_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Container</name>
        <label>update Container</label>
        <locationX>272</locationX>
        <locationY>637</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>crafftTotScore</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Exists</name>
        <label>Assessment Exists?</label>
        <locationX>73</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Assessment</targetReference>
        </connector>
        <fields>
            <name>assmtExists</name>
            <fieldText>A {!assmtName} assessment already exists for this client id.  It was created on {!assmtCompletedOn} by {!assmtCompletedBy}.  Do you want to create another assessment or go to next step?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_another_assessment</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>CRAFFT</name>
        <label>CRAFFT</label>
        <locationX>273</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assessment_List</targetReference>
        </connector>
        <fields>
            <name>CRAFFT_TITLE</name>
            <fieldText>CRAFFT</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Section_A</name>
            <fieldText>Section A</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Drink_any_alcohol</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Drink any alcohol?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>During the past 12 months, did you drink any alcohol (more than a few sips)? (Do not count sips of alcohol taken during family or religious events.)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Smoke_marijuana_or_hashish</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Smoke marijuana or hashish?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>During the past 12 months, did you smoke any marijuana or hashish?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Used_anything_else_to_get_high</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Used anything else to get high?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>During the past 12 months, did you use anything else to get high? (“anything else” includes illegal drugs, over the counter and prescription drugs, and things that you sniff or “huff”)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sections_B</name>
            <fieldText>Section B (fill out if any questions in Part A are &quot;Yes&quot;)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>In_CAR_driven_by_someone_high</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>In CAR driven by someone high?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever ridden in a CAR driven by someone (including yourself) who was “high” or had been using alcohol or drugs?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Use_drugs_or_alcohol_to_RELAX</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Use drugs or alcohol to RELAX</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Do you ever use alcohol or drugs to RELAX, feel better about yourself, or fit in?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Use_drugs_or_alcohol_ALONE</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Use drugs or alcohol ALONE?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Do you ever use alcohol or drugs while you are by yourself, or ALONE?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ever_FORGET_what_you_did</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Ever FORGET what you did</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Do you ever FORGET things you did while using alcohol or drugs?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FAMILY_FRIENDS_say_to_cut_down</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>FAMILY/FRIENDS say to cut down</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Do your FAMILY or FRIENDS ever tell you that you should cut down on your drinking or drug use?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>In_TROUBLE_while_using_drugs</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>In TROUBLE while using drugs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever gotten into TROUBLE while you were using alcohol or drugs?</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Assessment_Container</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assmtCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedOn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtContainerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assmtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assmtObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CRAFFTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRAFFTRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>crafftTotScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interview_Date_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
