src/flows/Mark_Client_Never_Enrolled-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>InputId</name>
        <label>InputId</label>
        <locationX>148</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>var_ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_CCI_Contact_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Mark_Never_Enrolled</name>
        <label>Mark Never Enrolled</label>
        <locationX>153</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>adding Decision Date and Final Outcome</description>
    <interviewLabel>Mark Client Never Enrolled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mark Client Never Enrolled</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_CCI_Contact_Record</name>
        <label>Find CCI Contact Record</label>
        <locationX>147</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mark_as_never_enrolled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClientId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_Client_Status</assignToReference>
            <field>Client_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientNameDisplay</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>152</locationX>
        <locationY>531</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClientId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CIRT_Final_Outcome_Date__c</field>
            <value>
                <elementReference>Decision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CIRT_Final_Outcome__c</field>
            <value>
                <stringValue>Never Enrolled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Status__c</field>
            <value>
                <stringValue>Never Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>mark_as_never_enrolled</name>
        <label>Mark this client as &quot;Never Enrolled&quot;?</label>
        <locationX>150</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Mark_Never_Enrolled</targetReference>
        </connector>
        <fields>
            <name>Title1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Record Id:&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IDField</name>
            <fieldText>{!var_ClientId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Client Name:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientNameField</name>
            <fieldText>{!clientNameDisplay}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>status_title</name>
            <fieldText>Status:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Ttitle</name>
            <fieldText>{!var_Client_Status}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mark_this_record_Never_Enrolled</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mark this record &quot;Never Enrolled&quot;?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Decision_Date</name>
            <dataType>Date</dataType>
            <fieldText>Decision Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>InputId</startElementReference>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientNameDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Client_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>passed-in client (contact) id</description>
        <name>var_ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
