src/flows/MHSF_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>97</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoDontCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>YesCreateAssmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MHSF_Exists</name>
        <label>MHSF Exists?</label>
        <locationX>208</locationX>
        <locationY>127</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>MHSF_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MHSFId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Exists</targetReference>
            </connector>
            <label>MHSF Exists</label>
        </rules>
        <rules>
            <name>MHSF_Does_Not_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MHSFId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_List</targetReference>
            </connector>
            <label>MHSF Does Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>User_Id</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>MHSF Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MHSF Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>MHSF_Assmt_Container</name>
        <label>MHSF Assmt Container</label>
        <locationX>328</locationX>
        <locationY>370</locationY>
        <assignRecordIdToReference>containerId</assignRecordIdToReference>
        <connector>
            <targetReference>MHSF_Assmt_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>acctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Completed_by__c</field>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Completed_on__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentCode__c</field>
            <value>
                <elementReference>assmtCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentName__c</field>
            <value>
                <elementReference>assmtName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>assmtResult</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordCreates>
    <recordCreates>
        <name>MHSF_Assmt_Record</name>
        <label>MHSF Assmt Record</label>
        <locationX>330</locationX>
        <locationY>466</locationY>
        <assignRecordIdToReference>MHSFId</assignRecordIdToReference>
        <connector>
            <targetReference>lookup_MHSF</targetReference>
        </connector>
        <inputAssignments>
            <field>AssessmentContainerId__c</field>
            <value>
                <elementReference>containerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q01_Talked_to_psychiatrist__c</field>
            <value>
                <elementReference>Talked_to_psychiatrist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q02_Felt_you_needed_help__c</field>
            <value>
                <elementReference>Felt_you_needed_help</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q03_Ever_been_advised_to_take_meds__c</field>
            <value>
                <elementReference>Ever_been_advised_to_take_meds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q04_Been_hospitalized_for_psych__c</field>
            <value>
                <elementReference>Been_hospitalized_for_psych</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q05_Heard_voices__c</field>
            <value>
                <elementReference>Heard_voices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q06a_Been_depressed__c</field>
            <value>
                <elementReference>Been_depressed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q06b_Ever_attempt_to_kill_yourself__c</field>
            <value>
                <elementReference>Ever_attempt_to_kill_yourself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q07_Have_you_ever_had_nightmares__c</field>
            <value>
                <elementReference>Have_you_ever_had_nightmares</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q08_Experienced_any_strong_fears__c</field>
            <value>
                <elementReference>Experienced_any_strong_fears</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q09_Given_in_to_an_aggressive_urge__c</field>
            <value>
                <elementReference>Given_in_to_an_aggressive_urge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q10_People_are_against_you__c</field>
            <value>
                <elementReference>People_are_against_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q11_Emotional_problems_with_sex__c</field>
            <value>
                <elementReference>Emotional_problems_with_sex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q12_Worried_about_gaining_weight__c</field>
            <value>
                <elementReference>Worried_about_gaining_weight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q13_Full_of_energy__c</field>
            <value>
                <elementReference>Full_of_energy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q14_Attacks_of_anxiety__c</field>
            <value>
                <elementReference>Attacks_of_anxiety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q15_Persistent_repetitive_impulse__c</field>
            <value>
                <elementReference>Persistent_repetitive_impulse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q16_Gambling_impulse__c</field>
            <value>
                <elementReference>Gambling_impulse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MHSF_Q17_Special_Learning_Problem__c</field>
            <value>
                <elementReference>Gambling_impulse</elementReference>
            </value>
        </inputAssignments>
        <object>MHSF__c</object>
    </recordCreates>
    <recordLookups>
        <name>Assessment_Container</name>
        <label>Assessment Container</label>
        <locationX>43</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MHSF</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MHSF</stringValue>
            </value>
        </filters>
        <object>AssessmentContainer__c</object>
        <outputAssignments>
            <assignToReference>acctId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedBy</assignToReference>
            <field>Assessment_Completed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedOn</assignToReference>
            <field>Assessment_Completed_on__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Assessment_List</name>
        <label>Assessment List</label>
        <locationX>324</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MHSF_Assmt_Container</targetReference>
        </connector>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MHSF</stringValue>
            </value>
        </filters>
        <object>AssessmentList__c</object>
        <outputAssignments>
            <assignToReference>assmtCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtName</assignToReference>
            <field>assessmentName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_MHSF</name>
        <label>Lookup MHSF</label>
        <locationX>333</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_container</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MHSFId</elementReference>
            </value>
        </filters>
        <object>MHSF__c</object>
        <outputAssignments>
            <assignToReference>mhsfResult</assignToReference>
            <field>MHSF_Total_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_container</name>
        <label>update container</label>
        <locationX>334</locationX>
        <locationY>653</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>containerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>mhsfResult</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Exists</name>
        <label>Assessment Exists</label>
        <locationX>96</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Assessment</targetReference>
        </connector>
        <fields>
            <name>assmtExists</name>
            <fieldText>A {!assmtName} assessment already exists for this client id.  It was created on {!assmtCompletedOn} by {!assmtCompletedBy}.  Do you want to create another assessment or go to next step?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_another_assessment</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>MHSF</name>
        <label>MHSF</label>
        <locationX>213</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MHSF_Exists</targetReference>
        </connector>
        <fields>
            <name>MHSF_title</name>
            <fieldText>MHSF</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Talked_to_psychiatrist</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Talked to psychiatrist?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever talked to a psychiatrist, psychologist, therapist, social worker, or counselor about an emotional problem?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Felt_you_needed_help</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Felt you needed help?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever felt you needed help with your emotional problems, or have you had people tell you that you should get help?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ever_been_advised_to_take_meds</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Ever been advised to take meds?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever been advised to take medication for anxiety, depression, hearing voices, or for any other emotional problem?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Been_hospitalized_for_psych</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Been hospitalized for psych?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever been seen in a psychiatric emergency room or been hospitalized for psychiatric reasons?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Heard_voices</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Heard voices?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever heard voices no one else could hear or seen objects which others could not see?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Been_depressed</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Been depressed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever been depressed for weeks at a time, lost interest in most activities, had trouble concentrating and making decisions, or thought about killing yourself?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ever_attempt_to_kill_yourself</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Ever attempt to kill yourself?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you ever attempt to kill yourself?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_ever_had_nightmares</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Have you ever had nightmares?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever had nightmares or flashbacks as a result of being involved in a traumatic/terrible event?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Experienced_any_strong_fears</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Experienced any strong fears?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever experienced any strong fears? For example, heights, insects, animals, dirt, attending social events, etc?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Given_in_to_an_aggressive_urge</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Given in to an aggressive urge?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever given in to an aggressive urge or impulse, on more than one occasion, that resulted in serious harm to others or led to the destruction of property?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>People_are_against_you</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>People are against you?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever felt that people had something against you, without them necessarily saying so, or that someone or some group may be trying to influence your thoughts or behaviors?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Emotional_problems_with_sex</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Emotional problems with sex</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever experienced any emotional problems associated with your sexual interests, your sexual activities, or your choice of sexual partner?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Worried_about_gaining_weight</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Worried about gaining weight?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Was there ever a period in your life when you spent a lot of time thinking and worrying about gaining weight, becoming fat, or controlling your eating?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Full_of_energy</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Full of energy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever had a period of time when you were so full of energy and your ideas came very rapidly, when you talked nearly non-stop, when you moved quickly from one activity to another, and believed you could do almost anything?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attacks_of_anxiety</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Attacks of anxiety</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever had spells or attacks when you suddenly felt anxious, frightened, uneasy to the extent that you began sweating, your heart began to beat rapidly, you were shaking or trembling, your stomach was upset, or you felt dizzy or unsteady?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Persistent_repetitive_impulse</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Persistent, repetitive impulse?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever had a persistent, lasting thought or impulse to do something over and over that caused you considerable distress and interfered with normal routines, work, or your social relations?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Gambling_impulse</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Gambling impulse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever lost considerable sums of money through gambling or had problems at work, in school, with your family and friends as a result of your gambling?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Special_Learning_Problem</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Special Learning Problem?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Have you ever been told by teachers, guidance counselors, or others that you have a special learning problem?</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Assessment_Container</startElementReference>
    <variables>
        <name>acctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedOn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>containerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interview_Date_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>MHSFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mhsfResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentContainer__c</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
