src/flows/PHQ_9_Adult_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>blank_num</name>
        <choiceText>blank</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Extremely_difficult</name>
        <choiceText>Extremely difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_difficult_at_all</name>
        <choiceText>Not difficult at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not difficult at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somewhat_difficult</name>
        <choiceText>Somewhat difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somewhat difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_difficult</name>
        <choiceText>Very difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very difficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X2</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>241</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_DontCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PHQ9_Exists</name>
        <label>PHQ9 Exists?</label>
        <locationX>382</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PHQ9_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Exists</targetReference>
            </connector>
            <label>PHQ9 Exists</label>
        </rules>
        <rules>
            <name>PHQ9_Does_Not_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assmtContainerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_List</targetReference>
            </connector>
            <label>PHQ9 Does Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>PHQ 9 Adult Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PHQ 9 Adult Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assmt_Container</name>
        <label>Create Assmt Container</label>
        <locationX>457</locationX>
        <locationY>436</locationY>
        <assignRecordIdToReference>assmtContainerId</assignRecordIdToReference>
        <connector>
            <targetReference>PHQ9_Assmt_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentCode__c</field>
            <value>
                <elementReference>assmtCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentName__c</field>
            <value>
                <elementReference>assmtName</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordCreates>
    <recordCreates>
        <name>PHQ9_Assmt_Record</name>
        <label>PHQ9 Assmt Record</label>
        <locationX>455</locationX>
        <locationY>543</locationY>
        <assignRecordIdToReference>PHQ9Id</assignRecordIdToReference>
        <connector>
            <targetReference>lookup_PHQ9</targetReference>
        </connector>
        <inputAssignments>
            <field>AssessmentContainerId__c</field>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feel_bad_about_yourself__c</field>
            <value>
                <elementReference>Feel_bad_about_yourself_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feeling_depressed__c</field>
            <value>
                <elementReference>Feeling_depressed_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hard_to_function_based_on_above__c</field>
            <value>
                <elementReference>Hard_to_function_based_on_above_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Little_interest_doing_things__c</field>
            <value>
                <elementReference>Little_interest_in_doing_things_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moving_or_speaking_slow_or_fast__c</field>
            <value>
                <elementReference>Moving_or_speaking_slow_or_fast_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Poor_appetite_or_overeating__c</field>
            <value>
                <elementReference>Poor_appetite_or_overeating_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sleep_trouble__c</field>
            <value>
                <elementReference>Sleep_trouble_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Thoughts_of_self_harm__c</field>
            <value>
                <elementReference>Thoughts_of_self_harm_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tired_or_lack_energy__c</field>
            <value>
                <elementReference>Tired_or_lack_energy_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trouble_concentrating__c</field>
            <value>
                <elementReference>Trouble_concentrating_0</elementReference>
            </value>
        </inputAssignments>
        <object>PHQ_9__c</object>
    </recordCreates>
    <recordLookups>
        <name>Assessment_List</name>
        <label>Assessment List</label>
        <locationX>456</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assmt_Container</targetReference>
        </connector>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHQ 9</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssessmentList__c</object>
        <outputAssignments>
            <assignToReference>assmtCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtName</assignToReference>
            <field>assessmentName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AssessmentContainer</name>
        <label>PHQ9 Lookup</label>
        <locationX>198</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PHQ_9_Adult</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PHQ 9</stringValue>
            </value>
        </filters>
        <object>AssessmentContainer__c</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedBy</assignToReference>
            <field>Assessment_Completed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedOn</assignToReference>
            <field>Assessment_Completed_on__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtContainerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_PHQ9</name>
        <label>lookup PHQ9</label>
        <locationX>455</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Container</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PHQ9Id</elementReference>
            </value>
        </filters>
        <object>PHQ_9__c</object>
        <outputAssignments>
            <assignToReference>phqFlag</assignToReference>
            <field>PHQ_9_Flag__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>phqResult</assignToReference>
            <field>Result__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Container</name>
        <label>update Container</label>
        <locationX>456</locationX>
        <locationY>758</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assmtContainerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>phqResult</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Exists</name>
        <label>Assessment Exists</label>
        <locationX>243</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Assessment</targetReference>
        </connector>
        <fields>
            <name>assessmentExists</name>
            <fieldText>A {!assmtName} assessment already exists for this client id.  It was created on  by {!assmtCompletedBy}.  Do you want to create another assessment or go to next step?{!assmtCompletedOn}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_another_assessment</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>PHQ_9_Adult</name>
        <label>PHQ 9 Adult</label>
        <locationX>378</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PHQ9_Exists</targetReference>
        </connector>
        <fields>
            <name>PHQ9_Title_0</name>
            <fieldText>PHQ-9 Adult</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Little_interest_in_doing_things_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Little interest in doing things</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Little interest or pleasure in doing things?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feeling_depressed_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Feeling depressed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Feeling down, depressed, irritable, or hopeless?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sleep_trouble_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Sleep trouble</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Trouble falling asleep, staying asleep, or sleeping too much?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Tired_or_lack_energy_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Tired, or lack energy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Feeling tired, or having little energy?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Poor_appetite_or_overeating_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Poor appetite or overeating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Poor appetite, weight loss, or overeating?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Feel_bad_about_yourself_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Feel bad about yourself</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Feeling bad about yourself — or feeling that you are a failure, or that you have let yourself or your family down?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Trouble_concentrating_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Trouble concentrating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Trouble concentrating on things like school work, reading, or watching TV?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Moving_or_speaking_slow_or_fast_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Moving or speaking slow or fast</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Moving or speaking so slowly that other people could have 
noticed? Or the opposite — being so fidgety or restless that 
you were moving around a lot more than usual?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Thoughts_of_self_harm_0</name>
            <choiceReferences>blank_num</choiceReferences>
            <choiceReferences>X0</choiceReferences>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X2</choiceReferences>
            <choiceReferences>X3</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>blank_num</defaultSelectedChoiceReference>
            <fieldText>Thoughts of self-harm</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Thoughts that you would be better off dead, or of hurting 
yourself in some way?</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Hard_to_function_based_on_above_0</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Not_difficult_at_all</choiceReferences>
            <choiceReferences>Somewhat_difficult</choiceReferences>
            <choiceReferences>Very_difficult</choiceReferences>
            <choiceReferences>Extremely_difficult</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Hard to function based on above</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>If you are experiencing any of the problems on this form, how difficult have these problems made it for you to do your work, take care of things at home or get along with other people?</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>AssessmentContainer</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedOn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtContainerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Interview_Date_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>PHQ9_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PHQ9Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phqFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phqResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
