src/flows/START_Enroll_in_Voluntary-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Change_Contact_Recordtype_Fault</name>
        <label>Change Contact Recordtype Fault</label>
        <locationX>136</locationX>
        <locationY>475</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Change_Contact_Recordtype_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Change_Contact_Recordtype</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>Enroll in Voluntary</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Create_Program_Cycle_Fault</name>
        <label>Create Program Cycle Fault</label>
        <locationX>436</locationX>
        <locationY>471</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Create_Program_Cycle_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Program_Cycle</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>Enroll in Voluntary</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Set_bolComplete</name>
        <label>Set bolComplete</label>
        <locationX>607</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>bolComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exit_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_bolComplete_0</name>
        <label>Set bolComplete</label>
        <locationX>788</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>bolComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_bolComplete_to_false</name>
        <label>Set bolComplete to false</label>
        <locationX>8</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>bolComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DTC_Contact_Recordtype</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accepted_for_Intake</name>
        <choiceText>Accepted for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted for Intake</stringValue>
        </value>
    </choices>
    <choices>
        <name>Active_Hold</name>
        <choiceText>Active Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Air_Force</name>
        <choiceText>Air Force</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Air Force</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_START_parts</name>
        <choiceText>All START parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All START parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Indian_Alaskan_Native</name>
        <choiceText>American Indian/Alaskan Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian/Alaskan Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Sign_Language</name>
        <choiceText>American Sign Language</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Sign Language</stringValue>
        </value>
    </choices>
    <choices>
        <name>Army</name>
        <choiceText>Army</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Army</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrest_Charges</name>
        <choiceText>Arrest Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrest Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arthritis_Joint_Disorder</name>
        <choiceText>Arthritis/ Joint Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arthritis/ Joint Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Pacific_Islander</name>
        <choiceText>Asian/Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian/Pacific Islander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asthma</name>
        <choiceText>Asthma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asthma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aunt_Uncle</name>
        <choiceText>Aunt/ Uncle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt/Uncle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Conduct</name>
        <choiceText>Bad Conduct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Conduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cancer</name>
        <choiceText>Cancer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cantonese</name>
        <choiceText>Cantonese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cantonese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chinese</name>
        <choiceText>Chinese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chinese</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIRT</name>
        <choiceText>CIRT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIRT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coast_Guard</name>
        <choiceText>Coast Guard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coast Guard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Community_Case_Management</name>
        <choiceText>Community Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conviction_Charges</name>
        <choiceText>Conviction Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conviction Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coronary_Heart_Disease</name>
        <choiceText>Coronary Heart Disease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coronary Heart Disease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Rep_Rejected</name>
        <choiceText>Court Rep. Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Rep. Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creole</name>
        <choiceText>Creole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Criminal_Court_Arraignment_Charges</name>
        <choiceText>Criminal Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criminal Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>DA_Offered_Non_Jail_Sentence</name>
        <choiceText>DA Offered Non-Jail Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DA Offered Non-Jail Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT</name>
        <choiceText>DAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desk Appearance Ticket (DAT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daytime_Custody</name>
        <choiceText>Daytime Custody</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defendant_Refused_DCP</name>
        <choiceText>Defendant Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney</name>
        <choiceText>Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney_Refused_DCP</name>
        <choiceText>Defense Attorney Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dementia</name>
        <choiceText>Dementia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diabetes</name>
        <choiceText>Diabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_Attorney</name>
        <choiceText>District Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_F_T</name>
        <choiceText>Employed F/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed F/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_P_T</name>
        <choiceText>Employed P/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed P/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_Court_Arraignment_Charges</name>
        <choiceText>Family Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_Reproductive_Issues</name>
        <choiceText>Female Reproductive Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female Reproductive Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Honorable_Conditions</name>
        <choiceText>General (Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_without_Honorable_Conditions</name>
        <choiceText>General (without Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (without Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genital_Urinary_Disorder</name>
        <choiceText>Genital/ Urinary Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genital/ Urinary Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Girl_Boy_Friend</name>
        <choiceText>Girl/Boy Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Girl/Boy Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grandparent</name>
        <choiceText>Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Greek</name>
        <choiceText>Greek</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Greek</stringValue>
        </value>
    </choices>
    <choices>
        <name>Head_Injury</name>
        <choiceText>Head Injury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head Injury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hepatitis_Cirrhosis</name>
        <choiceText>Hepatitis/ Cirrhosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hepatitis/ Cirrhosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hispanic_Latino</name>
        <choiceText>Hispanic/ Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic/ Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>HIV_AIDS</name>
        <choiceText>HIV/AIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HIV/AIDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless</name>
        <choiceText>Homeless</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless, No Perm Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Honorable</name>
        <choiceText>Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hyperlipidemia_High_Cholesterol</name>
        <choiceText>Hyperlipidemia (High Cholesterol)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hyperlipidemia (High Cholesterol)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hypertension_High_Blood_Pressure</name>
        <choiceText>Hypertension (High Blood Pressure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension (High Blood Pressure)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indic</name>
        <choiceText>Indic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indictment_Charges</name>
        <choiceText>Indictment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indictment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jail</name>
        <choiceText>Jail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japanese</name>
        <choiceText>Japanese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japanese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Choice</name>
        <choiceText>Judge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Refuses_to_Consider</name>
        <choiceText>Judge Refuses to Consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Refuses to Consider</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lives_Outside_NYC</name>
        <choiceText>Lives Outside NYC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lives Outside NYC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mandarin</name>
        <choiceText>Mandarin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandarin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marine_Corps</name>
        <choiceText>Marine Corps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marine Corps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navy</name>
        <choiceText>Navy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neurological_Disorder</name>
        <choiceText>Neurological Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neurological Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_Offer</name>
        <choiceText>No Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Offer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Hispanic_Non_Latino</name>
        <choiceText>Non Hispanic/ Non Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Hispanic/ Non Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Jail_Disposition</name>
        <choiceText>Non-Jail Disposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Jail Disposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Entered</name>
        <choiceText>Not Entered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Entered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obesity</name>
        <choiceText>Obesity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obesity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Osteoporosis</name>
        <choiceText>Osteoporosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Osteoporosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relative</name>
        <choiceText>Other Relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Than_Honorable</name>
        <choiceText>Other Than Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Than Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Probation_Officer_Unavailable_for_Consent</name>
        <choiceText>Parole/ Probation Officer Unavailable for Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole/ Probation Officer Unavailable for Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Rejected</name>
        <choiceText>Parole Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical</name>
        <choiceText>Physical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plea_Finding_Charges</name>
        <choiceText>Plea/Finding Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plea/Finding Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Polish</name>
        <choiceText>Polish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Polish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Residence</name>
        <choiceText>Private Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_Rejected</name>
        <choiceText>Probation Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychotropic</name>
        <choiceText>Psychotropic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychotropic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Assistance_TANF</name>
        <choiceText>Public Assistance/TANF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Assistance/TANF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Russian</name>
        <choiceText>Russian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated_Divorced</name>
        <choiceText>Separated/ Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated/ Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter</name>
        <choiceText>Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter/Undomiciled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse/CL</stringValue>
        </value>
    </choices>
    <choices>
        <name>START</name>
        <choiceText>START</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>START</stringValue>
        </value>
    </choices>
    <choices>
        <name>STD</name>
        <choiceText>STD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplemental_Security_Income_SSI_SSD</name>
        <choiceText>Supplemental Security Income (SSI/SSD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplemental Security Income (SSI/SSD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supported_Housing</name>
        <choiceText>Supported Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supported Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Readiness_Program</name>
        <choiceText>Treatment Readiness Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuberculosis</name>
        <choiceText>Tuberculosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuberculosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ulcer_Gastrointestinal_Disorder</name>
        <choiceText>Ulcer/ Gastrointestinal Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ulcer/ Gastrointestinal Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployment_Union_Benefits</name>
        <choiceText>Unemployment/ Union Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployment/ Union Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urdu</name>
        <choiceText>Urdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veteran_s_Benefits</name>
        <choiceText>Veteran&apos;s Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veteran&apos;s Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vietnamese</name>
        <choiceText>Vietnamese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vietnamese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary</name>
        <choiceText>Voluntary</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Wages_salary_self_employed</name>
        <choiceText>Wages/salary/self-employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wages/salary/self-employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Day</name>
        <choiceText>Week Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Night</name>
        <choiceText>Week Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend_Night</name>
        <choiceText>Weekend Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekend Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12th_floor_bridge</name>
        <choiceText>12th floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12th floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1535b</name>
        <choiceText>1535b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1535b</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X3rd_floor_bridge</name>
        <choiceText>3rd floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X8_00_am</name>
        <choiceText>8:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yiddish</name>
        <choiceText>Yiddish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yiddish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Edit_Client_Recordtype_Decision</name>
        <label>Edit Client Recordtype?</label>
        <locationX>38</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Create_Program_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Change Recordtype Outcome</defaultConnectorLabel>
        <rules>
            <name>DTC_Change_Recordtype_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>G_DTC_Contact_Recordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Contact_Recordtype</targetReference>
            </connector>
            <label>DTC</label>
        </rules>
        <rules>
            <name>CCM_Change_Recordtype_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>G_CCM_Contact_Recordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Program_Cycle</targetReference>
            </connector>
            <label>CCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Contact_Successfully_Exited</name>
        <label>Validate Contact Successfully Exited</label>
        <locationX>394</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Client_Not_Eligible_for_Voluntary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_admin_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STARTUserRecordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_admin_user_screen</targetReference>
            </connector>
            <label>Non-admin user</label>
        </rules>
        <rules>
            <name>Continue_voluntary_enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Exit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Successful Exit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Information</targetReference>
            </connector>
            <label>Continue voluntary enrollment</label>
        </rules>
        <rules>
            <name>Quit_process</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Exited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Exit_Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successful Exit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Not_Eligible_for_Voluntary_Screen</targetReference>
            </connector>
            <label>Quit process</label>
        </rules>
    </decisions>
    <formulas>
        <name>MandatedSessionsRemaining</name>
        <dataType>Number</dataType>
        <expression>{!Old_Mandate_Required} - {!Old_Mandate_Completed}</expression>
        <scale>0</scale>
    </formulas>
    <label>START Enroll in Voluntary</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Program_Cycle</name>
        <label>Create Program Cycle</label>
        <locationX>473</locationX>
        <locationY>344</locationY>
        <assignRecordIdToReference>ProgramCycleId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_bolComplete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Program_Cycle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Voluntary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mandatory_Sessions_Required__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>G_CCM_Cycle_Recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Voluntary_CCM_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Cycle__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CCM_Contact_Recordtype</name>
        <label>Get CCM Contact Recordtype</label>
        <locationX>293</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCM_Program_Cycle_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCM Client</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_CCM_Contact_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CCM_Program_Cycle_Recordtype</name>
        <label>Get CCM Program Cycle Recordtype</label>
        <locationX>437</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Passed_In_Contact_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCM Voluntary Cycle</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_CCM_Cycle_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_DTC_Contact_Recordtype</name>
        <label>Get DTC Contact Recordtype</label>
        <locationX>150</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCM_Contact_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DTC Client</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_DTC_Contact_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Cycle_End_Date</name>
        <label>Get Most Recent Cycle End Date</label>
        <locationX>737</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Event_after_End_of_Cycle</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Program_Cycle_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program_Cycle__c</object>
        <outputAssignments>
            <assignToReference>Last_Cycle_End_Date</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Event_after_End_of_Cycle</name>
        <label>Get Next Event after End of Cycle</label>
        <locationX>880</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_START_User_Recordtype</targetReference>
        </connector>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Last_Cycle_End_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>FirstActivityDateAfterExit</assignToReference>
            <field>ActivityDate</field>
        </outputAssignments>
        <sortField>ActivityDateTime</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Passed_In_Contact_Recordtype</name>
        <label>Get Passed In Contact Recordtype</label>
        <locationX>590</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Cycle_End_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact_Status</assignToReference>
            <field>Client_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Exit_Type</assignToReference>
            <field>PRP_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Recordtype</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_START_User_Recordtype</name>
        <label>Get START User Recordtype</label>
        <locationX>806</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Contact_Successfully_Exited</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>START User</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>STARTUserRecordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Change_Contact_Recordtype</name>
        <label>Change Contact Recordtype</label>
        <locationX>135</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Create_Program_Cycle</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Change_Contact_Recordtype_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>G_CCM_Contact_Recordtype</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Blank_Screen</name>
        <label>Blank Screen</label>
        <locationX>918</locationX>
        <locationY>192</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
    </screens>
    <screens>
        <name>Change_Contact_Recordtype_Fault_Screen</name>
        <label>Change Contact Recordtype Fault Screen</label>
        <locationX>144</locationX>
        <locationY>556</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ChangeContactRecordtypeFaultDesc</name>
            <fieldText>The voluntary enrollment process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Client_Not_Eligible_for_Voluntary_Screen</name>
        <label>Client Not Eligible for Voluntary Screen</label>
        <locationX>662</locationX>
        <locationY>185</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_bolComplete_0</targetReference>
        </connector>
        <fields>
            <name>ClientIneligibleDesc</name>
            <fieldText>This client is not eligible to receive voluntary CCM services. Either 

1. they are still active, or 
2. they did not successfully complete their mandate, or 
3. they were already enrolled in voluntary services. 

Please click finish to view their contact page. If you believe you have received this message in error, please post a task to the Database Helpdesk group in Google.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Compliance_Information</name>
        <label>Compliance Information</label>
        <locationX>188</locationX>
        <locationY>169</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Client_Recordtype_Decision</targetReference>
        </connector>
        <fields>
            <name>Voluntary_CCM_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FirstActivityDateAfterExit</elementReference>
            </defaultValue>
            <fieldText>Voluntary CCM Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Create_Program_Cycle_Fault_Screen</name>
        <label>Create Program Cycle Fault Screen</label>
        <locationX>444</locationX>
        <locationY>552</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateProgramCycleFaultDesc</name>
            <fieldText>The voluntary enrollment process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Exit_Screen</name>
        <label>Exit Screen</label>
        <locationX>749</locationX>
        <locationY>347</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finishDesc</name>
            <fieldText>Voluntary enrollment complete! Click Finish to go to the client&apos;s contact page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Non_admin_user_screen</name>
        <label>Non-admin user screen</label>
        <locationX>663</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_bolComplete_0</targetReference>
        </connector>
        <fields>
            <name>ClientIneligibleDesc_0</name>
            <fieldText>You do not have the permission to enroll clients in CCM voluntary services. Please ask Allison, Bradley, or LuAnn to do this. 

Please click finish to view their contact page. If you believe you have received this message in error, please post a task to the Database Helpdesk group in Google.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Set_bolComplete_to_false</startElementReference>
    <variables>
        <name>bolComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Closing_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compliance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Exit_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstActivityDateAfterExit</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Cycle_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Compliance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Mandate_Completed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Old_Mandate_Required</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Program</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramCycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STARTUserRecordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
