src/flows/START_Reinstatement_Flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Calculate_Closing_Date</name>
        <label>Calculate Closing Date</label>
        <locationX>129</locationX>
        <locationY>744</locationY>
        <apexClass>flowCalcClosingComplianceDate</apexClass>
        <connector>
            <targetReference>Calculate_Compliance_Date</targetReference>
        </connector>
        <inputParameters>
            <name>dteDate</name>
            <value>
                <elementReference>Conviction_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intDays</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intMethod</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Closing_Date</assignToReference>
            <name>Result</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Calculate_Compliance_Date</name>
        <label>Calculate Compliance Date</label>
        <locationX>270</locationX>
        <locationY>642</locationY>
        <apexClass>flowCalcClosingComplianceDate</apexClass>
        <connector>
            <targetReference>Display_Compliance_Closing_Dates</targetReference>
        </connector>
        <inputParameters>
            <name>dteDate</name>
            <value>
                <elementReference>Conviction_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intDays</name>
            <value>
                <elementReference>intComplianceDateDays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intMethod</name>
            <value>
                <elementReference>intComplianceDateMethod</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Compliance_Date</assignToReference>
            <name>Result</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Create_Adjournment_Court_Date_Fault</name>
        <label>Create Adjournment Court Date Fault</label>
        <locationX>1134</locationX>
        <locationY>758</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Create_Adjournment_Court_Date_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Adjournment_Court_Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>START Reinstatement</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Create_Compliance_Court_Date_Fault</name>
        <label>Create Compliance Court Date Fault</label>
        <locationX>1155</locationX>
        <locationY>1330</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Create_Compliance_Court_Date_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Compliance_Court_Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>START Reinstatement</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Create_Program_Cycle_Fault</name>
        <label>Create Program Cycle Fault</label>
        <locationX>314</locationX>
        <locationY>1692</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Create_Program_Cycle_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Create_Program_Cycle</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>START Reinstatement</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Get_Existing_Attached_Cases</name>
        <label>Get Existing Attached Cases</label>
        <locationX>355</locationX>
        <locationY>414</locationY>
        <apexClass>pluginQueryAttachedMandates</apexClass>
        <connector>
            <targetReference>Compliance_Information</targetReference>
        </connector>
        <inputParameters>
            <name>docketId</name>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MandateCounter</assignToReference>
            <name>MandateCounter</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MandateList</assignToReference>
            <name>MandateList</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Update_Adjournment_Court_Date_Fault</name>
        <label>Update Adjournment Court Date Fault</label>
        <locationX>1124</locationX>
        <locationY>1031</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <connector>
            <targetReference>Update_Adjournment_Court_Date_Fault_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
            <value>
                <stringValue>Update_Adjournment_Court_Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
            <value>
                <stringValue>START Reinstatement</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign_CCM_Variables</name>
        <label>Assign CCM Variables</label>
        <locationX>214</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Program_Cycle_Recordtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>G_CCM_Cycle_Recordtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Attached_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DTC_Variables</name>
        <label>Assign DTC Variables</label>
        <locationX>81</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>Program_Cycle_Recordtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>G_DTC_Cycle_Recordtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Program</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DTC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Attached_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Female_Pronoun</name>
        <label>Assign Female Pronoun</label>
        <locationX>806</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>Gender_Pronoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>her</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gender_Pronoun_Capitalized</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Her</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Male_Pronoun</name>
        <label>Assign Male Pronoun</label>
        <locationX>643</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Gender_Pronoun</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>his</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gender_Pronoun_Capitalized</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>His</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Previous_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_More_Dockets_Checkbox_to_Variable</name>
        <label>Assign &quot;More Dockets&quot; Checkbox to Variable</label>
        <locationX>626</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>EnterMoreCases</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Attached_Dockets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_More_Attached_Dockets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Adjournment_Court_Date_ID</name>
        <label>Clear Adjournment Court Date ID</label>
        <locationX>582</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>AdjournmentCourtDateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Court_Date_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Compliance_Court_Date_ID</name>
        <label>Clear Compliance Court Date ID</label>
        <locationX>507</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>complianceCourtDateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Compliance_Court_Date_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_bolComplete</name>
        <label>Set bolComplete</label>
        <locationX>120</locationX>
        <locationY>1765</locationY>
        <assignmentItems>
            <assignToReference>bolComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_bolComplete_to_false</name>
        <label>Set bolComplete to false</label>
        <locationX>7</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>bolComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Court_Date_Recordtype</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accepted_for_Intake</name>
        <choiceText>Accepted for Intake</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted for Intake</stringValue>
        </value>
    </choices>
    <choices>
        <name>Active_Hold</name>
        <choiceText>Active Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active Hold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Air_Force</name>
        <choiceText>Air Force</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Air Force</stringValue>
        </value>
    </choices>
    <choices>
        <name>All_START_parts</name>
        <choiceText>All START parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All START parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Indian_Alaskan_Native</name>
        <choiceText>American Indian/Alaskan Native</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Indian/Alaskan Native</stringValue>
        </value>
    </choices>
    <choices>
        <name>American_Sign_Language</name>
        <choiceText>American Sign Language</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>American Sign Language</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR1</name>
        <choiceText>AR1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR1</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2</name>
        <choiceText>AR2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR2A</name>
        <choiceText>AR2A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR2A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3</name>
        <choiceText>AR3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR3A</name>
        <choiceText>AR3A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR3A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AR4</name>
        <choiceText>AR4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AR4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Army</name>
        <choiceText>Army</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Army</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrest_Charges</name>
        <choiceText>Arrest Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrest Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arthritis_Joint_Disorder</name>
        <choiceText>Arthritis/ Joint Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arthritis/ Joint Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASC</name>
        <choiceText>ASC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asian_Pacific_Islander</name>
        <choiceText>Asian/Pacific Islander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asian/Pacific Islander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Asthma</name>
        <choiceText>Asthma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asthma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Aunt_Uncle</name>
        <choiceText>Aunt/ Uncle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt/Uncle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bad_Conduct</name>
        <choiceText>Bad Conduct</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bad Conduct</stringValue>
        </value>
    </choices>
    <choices>
        <name>Black</name>
        <choiceText>Black</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Black</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BTP1</name>
        <choiceText>BTP1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BTP1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancer</name>
        <choiceText>Cancer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cantonese</name>
        <choiceText>Cantonese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cantonese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Central</name>
        <choiceText>Central</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Central</stringValue>
        </value>
    </choices>
    <choices>
        <name>Chinese</name>
        <choiceText>Chinese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chinese</stringValue>
        </value>
    </choices>
    <choices>
        <name>CIRT</name>
        <choiceText>CIRT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CIRT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coast_Guard</name>
        <choiceText>Coast Guard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coast Guard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Community_Case_Management</name>
        <choiceText>Community Case Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conviction_Charges</name>
        <choiceText>Conviction Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conviction Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Coronary_Heart_Disease</name>
        <choiceText>Coronary Heart Disease</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Coronary Heart Disease</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Rep_Rejected</name>
        <choiceText>Court Rep. Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Rep. Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Creole</name>
        <choiceText>Creole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Creole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Criminal_Court_Arraignment_Charges</name>
        <choiceText>Criminal Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Criminal Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>DA_Offered_Non_Jail_Sentence</name>
        <choiceText>DA Offered Non-Jail Sentence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DA Offered Non-Jail Sentence</stringValue>
        </value>
    </choices>
    <choices>
        <name>DAT</name>
        <choiceText>DAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Desk Appearance Ticket (DAT)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daytime_Custody</name>
        <choiceText>Daytime Custody</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defendant_Refused_DCP</name>
        <choiceText>Defendant Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defendant Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney</name>
        <choiceText>Defense Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defense_Attorney_Refused_DCP</name>
        <choiceText>Defense Attorney Refused DCP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defense Attorney Refused DCP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dementia</name>
        <choiceText>Dementia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dementia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Diabetes</name>
        <choiceText>Diabetes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Diabetes</stringValue>
        </value>
    </choices>
    <choices>
        <name>District_Attorney</name>
        <choiceText>District Attorney</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District Attorney</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_F_T</name>
        <choiceText>Employed F/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed F/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed_P_T</name>
        <choiceText>Employed P/T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed P/T</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>Family_Court_Arraignment_Charges</name>
        <choiceText>Family Court Arraignment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Family Court Arraignment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_Reproductive_Issues</name>
        <choiceText>Female Reproductive Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female Reproductive Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Honorable_Conditions</name>
        <choiceText>General (Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_without_Honorable_Conditions</name>
        <choiceText>General (without Honorable Conditions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General (without Honorable Conditions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genital_Urinary_Disorder</name>
        <choiceText>Genital/ Urinary Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genital/ Urinary Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Girl_Boy_Friend</name>
        <choiceText>Girl/Boy Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Girl/Boy Friend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Grandparent</name>
        <choiceText>Grandparent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grandparent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Greek</name>
        <choiceText>Greek</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Greek</stringValue>
        </value>
    </choices>
    <choices>
        <name>Head_Injury</name>
        <choiceText>Head Injury</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Head Injury</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hepatitis_Cirrhosis</name>
        <choiceText>Hepatitis/ Cirrhosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hepatitis/ Cirrhosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hindi</name>
        <choiceText>Hindi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hispanic_Latino</name>
        <choiceText>Hispanic/ Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hispanic/ Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>HIV_AIDS</name>
        <choiceText>HIV/AIDS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HIV/AIDS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Homeless</name>
        <choiceText>Homeless</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeless, No Perm Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Honorable</name>
        <choiceText>Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hyperlipidemia_High_Cholesterol</name>
        <choiceText>Hyperlipidemia (High Cholesterol)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hyperlipidemia (High Cholesterol)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hypertension_High_Blood_Pressure</name>
        <choiceText>Hypertension (High Blood Pressure)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hypertension (High Blood Pressure)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indic</name>
        <choiceText>Indic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Indictment_Charges</name>
        <choiceText>Indictment Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indictment Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Italian</name>
        <choiceText>Italian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Italian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jail</name>
        <choiceText>Jail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Japanese</name>
        <choiceText>Japanese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Japanese</stringValue>
        </value>
    </choices>
    <choices>
        <name>JP5</name>
        <choiceText>JP5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>JP5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Choice</name>
        <choiceText>Judge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Judge_Refuses_to_Consider</name>
        <choiceText>Judge Refuses to Consider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Judge Refuses to Consider</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lives_Outside_NYC</name>
        <choiceText>Lives Outside NYC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lives Outside NYC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mandarin</name>
        <choiceText>Mandarin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mandarin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marine_Corps</name>
        <choiceText>Marine Corps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marine Corps</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married</name>
        <choiceText>Married</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navy</name>
        <choiceText>Navy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Navy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neurological_Disorder</name>
        <choiceText>Neurological Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neurological Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_Offer</name>
        <choiceText>No Offer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Offer</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Hispanic_Non_Latino</name>
        <choiceText>Non Hispanic/ Non Latino</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Hispanic/ Non Latino</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Jail_Disposition</name>
        <choiceText>Non-Jail Disposition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Jail Disposition</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Entered</name>
        <choiceText>Not Entered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Entered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Obesity</name>
        <choiceText>Obesity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Obesity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Osteoporosis</name>
        <choiceText>Osteoporosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Osteoporosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Relative</name>
        <choiceText>Other Relative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Relative</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Than_Honorable</name>
        <choiceText>Other Than Honorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Than Honorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Probation_Officer_Unavailable_for_Consent</name>
        <choiceText>Parole/ Probation Officer Unavailable for Consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole/ Probation Officer Unavailable for Consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parole_Rejected</name>
        <choiceText>Parole Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parole Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pending</name>
        <choiceText>Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Physical</name>
        <choiceText>Physical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Physical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plea_Finding_Charges</name>
        <choiceText>Plea/Finding Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plea/Finding Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Polish</name>
        <choiceText>Polish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Polish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_Residence</name>
        <choiceText>Private Residence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private Residence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Probation_Rejected</name>
        <choiceText>Probation Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Psychotropic</name>
        <choiceText>Psychotropic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Psychotropic</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_A</name>
        <choiceText>PT A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT A</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_B</name>
        <choiceText>PT B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT B</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_C</name>
        <choiceText>PT C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT C</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_D</name>
        <choiceText>PT D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT D</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_E</name>
        <choiceText>PT E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT E</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_F</name>
        <choiceText>PT F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT F</stringValue>
        </value>
    </choices>
    <choices>
        <name>PT_N</name>
        <choiceText>PT N</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PT N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Assistance_TANF</name>
        <choiceText>Public Assistance/TANF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Assistance/TANF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Russian</name>
        <choiceText>Russian</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Russian</stringValue>
        </value>
    </choices>
    <choices>
        <name>Separated_Divorced</name>
        <choiceText>Separated/ Divorced</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separated/ Divorced</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shelter</name>
        <choiceText>Shelter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shelter/Undomiciled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single</name>
        <choiceText>Single</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spouse</name>
        <choiceText>Spouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spouse/CL</stringValue>
        </value>
    </choices>
    <choices>
        <name>START</name>
        <choiceText>START</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>START</stringValue>
        </value>
    </choices>
    <choices>
        <name>STD</name>
        <choiceText>STD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplemental_Security_Income_SSI_SSD</name>
        <choiceText>Supplemental Security Income (SSI/SSD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supplemental Security Income (SSI/SSD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supported_Housing</name>
        <choiceText>Supported Housing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supported Housing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Man</name>
        <choiceText>Transgender Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transgender_Woman</name>
        <choiceText>Transgender Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transgender Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Readiness_Program</name>
        <choiceText>Treatment Readiness Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tuberculosis</name>
        <choiceText>Tuberculosis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuberculosis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ulcer_Gastrointestinal_Disorder</name>
        <choiceText>Ulcer/ Gastrointestinal Disorder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ulcer/ Gastrointestinal Disorder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployment_Union_Benefits</name>
        <choiceText>Unemployment/ Union Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployment/ Union Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Urdu</name>
        <choiceText>Urdu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urdu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Veteran_s_Benefits</name>
        <choiceText>Veteran&apos;s Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Veteran&apos;s Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vietnamese</name>
        <choiceText>Vietnamese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vietnamese</stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary</name>
        <choiceText>Voluntary</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>Wages_salary_self_employed</name>
        <choiceText>Wages/salary/self-employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wages/salary/self-employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Day</name>
        <choiceText>Week Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week_Night</name>
        <choiceText>Week Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekend_Night</name>
        <choiceText>Weekend Night</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekend Night</stringValue>
        </value>
    </choices>
    <choices>
        <name>White</name>
        <choiceText>White</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>White</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12th_floor_bridge</name>
        <choiceText>12th floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12th floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1535b</name>
        <choiceText>1535b</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1535b</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X3rd_floor_bridge</name>
        <choiceText>3rd floor bridge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3rd floor bridge</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X8_00_am</name>
        <choiceText>8:00 am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08:00 AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yiddish</name>
        <choiceText>Yiddish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yiddish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assign_Program_Variables_Decision</name>
        <label>Assign Program Variables Decision</label>
        <locationX>48</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Program Variable Assignment Outcome</defaultConnectorLabel>
        <rules>
            <name>DTC_Variable_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>G_DTC_Contact_Recordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DTC_Variables</targetReference>
            </connector>
            <label>DTC Variable Outcome</label>
        </rules>
        <rules>
            <name>CCM_Variable_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Recordtype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>G_CCM_Contact_Recordtype</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CCM_Variables</targetReference>
            </connector>
            <label>CCM Variable Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Calculate_Closing_Date_Decision</name>
        <label>Calculate Closing Date Decision</label>
        <locationX>83</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>Calculate_Closing_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DefaultClosingDateOutcome</defaultConnectorLabel>
        <rules>
            <name>CCM_Closing_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Compliance_Date</targetReference>
            </connector>
            <label>CCM</label>
        </rules>
        <rules>
            <name>DTC_Closing_Date_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Program</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DTC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Closing_Date</targetReference>
            </connector>
            <label>DTC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_Court_Date_Exists_Decision</name>
        <label>Compliance Court Date Exists Decision</label>
        <locationX>789</locationX>
        <locationY>1213</locationY>
        <defaultConnector>
            <targetReference>Create_Compliance_Court_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Court_Date_Exists_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complianceCourtDateId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Program_Cycle</targetReference>
            </connector>
            <label>Court Date Exists Outcome</label>
        </rules>
        <rules>
            <name>Court_Date_Does_Not_Exist_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>complianceCourtDateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Compliance_Court_Date</targetReference>
            </connector>
            <label>Court Date Does Not Exist Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Court_Date_Exists_Decision</name>
        <label>Court Date Exists Decision</label>
        <locationX>864</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Create_Adjournment_Court_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Court_Date_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdjournmentCourtDateId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Court_Date</targetReference>
            </connector>
            <label>Court Date Exists Outcome</label>
        </rules>
        <rules>
            <name>Court_Date_Does_Not_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdjournmentCourtDateId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Adjournment_Court_Date</targetReference>
            </connector>
            <label>Court Date Does Not Exist Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Gender_Pronoun</name>
        <label>Decide Gender Pronoun</label>
        <locationX>904</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Assign_Male_Pronoun</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DefaultOutcomeAssignGenderPronoun</defaultConnectorLabel>
        <rules>
            <name>Male_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Gender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Male</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transgender Man</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Male_Pronoun</targetReference>
            </connector>
            <label>Male_Outcome</label>
        </rules>
        <rules>
            <name>Female_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Gender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Female</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Gender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transgender Woman</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Female_Pronoun</targetReference>
            </connector>
            <label>Female_Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enter_More_Attached_Dockets</name>
        <label>Enter More Attached Dockets?</label>
        <locationX>752</locationX>
        <locationY>467</locationY>
        <defaultConnectorLabel>Default Outcome Enter More Cases</defaultConnectorLabel>
        <rules>
            <name>Enter_More_Dockets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterMoreCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attached_Dockets_Subflow</targetReference>
            </connector>
            <label>Enter More Dockets</label>
        </rules>
        <rules>
            <name>Continue_No_More_Dockets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnterMoreCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Closing_Date_Decision</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <formulas>
        <name>ComplianceDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Datetimevalue(Text({!Compliance_Date_Update}) + &quot; 14:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ConvictionDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Datetimevalue(Text({!Conviction_Date}) + &quot; 14:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>intComplianceDateDays</name>
        <dataType>Number</dataType>
        <expression>if({!Program} = &quot;DTC&quot;, 15,30)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>1= calendar days, 2= business days</description>
        <name>intComplianceDateMethod</name>
        <dataType>Number</dataType>
        <expression>IF({!Program} = &quot;DTC&quot;, 2, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MandatedSessionsRemaining</name>
        <dataType>Number</dataType>
        <expression>{!Old_Mandate_Required} - {!Old_Mandate_Completed} + {!MandateCounter}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>START Reinstatement Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>START Reinstatement Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adjournment_Court_Date</name>
        <label>Create Adjournment Court Date</label>
        <locationX>847</locationX>
        <locationY>812</locationY>
        <assignRecordIdToReference>AdjournmentCourtDateId</assignRecordIdToReference>
        <connector>
            <targetReference>Clear_Compliance_Court_Date_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Adjournment_Court_Date_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ConvictionDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>ConvictionDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appearance_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Court_Date_Type__c</field>
            <value>
                <stringValue>Adjournment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Adjourned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Court_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>Court_Part</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>G_Court_Date_Recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Compliance_Court_Date</name>
        <label>Create Compliance Court Date</label>
        <locationX>772</locationX>
        <locationY>1384</locationY>
        <assignRecordIdToReference>complianceCourtDateId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Program_Cycle</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Compliance_Court_Date_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ComplianceDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>ComplianceDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appearance_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Court_Date_Type__c</field>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <elementReference>Pending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Court_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>Court_Part</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>G_Court_Date_Recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Cycle</name>
        <label>Create Program Cycle</label>
        <locationX>119</locationX>
        <locationY>1668</locationY>
        <assignRecordIdToReference>ProgramCycleId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_bolComplete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Program_Cycle_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closing_Date__c</field>
            <value>
                <elementReference>Closing_Date_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Date__c</field>
            <value>
                <elementReference>Compliance_Date_Update</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Reinstatement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mandatory_Sessions_Required__c</field>
            <value>
                <elementReference>Number_of_Sessions_in_New_Mandate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Program_Cycle_Recordtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Conviction_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Program_Cycle__c</object>
    </recordCreates>
    <recordLookups>
        <name>Does_Compliance_Court_Date_Exist</name>
        <label>Does Compliance Court Date Exist?</label>
        <locationX>645</locationX>
        <locationY>1208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compliance_Court_Date_Exists_Decision</targetReference>
        </connector>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Compliance_Date_Update</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>complianceCourtDateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Does_Court_Date_Exist</name>
        <label>Does Court Date Exist?</label>
        <locationX>720</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Court_Date_Exists_Decision</targetReference>
        </connector>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conviction_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>AdjournmentCourtDateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CCM_Contact_Recordtype</name>
        <label>Get CCM Contact Recordtype</label>
        <locationX>383</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DTC_Program_Cycle_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCM Client</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_CCM_Contact_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CCM_Program_Cycle_Recordtype</name>
        <label>Get CCM Program Cycle Recordtype</label>
        <locationX>642</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Passed_In_Contact</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCM Cycle</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_CCM_Cycle_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Court_Date_Recordtype</name>
        <label>Get Court Date Recordtype</label>
        <locationX>130</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DTC_Contact_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Court Date</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_Court_Date_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_DTC_Contact_Recordtype</name>
        <label>Get DTC Contact Recordtype</label>
        <locationX>248</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCM_Contact_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DTC Client</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_DTC_Contact_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_DTC_Program_Cycle_Recordtype</name>
        <label>Get DTC Program Cycle Recordtype</label>
        <locationX>514</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCM_Program_Cycle_Recordtype</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DTC Cycle</stringValue>
            </value>
        </filters>
        <object>Utility_ID__c</object>
        <outputAssignments>
            <assignToReference>G_DTC_Cycle_Recordtype</assignToReference>
            <field>RecordType_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Passed_In_Contact</name>
        <label>Get Passed In Contact</label>
        <locationX>773</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Gender_Pronoun</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Court_Rep</assignToReference>
            <field>Court_Rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Gender</assignToReference>
            <field>Gender_CC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact_Recordtype</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Cycle</name>
        <label>Get Previous Cycle</label>
        <locationX>272</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Program_Variables_Decision</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Most_Recent_Program_Cycle_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program_Cycle__c</object>
        <outputAssignments>
            <assignToReference>Old_Compliance_Date</assignToReference>
            <field>Compliance_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Old_Mandate_Completed</assignToReference>
            <field>Mandatory_Sessions_Completed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Old_Mandate_Required</assignToReference>
            <field>Mandatory_Sessions_Required__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Court_Date</name>
        <label>Update Court Date</label>
        <locationX>498</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Clear_Compliance_Court_Date_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Adjournment_Court_Date_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdjournmentCourtDateId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Outcome__c</field>
            <value>
                <stringValue>Adjourned</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <screens>
        <name>Compliance_Information</name>
        <label>Compliance Information</label>
        <locationX>503</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_More_Dockets_Checkbox_to_Variable</targetReference>
        </connector>
        <fields>
            <name>ComplianceTitle</name>
            <fieldText>Enter the client&apos;s new conviction date and the compliance date will be calculated on the next screen, along with the number of days remaining in their mandate.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conviction_Date</name>
            <dataType>Date</dataType>
            <fieldText>Date re-sentenced by court</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Court_Part</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>JP5</choiceReferences>
            <choiceReferences>PT_A</choiceReferences>
            <choiceReferences>PT_B</choiceReferences>
            <choiceReferences>PT_C</choiceReferences>
            <choiceReferences>PT_D</choiceReferences>
            <choiceReferences>PT_E</choiceReferences>
            <choiceReferences>PT_F</choiceReferences>
            <choiceReferences>PT_N</choiceReferences>
            <choiceReferences>BTP1</choiceReferences>
            <choiceReferences>ASC</choiceReferences>
            <choiceReferences>AR1</choiceReferences>
            <choiceReferences>AR2</choiceReferences>
            <choiceReferences>AR3</choiceReferences>
            <choiceReferences>AR3A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>Court Part</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ComplianceInfoBlank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComplianceInfoBlank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ComplianceInfoBlank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EnterAttachedDocketsDesc</name>
            <fieldText>Check this box if the client have a new attached docket (an intake case that was not included in the original mandate).</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Attached_Dockets</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter attached dockets?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ComplianceInfoBlank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CasesAlreadyAdded</name>
            <fieldText>The following attached dockets have already been added: 
{!MandateList}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_Adjournment_Court_Date_Fault_Screen</name>
        <label>Create Adjournment Court Date Fault Screen</label>
        <locationX>1150</locationX>
        <locationY>887</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateAdjournmentCourtDateFaultDesc</name>
            <fieldText>The reinstatement process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_Compliance_Court_Date_Fault_Screen</name>
        <label>Create Compliance Court Date Fault Screen</label>
        <locationX>1177</locationX>
        <locationY>1463</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateAdjournmentCourtDateFaultDesc_1</name>
            <fieldText>The reinstatement process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_Program_Cycle_Fault_Screen</name>
        <label>Create Program Cycle Fault Screen</label>
        <locationX>302</locationX>
        <locationY>1781</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateProgramCycleFaultDesc</name>
            <fieldText>The reinstatement process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Display_Compliance_Closing_Dates</name>
        <label>Display Compliance/Closing Dates</label>
        <locationX>422</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Adjournment_Court_Date_ID</targetReference>
        </connector>
        <fields>
            <name>ComplianceClosingDatesCalculatedDesc</name>
            <fieldText>The Compliance and Closing Dates have been calculated, but you can change them if necessary.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Closing_Date_Update</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Closing_Date</elementReference>
            </defaultValue>
            <fieldText>Closing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Compliance_Date_Update</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Compliance_Date</elementReference>
            </defaultValue>
            <fieldText>Compliance Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ComplianceClosing_blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditNewMandateDesc</name>
            <fieldText>{!ContactName} completed {!Old_Mandate_Completed} of the {!Old_Mandate_Required} mandated sessions before {!Gender_Pronoun} original compliance date on {!Old_Compliance_Date}.

{!Gender_Pronoun_Capitalized} new mandate has been calculated as the number of remaining sessions, but you can modify this below if necessary.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Sessions_in_New_Mandate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>MandatedSessionsRemaining</elementReference>
            </defaultValue>
            <fieldText>Number of Sessions in New Mandate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>118</locationX>
        <locationY>1856</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finishdesc</name>
            <fieldText>Click &quot;Finish&quot; to exit to the client&apos;s contact page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Update_Adjournment_Court_Date_Fault_Screen</name>
        <label>Update Adjournment Court Date Fault Screen</label>
        <locationX>1140</locationX>
        <locationY>1159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateAdjournmentCourtDateFaultDesc_0</name>
            <fieldText>The reinstatement process has encountered an error. A message has been sent to the Database Helpdesk- you will be contacted when the issue is resolved, or if more info is needed. 

DO NOT click the back or reload buttons in your browser. Please click the &quot;Search Portal&quot; tab to begin working with a new client.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Set_bolComplete_to_false</startElementReference>
    <subflows>
        <name>Attached_Dockets_Subflow</name>
        <label>Attached Dockets Subflow</label>
        <locationX>965</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Enter_More_Attached_Dockets</targetReference>
        </connector>
        <flowName>Attached_Docket_Subflow</flowName>
        <inputAssignments>
            <name>MasterDocketId</name>
            <value>
                <elementReference>docketId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MandateCounter</name>
            <value>
                <elementReference>MandateCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>EnterMoreCases</assignToReference>
            <name>EnterMoreCases</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MandateCounter</assignToReference>
            <name>MandateCounter</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AdjournmentCourtDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AdjournmentPart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bolComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Closing_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Compliance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>complianceCourtDateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Court_Rep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docketId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnterMoreCases</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_CCM_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_Court_Date_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Contact_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>G_DTC_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender_Pronoun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender_Pronoun_Capitalized</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MandateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MandateList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Compliance_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_Mandate_Completed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Old_Mandate_Required</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Program</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Program_Cycle_Recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramCycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
