src/flows/TCU_V_Flow-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>About_every_day</name>
        <choiceText>About every day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>About every day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alcohol</name>
        <choiceText>Alcohol</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alcohol</stringValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>(blank)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cannaboids_Hashish</name>
        <choiceText>Cannaboids-Hashish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannaboids – Hashish (hash)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cannaboids_Marijuana</name>
        <choiceText>Cannaboids-Marijuana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannaboids – Marijuana (weed)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Club_Drugs_MDMA_GHB_Rohypnol_Ecstasy</name>
        <choiceText>Club Drugs – MDMA/GHB/Rohypnol (Ecstasy)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Club Drugs – MDMA/GHB/Rohypnol (Ecstasy)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Considerably</name>
        <choiceText>Considerably</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Considerably</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissociative_Drugs_Ketamine_PCP_Special_K</name>
        <choiceText>Dissociative Drugs – Ketamine/PCP (Special K)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissociative Drugs – Ketamine/PCP (Special K)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extremely</name>
        <choiceText>Extremely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hallucinogens_LSD_PCP_Psychedelics_Mushrooms</name>
        <choiceText>Hallucinogens/LSD/PCP/Psychedelics/Mushrooms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hallucinogens/LSD/PCP/Psychedelics/Mushrooms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inhalants_Solvents_paint_thinner</name>
        <choiceText>Inhalants – Solvents (paint thinner)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inhalants – Solvents (paint thinner)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Moderately</name>
        <choiceText>Moderately</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately</stringValue>
        </value>
    </choices>
    <choices>
        <name>Never</name>
        <choiceText>Never</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_at_all</name>
        <choiceText>Not at all</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not at all</stringValue>
        </value>
    </choices>
    <choices>
        <name>Only_a_few_times</name>
        <choiceText>Only a few times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Only a few times</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opioids_Heroin_smack</name>
        <choiceText>Opioids – Heroin (smack)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opioids – Heroin (smack)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opioids_Opium_tar</name>
        <choiceText>Opioids – Opium (tar)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opioids – Opium (tar)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_specify</name>
        <choiceText>Other (specify)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (specify)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_Medications_Depressants</name>
        <choiceText>Prescription Medications – Depressants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription Medications – Depressants</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_Medications_Opioid_Pain_Relievers</name>
        <choiceText>Prescription Medications – Opioid Pain Relievers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription Medications – Opioid Pain Relievers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prescription_Medications_Stimulants</name>
        <choiceText>Prescription Medications – Stimulants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prescription Medications – Stimulants</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slightly</name>
        <choiceText>Slightly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slightly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stimulants_Amphetamines_speed</name>
        <choiceText>Stimulants – Amphetamines (speed)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stimulants – Amphetamines (speed)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stimulants_Crack_Cocaine_rock</name>
        <choiceText>Stimulants – Crack Cocaine (rock)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stimulants – Crack Cocaine (rock)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stimulants_Methmphetamines_meth</name>
        <choiceText>Stimulants – Methmphetamines (meth)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stimulants – Methmphetamines (meth)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stimulants_Powder_Cocaine_coke</name>
        <choiceText>Stimulants – Powder Cocaine (coke)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stimulants – Powder Cocaine (coke)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Synthetic_Cathinones_Bath_Salts</name>
        <choiceText>Synthetic Cathinones (Bath Salts)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Synthetic Cathinones (Bath Salts)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Synthetic_Marijuana_K2_Spice</name>
        <choiceText>Synthetic Marijuana (K2/Spice)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Synthetic Marijuana (K2/Spice)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_3_times_a_month</name>
        <choiceText>1-3 times a month</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-3 times a month</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_5_times_a_week</name>
        <choiceText>1-5 times a week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-5 times a week</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_time</name>
        <choiceText>1 time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 time</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_times</name>
        <choiceText>2 times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2 times</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_times</name>
        <choiceText>3 times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 times</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_or_more_times</name>
        <choiceText>4 or more times</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 or more times</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Assessment</name>
        <label>Create New Assessment</label>
        <locationX>188</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_DontCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
        <rules>
            <name>YesCreateAssmt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_another_assessment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TCU_Exists</name>
        <label>TCU Exists?</label>
        <locationX>311</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TCU_Exists_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>containerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Exists</targetReference>
            </connector>
            <label>TCU Exists</label>
        </rules>
        <rules>
            <name>TCU_Does_Not_Exist_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>containerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TCU</targetReference>
            </connector>
            <label>TCU Does Not Exist</label>
        </rules>
    </decisions>
    <description>Input for account id, moved tcu screen</description>
    <interviewLabel>TCU V Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TCU V Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_TCU_Assmt_Record</name>
        <label>Create TCU Assmt Record</label>
        <locationX>415</locationX>
        <locationY>413</locationY>
        <assignRecordIdToReference>TCUId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_TCU_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AssessmentContainerId__c</field>
            <value>
                <elementReference>containerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q01_Longer_more_drugs_than_intended__c</field>
            <value>
                <elementReference>Longer_more_drugs_than_intended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q02_Try_to_cut_down__c</field>
            <value>
                <elementReference>Try_to_cut_down</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q03_Spend_a_lot_of_time__c</field>
            <value>
                <elementReference>Spend_a_lot_of_time_on_drugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q04_Strong_Desire_or_Urge__c</field>
            <value>
                <elementReference>Strong_desire_to_use_drugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q05_Kept_you_from_doing_work_school__c</field>
            <value>
                <elementReference>Kept_you_from_doing_work_school</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q06_Social_or_Interpersonal_Problems__c</field>
            <value>
                <elementReference>Social_or_Interpersonal_Problems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q07_Spend_less_time_at_work__c</field>
            <value>
                <elementReference>Spend_less_time_at_work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q08_Put_in_Physical_Danger__c</field>
            <value>
                <elementReference>Put_in_physical_danger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q09_physical_problems__c</field>
            <value>
                <elementReference>Physical_or_psych_problems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q10a_Increase_drug_amount__c</field>
            <value>
                <elementReference>Increase_drug_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q10b_Less_Effect__c</field>
            <value>
                <elementReference>Less_Effect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q11a_Get_sick_when_quitting__c</field>
            <value>
                <elementReference>Get_sick_when_quitting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q11b_Took_drugs_to_avoid_withdrawal__c</field>
            <value>
                <elementReference>Took_drugs_to_avoid_withdrawal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q12_Most_Serious_Problem__c</field>
            <value>
                <elementReference>Most_serious_problem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13a_Alcohol__c</field>
            <value>
                <elementReference>xAlcohol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13b_Cannaboids_Marijuana__c</field>
            <value>
                <elementReference>Cannaboids_Marijuana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13c_Cannaboids_Hashish__c</field>
            <value>
                <elementReference>Cannaboids_Hashish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13d_Synthetic_Marijuana__c</field>
            <value>
                <elementReference>SyntheticMarijuana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13e_Heroin__c</field>
            <value>
                <elementReference>OpioidsHeroin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13f_Opium__c</field>
            <value>
                <elementReference>OpioidsOpium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13g_Stimulants_Cocaine__c</field>
            <value>
                <elementReference>StimulantsPowderCocaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13h_Stimulants_Crack__c</field>
            <value>
                <elementReference>StimulantsCrackCocaine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13i_Amphetamines__c</field>
            <value>
                <elementReference>StimulantsAmphetamines</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13j_Methamphetamine__c</field>
            <value>
                <elementReference>StimulantsMethamphetamine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13k_Synthetic_Cathinones__c</field>
            <value>
                <elementReference>SyntheticCathinones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13l_Club_Drugs__c</field>
            <value>
                <elementReference>ClubDrugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13m_Dissociative__c</field>
            <value>
                <elementReference>Dissociative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13n_Hallucinogens__c</field>
            <value>
                <elementReference>Hallucinogens</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13o_Inhalants_Solvents__c</field>
            <value>
                <elementReference>X13o_Inhalants_Solvents</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13p_Depressants__c</field>
            <value>
                <elementReference>X13p_Depressants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13q_Stimulants__c</field>
            <value>
                <elementReference>Stimulants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13r_Opioids__c</field>
            <value>
                <elementReference>X13r_Opioids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13s_Other_drugs__c</field>
            <value>
                <elementReference>Other_drugs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q13t_Other_drugs_frequency__c</field>
            <value>
                <elementReference>Other_drugs_frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q14_Number_of_times_in_treatment__c</field>
            <value>
                <elementReference>Number_of_times_in_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q15_How_Serious_Drug_Problems__c</field>
            <value>
                <elementReference>How_serious_are_your_problems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q16_How_often_did_you_inject__c</field>
            <value>
                <elementReference>How_often_did_you_inject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q17_How_important_to_get_treatment__c</field>
            <value>
                <elementReference>How_important_to_get_treatment</elementReference>
            </value>
        </inputAssignments>
        <object>TCU_Screen_V__c</object>
    </recordCreates>
    <recordCreates>
        <name>TCU_Assmt_Container</name>
        <label>TCU Assmt Container</label>
        <locationX>419</locationX>
        <locationY>313</locationY>
        <assignRecordIdToReference>containerId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_TCU_Assmt_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentCode__c</field>
            <value>
                <elementReference>assmtCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assessmentName__c</field>
            <value>
                <elementReference>assmtName</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordCreates>
    <recordLookups>
        <name>Assessment_Container</name>
        <label>Assessment Container</label>
        <locationX>167</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TCU_Exists</targetReference>
        </connector>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TCU Drug Screen V</stringValue>
            </value>
        </filters>
        <object>AssessmentContainer__c</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedBy</assignToReference>
            <field>Assessment_Completed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtCompletedOn</assignToReference>
            <field>Assessment_Completed_on__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>containerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Assessment_List</name>
        <label>Assessment List</label>
        <locationX>419</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TCU_Assmt_Container</targetReference>
        </connector>
        <filters>
            <field>assessmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TCU Drug Screen V</stringValue>
            </value>
        </filters>
        <filters>
            <field>isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssessmentList__c</object>
        <outputAssignments>
            <assignToReference>assmtCode</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assmtName</assignToReference>
            <field>assessmentName__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_TCU_Record</name>
        <label>Lookup TCU Record</label>
        <locationX>418</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Container</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TCUId</elementReference>
            </value>
        </filters>
        <object>TCU_Screen_V__c</object>
        <outputAssignments>
            <assignToReference>tcuResult</assignToReference>
            <field>Result__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tcuTotScore</assignToReference>
            <field>TCU_Total_Score__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Container</name>
        <label>Update Container</label>
        <locationX>417</locationX>
        <locationY>625</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>containerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>assmResult__c</field>
            <value>
                <elementReference>tcuResult</elementReference>
            </value>
        </inputAssignments>
        <object>AssessmentContainer__c</object>
    </recordUpdates>
    <screens>
        <name>Assessment_Exists</name>
        <label>Assessment Exists</label>
        <locationX>188</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Assessment</targetReference>
        </connector>
        <fields>
            <name>assmtExists</name>
            <fieldText>A {!assmtName} assessment already exists for this client id.  It was created on {!assmtCompletedOn} by {!assmtCompletedBy}.  Do you want to create another assessment or go to next step?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_another_assessment</name>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create another assessment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TCU</name>
        <label>TCU</label>
        <locationX>418</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assessment_List</targetReference>
        </connector>
        <fields>
            <name>TCU_title</name>
            <fieldText>TCU</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Scored_Questions_title</name>
            <fieldText>Scored Questions</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Longer_more_drugs_than_intended</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>1. Longer/more drugs than intended?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you use larger amounts of drugs or use them for a longer time than you planned or intended?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Try_to_cut_down</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>2. Try to cut down?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you try to cut down on your drug use but were unable to do it?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spend_a_lot_of_time_on_drugs</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>3. Spend a lot of time on drugs?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you spend a lot of time getting drugs, using them, or recovering from their use?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Strong_desire_to_use_drugs</name>
            <choiceReferences>No_Radio</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>Blank</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>4. Strong desire to use drugs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Kept_you_from_doing_work_school</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>5. Kept you from doing work/school?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you get so high or so sick from drugs that it kept you from doing work, going to school, or caring for children?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Social_or_Interpersonal_Problems</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>6. Social or Interpersonal Problems</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you get so high or sick from drugs that it caused an accident or put you or others in danger?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Spend_less_time_at_work</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>7. Spend less time at work?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you spend less time at work, school, or with friends so that you could use drugs?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Put_in_physical_danger</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>8. Put in physical danger</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you drug use cause emotional and psychological problems?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Physical_or_psych_problems</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>9. Physical or psych problems?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you drug use cause physical health or medical problems?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Increase_drug_amount</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>10a. Increase drug amount?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you increase the amount of a drug you were taking so that you could get the same effects as before?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Less_Effect</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>10b. Less Effect</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Get_sick_when_quitting</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>11a. Get sick when quitting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you get sick or have withdrawal symptoms when you quit or missed taking a drug?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Took_drugs_to_avoid_withdrawal</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Yes_Radio</choiceReferences>
            <choiceReferences>No_Radio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>11b. Took drugs to avoid withdrawal?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Did you ever keep taking a drug to avoid withdrawal symptoms or keep from getting sick?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Drug_Inventory_title</name>
            <fieldText>Drug Inventory</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Most_serious_problem</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Alcohol</choiceReferences>
            <choiceReferences>Cannaboids_Marijuana</choiceReferences>
            <choiceReferences>Cannaboids_Hashish</choiceReferences>
            <choiceReferences>Synthetic_Marijuana_K2_Spice</choiceReferences>
            <choiceReferences>Opioids_Heroin_smack</choiceReferences>
            <choiceReferences>Opioids_Opium_tar</choiceReferences>
            <choiceReferences>Stimulants_Powder_Cocaine_coke</choiceReferences>
            <choiceReferences>Stimulants_Crack_Cocaine_rock</choiceReferences>
            <choiceReferences>Stimulants_Amphetamines_speed</choiceReferences>
            <choiceReferences>Stimulants_Methmphetamines_meth</choiceReferences>
            <choiceReferences>Synthetic_Cathinones_Bath_Salts</choiceReferences>
            <choiceReferences>Club_Drugs_MDMA_GHB_Rohypnol_Ecstasy</choiceReferences>
            <choiceReferences>Dissociative_Drugs_Ketamine_PCP_Special_K</choiceReferences>
            <choiceReferences>Hallucinogens_LSD_PCP_Psychedelics_Mushrooms</choiceReferences>
            <choiceReferences>Inhalants_Solvents_paint_thinner</choiceReferences>
            <choiceReferences>Prescription_Medications_Depressants</choiceReferences>
            <choiceReferences>Prescription_Medications_Stimulants</choiceReferences>
            <choiceReferences>Prescription_Medications_Opioid_Pain_Relievers</choiceReferences>
            <choiceReferences>Other_specify</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>12. Most serious problem</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Which drug caused the most serious problem?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>xAlcohol</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13a. Alcohol</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use this type of drug during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CannaboidsMarijuana</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13b.Cannaboids – Marijuana</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use marijuana/hashish during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CannaboidsHashish</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13c. Cannaboids – Hashish</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use hallucinogens/psychedelics during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SyntheticMarijuana</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13d. Synthetic Marijuana</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use inhalants during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpioidsHeroin</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13e. Opioids - Heroin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use crack/freebase cocaine during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OpioidsOpium</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13f. Opioids - Opium</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use heroin and cocaine (speedball) during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StimulantsPowderCocaine</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13g. Stimulants - Powder Cocaine</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use cocaine by itself during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StimulantsCrackCocaine</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13h. Stimulants - Crack Cocaine</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use heroin by itself during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StimulantsAmphetamines</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13i. Stimulants - Amphetamines</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use street methadone (non-prescription) during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StimulantsMethamphetamine</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13j. Stimulants - Methamphetamine</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SyntheticCathinones</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13k. Synthetic Cathinones</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClubDrugs</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13l. Club Drugs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use amphetamines (other uppers) during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dissociative</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13m. Dissociative</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How often did you use tranquilizers/barbiturates/sedatives (downers) during the last 12 months?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Hallucinogens</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13n. Hallucinogens</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X13o_Inhalants_Solvents</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13o. Inhalants - Solvents</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X13p_Depressants</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13p. Depressants</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Stimulants</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13q. Stimulants</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X13r_Opioids</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13r. Opioids</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_drugs</name>
            <dataType>String</dataType>
            <fieldText>13s. Other drugs</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Indicate other drugs used and enter the frequency below</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_drugs_frequency</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>13t. Other drugs frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Indicate the frequency with which other drugs (specified above) were used</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Questions_title</name>
            <fieldText>Other Questions</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_times_in_treatment</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <choiceReferences>X1_time</choiceReferences>
            <choiceReferences>X2_times</choiceReferences>
            <choiceReferences>X3_times</choiceReferences>
            <choiceReferences>X4_or_more_times</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>14. Number of times in treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How many times before now have you ever been in a drug treatment program? Do not include AA/NA/CA meetings.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_serious_are_your_problems</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Not_at_all</choiceReferences>
            <choiceReferences>Slightly</choiceReferences>
            <choiceReferences>Moderately</choiceReferences>
            <choiceReferences>Considerably</choiceReferences>
            <choiceReferences>Extremely</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>15. How serious are your problems?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How serious do you think your drug problems are?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_often_did_you_inject</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Only_a_few_times</choiceReferences>
            <choiceReferences>X1_3_times_a_month</choiceReferences>
            <choiceReferences>X1_5_times_a_week</choiceReferences>
            <choiceReferences>About_every_day</choiceReferences>
            <choiceReferences>Never</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>16. How often did you inject?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>During the last 12 months, how often did you inject drugs with a needle?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_important_to_get_treatment</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Not_at_all</choiceReferences>
            <choiceReferences>Slightly</choiceReferences>
            <choiceReferences>Moderately</choiceReferences>
            <choiceReferences>Considerably</choiceReferences>
            <choiceReferences>Extremely</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>17. How important to get treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>How important is it for you to get drug treatment now?</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Assessment_Container</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtCompletedOn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assmtResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>containerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Interview_Date_Default</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>TCUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcuResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcuTotScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
