src/flows/ticket_creation_process-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>contact_record_not_found</name>
        <label>contact record not found</label>
        <locationX>341</locationX>
        <locationY>70</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <inputParameters>
            <name>strContact</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>fault_case_not_foun_d</name>
        <label>fault case not foun d</label>
        <locationX>389</locationX>
        <locationY>461</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <inputParameters>
            <name>strContact</name>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>fault_create_ticket</name>
        <label>fault create ticket</label>
        <locationX>389</locationX>
        <locationY>158</locationY>
        <apexClass>pluginFaultHandling</apexClass>
        <inputParameters>
            <name>strContact</name>
        </inputParameters>
        <inputParameters>
            <name>strDML</name>
        </inputParameters>
        <inputParameters>
            <name>strFault</name>
        </inputParameters>
        <inputParameters>
            <name>strFlow</name>
        </inputParameters>
    </apexPluginCalls>
    <description>add contact id to ticket</description>
    <interviewLabel>ticket creation process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ticket creation process</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_new_ticket</name>
        <label>create new ticket</label>
        <locationX>123</locationX>
        <locationY>234</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>add_information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_create_ticket</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012600000009eKz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Salesforce User</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>find_contact_id_for_user</name>
        <label>find contact id for user</label>
        <locationX>125</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_new_ticket</targetReference>
        </connector>
        <faultConnector>
            <targetReference>contact_record_not_found</targetReference>
        </faultConnector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_case_with_contact_id</name>
        <label>update case with contact id</label>
        <locationX>134</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>fault_case_not_foun_d</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detailed_Description__c</field>
            <value>
                <elementReference>Detailed_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>short_description</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>add_information</name>
        <label>add information</label>
        <locationX>122</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_case_with_contact_id</targetReference>
        </connector>
        <fields>
            <name>short_description</name>
            <dataType>String</dataType>
            <fieldText>Short Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detailed_description</name>
            <fieldText>Detailed Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayuserid</name>
            <fieldText>{!userId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>findcontactforuser</name>
            <fieldText>{!find_contact_id_for_user}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>find_contact_id_for_user</startElementReference>
    <variables>
        <description>case which is being updated</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>id of found contact that matches passed-in user id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>passed-in user id from new ticket</description>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_recordtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
