src/flows/ticket_creation-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_New_Ticket_Received</name>
        <label>email New Ticket Received</label>
        <locationX>103</locationX>
        <locationY>357</locationY>
        <actionName>Case.New_Ticket_Received</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_Ticket_notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_caseid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Ticket_notification</name>
        <label>New Ticket notification</label>
        <locationX>104</locationX>
        <locationY>459</locationY>
        <actionName>Case.New_Ticket_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_caseid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <description>database team queue for tickets</description>
        <name>DatabaseTeam</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G60000002zBWH</stringValue>
        </value>
    </constants>
    <description>added email alert, added team notify</description>
    <interviewLabel>ticket creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ticket creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>find_contact_id_for_user</name>
        <label>find contact id for user</label>
        <locationX>102</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_contact_id</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_userid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_contactid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>add_contact_id</name>
        <label>add contact id</label>
        <locationX>102</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>email_New_Ticket_Received</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_caseid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_contactid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>DatabaseTeam</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>find_contact_id_for_user</startElementReference>
    <variables>
        <name>var_caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_contactid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
